<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>admin</title>
        <h:outputStylesheet library="css" name="jsfcrud.css"  />
        <script type="text/javascript">
            function redireccionar() {
                window.location = "../../inicio.xhtml";
            }
            setTimeout('redireccionar()', 500);
        </script>
    </h:head>
    <h:body>       
        <span style="color:#CECFCA ">
            un momento por favor
        </span>
    </h:body>
</html>

