<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"

      >

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="ajaxGif"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>        
        <div id="modalGif" >
            <div id="actualiza">
            <strong>Actualizando datos desde el Servidor</strong> <br/>
            <strong>Un Momento por favor....</strong>
            <h:graphicImage id="ajaxloader" name="ajaxloading.gif" library="images"/>
        </div>
            <script language="javascript" type="text/javascript">
                function showDateIndicator(data) {
                    //showIndicatorRegion(data, "dateIndicator");
                    showIndicatorRegion(data, "modalGif");
                }
                function showIndicatorRegion(data, regionId) {
                    if (data.status === "begin") {
                        document.getElementById(regionId).style.display = "inline";
                    } else if (data.status === "success") {
                        document.getElementById(regionId).style.display = "none";
                    }
                }
            </script>
        </div>
    </cc:implementation>
</html>