<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="countSolicitudEmp"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="ocreClaro">
            <h6>Solicitudes asignadas al &nbsp;#{loginBean.users.rol}&nbsp; </h6>
            <h:panelGrid columns="2">
                <h:outputLabel class="nred" value="&sdot; Solicitudes Vencidas N°&nbsp;"/>
                <h:outputText class="nred" value="#{solicitudBean.countSolicitudesFuncionarioVencidos('Asignado')}"/>

                <h:outputLabel value="&sdot; Solicitudes a vencerse N°&nbsp;"/>
                <h:outputText class="nred" value="#{solicitudBean.countSolicitudesFuncionarioPorVencerse('Asignado')}"/>

                <h:outputLabel value="&sdot; Solicitudes asignadas N°"/>
                <h:outputText class="nazul" value="#{solicitudBean.countSolicitudesSegunEstado('Asignado')}"/>

                <h:outputLabel value="&sdot; Solicitudes resueltas en el mes actual N°"/>
                <h:outputText class="nverde" value="#{solicitudBean.countSolicitudesMesSegunEstado('Resuelto')}"/>

                <h:outputLabel value="&sdot; Solicitudes entregadas en el mes actual N° &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                <h:outputText class="nverde" value="#{solicitudBean.countSolicitudesMesSegunEstado('Entregado')}"/>

                <h:outputLabel value="&sdot; Solicitudes archivadas en el mes actual N°"/>
                <h:outputText class="nverde" value="#{solicitudBean.countSolicitudesMesSegunEstado('Archivado')}"/>
            </h:panelGrid>
        </div>
    </cc:implementation>
</html>
