<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="estilos"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta
            name="viewport"
            content="
            width=device-width,
            initial-scale=1,
            minimum-scale=1,
            maximum-scale=1
            "
            />
        <h:outputStylesheet library="css" name="font-awesome.min.css"  />
        <h:outputStylesheet library="css" name="font-roboto.css"  />
        <h:outputStylesheet library="css" name="font-existence.css"  />
        <h:outputStylesheet library="css" name="reset.css"  />
        <h:outputStylesheet  library="css" name="text.css"  />
        <h:outputStylesheet library="css" name="#{vu.css1}"  />
        <h:outputStylesheet library="css" name="desktop.css"  />
        <h:outputStylesheet library="css" name="mobil.css"  />
        <h:outputStylesheet library="css" name="tablet.css"  />       
        <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/-->
        <h:outputScript library="js" name="adap.js"/>
        <h:outputScript library="js" name="script.js"/>
    </cc:implementation>
</html>