<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="headContent"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="headContent">
            <div class="grid-55  ">
                <div id="titulo" class="" style="color: #3F4036" >
                    ${vu.vur}<br/>
                </div>
                <div style="margin-left: 55px" class="verde grid-30 ">
                    Hola: #{loginBean.users.idUsuario.nombreCompleto}<br/>
                    BIENVENIDO <br/>
                </div>
            </div> 
            <div class="grid-15  ">
                &nbsp;
            </div>
            

            <div style="float: right" class="grid-20">
                <h:graphicImage  height="100" width="120" name="${vu.logo}" library="images"/>
            </div>     
           

            <div class="grid-20  ">
                &nbsp;
            </div>
            <div class="clear"/>
        </div>
    </cc:implementation>
</html>