<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
         <cc:attribute name="mb_responder"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
             <div id="content" class="container">
            <h:form>
                <div id="cabecera" class="row" >
                    <span  class="col-xs-2 ">
                        <div   id="elTel">8000-258963</div>
                        <div><i onmouseover="mostrar()"  onmouseout="ocultar()"  class="fa fa-phone fa-2x"></i>
                        </div>
                    </span>
                    <span style="text-align: center" class="col-xs-6">
                        <h:commandLink title="Responder Solicitudes" action="#{solicitudBean.verSolicitudesFuncionarioMobil()}">
                            <i class="fa fa-file-text fa-2x"></i>
                        </h:commandLink>
                    </span>
                    <span style="text-align: center" class="col-xs-2">
                        <h:commandLink title="Salir"  action="#{loginBean.logOut()}">
                            <i class="fa fa-times-circle-o fa-2x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-1 " style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} fa-2x"></i>
                        </h:commandLink>
                    </span>
                </div>
            </h:form>
            <div id="cuerpo" class="row" >
                <div class="col-xs-12">
                    Vista para m&oacute;bile<br/>
                    #{loginBean.nombreUsuario}<br/>
                    <!--el div = 2 lista de  Solicitudes de Funcionario-->
                    <h:form id="form2" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 2}">
                        <h:panelGrid columns="2" rendered="#{solicitudBean.elDiv == 2}">

                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" value="#{solicitudBean.solicitudesFuncionario}" var="item"
                                         rendered="#{solicitudBean.solicitudesFuncionario.size()>0}">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>                                            
                                    &nbsp;&nbsp;&nbsp; <h:outputText value="#{item.idSolicitud}"/>&nbsp;                                            

                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Asunto"/>
                                    </f:facet>                                
                                    &nbsp;&nbsp;&nbsp;<h:outputText value="#{item.concepto}"/> &nbsp;                                                           
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vence"/>
                                    </f:facet>
                                    <h:outputText value="#{item.venceFechaString}"/>
                                </h:column> 
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Estado"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Solicitud"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <i class='fa fa-eye'></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                    </f:facet>                                
                                    <h:commandLink action="#{solicitudBean.visualizarSolicitudMobil(item)}">
                                        &nbsp; &nbsp;<h:graphicImage height="13" width="20" library="images" name="eyes.png"/>
                                    </h:commandLink>

                                </h:column>
                            </h:dataTable>                              

                        </h:panelGrid>
                    </h:form>

                    <!--el div = 4  solicitud actual y boton crear respuesta de funcionario -->
                    <h:form id="form4" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 4}">
                        En solicitud para ir a  respuesta
                        <h:panelGrid id="sol" columns="3" rendered="#{solicitudBean.elDiv == 4}">
                            <h:outputText value="Ciudadano :"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.idUsuario.toString()}" title="IdUsuario"/>

                            <h:outputText value="Requerimiento:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                            <h:outputText value="Asunto:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                            <h:outputText value="Descripcion:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                            <h:outputText value="Creado:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.creadoFechaString}" title="Creado"/>
                            <h:outputText value="Vence:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="Vence"/>
                            <h:outputText value="Eje Tematico:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.toString()}" title="IdEjeTematico"/>
                            <h:outputText value="Estado Requerimiento:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.toString()}" title="IdEstadoRequerimiento"/>
                            <h:outputText value="Tipo Solicitud:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.toString()}" title="IdTipoSolicutd"/>
                            <h:outputText value="Tipo Requerimiento:"/>
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.toString()}" title="IdTipoRequerimiento"/>
                        </h:panelGrid>
                        <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                     border="0" cellpadding="2" cellspacing="0" 
                                     style="border:solid 1px" 
                                     value="#{solicitudBean.listaArchivoDeSolicitud}" var="item"
                                     rendered="#{solicitudBean.listaArchivoDeSolicitud.size()>0}"
                                     >
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Anexos"/>
                                </f:facet>
                                &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Tipo"/>
                                </f:facet>
                                &nbsp;&nbsp;<h:outputText value="#{item.tipoArchivo}"/>&nbsp;&nbsp;
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <i class="fa fa-download "></i>
                                </f:facet>
                                &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                            </h:column>
                        </h:dataTable><br/>

                        <h:commandLink action="#{solicitudBean.crearRespuestaFuncionario()}" value="ver-Responder Solicitud" class="button" rendered="#{solicitudBean.botonVerResponderSolicitud() == false}">
                        </h:commandLink> &nbsp;&nbsp;&nbsp;&nbsp;
                        <h:commandLink action="#{solicitudBean.verRespuestaDeSolicitud()}" value="verRespuestaDeSolicitud" class="button" rendered="#{solicitudBean.botonVerRespuestaSolicitud()}">
                        </h:commandLink><br/><br/>
                        <h:outputText value="haz click en  el boton si tiene respuesta" rendered="#{solicitudBean.botonVerRespuestaSolicitud()==false}"/>
                    </h:form>
                    <!-- el div =5 respuesta Nueva de solicitud por parte del funcionario -->
                    <h:form id="form5" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==5}">
                        <h1>Reponder Solicitud</h1>
                        <h:panelGrid columns="3" >
                            <h:outputLabel value="Radicado:" for="idSolicitud" />
                            <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                            <h:outputText id="idSolicitudRespuesta" value="#{solicitudBean.respuesta.idSolicitud.toString()}" title="IdSolicitud" />                                       

                            <h:outputLabel value="Ciudadano " for="idCiudadano" />
                            <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                            <h:outputText id="idCiudadano" value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="IdSolicitud" />                                       

                            <h:outputLabel value="Id:" for="idRespuesta" />
                            <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                            <h:outputText  id="idRespuesta" value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta" />
                            <h:outputLabel value="Fecha de Solicitud:" for="fecha" />
                            <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                            <h:outputText id="fecha" value="#{solicitudBean.getFecha(solicitudBean.respuesta.fecha)}" title="Fecha" >
                                <f:convertDateTime parent="dd/MM/yyyy HH:mm:ss"/>
                            </h:outputText>                     
                            <h:outputLabel value="Respuesta:" for="respuesta" />
                            <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                            <h:inputTextarea rows="4" cols="30" id="respuesta" value="#{solicitudBean.respuesta.respuesta}" title="Respuesta" />
                            <h:outputLabel value="Sugerencia:" for="sugerencia" />
                            <h:outputLabel value="&nbsp;&nbsp;&nbsp;"  />
                            <h:inputTextarea rows="4" cols="30" id="sugerencia" value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia" />
                            <h:outputLabel value="Tiempo Respuesta:" for="tiempo de Respuesta" />
                            <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                            <h:outputText id="tiempoRespuesta" value="#{solicitudBean.respuesta.tiempoRespuesta}" title="TiempoRespuesta" />
                            <h:outputLabel value="Funcionario:" for="idUsuario" />
                            <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                            <h:outputText id="idUsuario" value="#{solicitudBean.respuesta.idUsuario.nombreCompleto}" title="IdUsuario" />
                        </h:panelGrid><br/><br/>
                        <h:commandLink  action="#{solicitudBean.commitRespuestaMObil()}" value="Responder Solicitud" class="button col-xs-10" >
                        </h:commandLink><br/><br/>
                        
                        <h:commandLink class="button col-xs-7" value="Cancelar"  action="#{solicitudBean.cancelarAnexoArchivoEdicion()}"></h:commandLink>
                    <br/><br/>
                    </h:form>


                     <!-- el div =8 respuesta Nueva de solicitud por parte del funcionario -->
                        <h:form id="form8" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==8}">
                            <h:panelGrid columns="3" >
                                <h:outputText value="Id:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta"/>
                                <h:outputText value="Fecha:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.fechaString}" title="Fecha"/>
                                <h:outputText value="Respuesta:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.respuesta}" title="Respuesta"/>
                                <h:outputText value="Sugerencia:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia"/>
                                <h:outputText value="TiempoRespuesta:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.getTiempo(solicitudBean.respuesta.tiempoRespuesta)}" title="TiempoRespuesta"/>
                                <h:outputText value="IdSolicitud:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idSolicitud}" title="IdSolicitud"/>
                                <h:outputText value="IdUsuario:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idUsuario.toString()}" title="IdUsuario"/>
                            </h:panelGrid><br/>

                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" 
                                         value="#{solicitudBean.listaArchivoDeRespuesta}" var="item"
                                         rendered="#{solicitudBean.listaArchivoDeRespuesta.size()>0}"
                                         >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Anexos"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                                </h:column>                                
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa fa-download "></i>
                                    </f:facet>
                                    &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                                </h:column>
                            </h:dataTable>
                            <h:commandLink action="#{solicitudBean.verSolicitudesFuncionarioEnAdmin()}" value="Terminar" class="button col-xs-7" rendered="#{solicitudBean.elDiv==8}"></h:commandLink>
                           <br/><br/>
                            <h:commandLink action="#{solicitudBean.habilitarEdicion()}" value="Editar Respuesta" class="button col-xs-7" rendered="#{solicitudBean.elDiv==8}"></h:commandLink>
                            <br/><br/>
                            <h:commandLink action="#{solicitudBean.agregarArchivoRespuesta()}" value="Anexar-Archivo a Respuesta" class="button col-xs-12" rendered="#{solicitudBean.elDiv==8}">
                            </h:commandLink>
                        </h:form>
                        <h:form id="form" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==0}">
                            Agregar archivo
                            <!-- Sigue  binding="{subirArchivosBean.adjuntosDataTable}" -->
                            <div style="padding: 20px" id="marcoDiv">
                                <h:panelGrid columns="1"  bgcolor="#ebf1f6" >
                                    <h:outputText value="Haga click en agregar para anexar un  Archivo"/>
                                    <h:panelGroup id="grp">                                        
                                        <h:dataTable id="adjuntos" value="#{subirArchivosBean.entradaActual.adjuntos}"  var="a" >
                                            <h:column>
                                                <i class="fa fa-paperclip fa-2x"></i>
                                            </h:column>
                                            <h:column>
                                                &nbsp; &nbsp;
                                            </h:column>
                                            <h:column>
                                                <h:outputText  value="#{a.nombreAdjunto}" />
                                            </h:column>

                                        </h:dataTable>
                                        <h:button  class="button2" title="Agregar Archivo" image="../../images/fa-upload-1.png"   onclick='window.open("#{facesContext.externalContext.requestContextPath}/servlet/upload/form", "archivo Excel", "width=500,height=200")'/>
                                        &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  

                                    </h:panelGroup>

                                    <h:commandButton class="button" value="Anexar Archivo" action="#{solicitudBean.commitAnexarArchivo('mb_responder')}" />

                                    <h:commandButton style="visibility:hidden" value="Recargar..." id="recargar" class="button">
                                        <f:ajax render="grp" execute="@form" onevent="showDateIndicator"/>
                                    </h:commandButton><br/>
                                    <h:commandLink class="button" value="Cancelar"  action="#{solicitudBean.cancelarAnexoArchivoMobil()}"></h:commandLink>
                                </h:panelGrid>

                            </div>

                        </h:form>



                </div>
            </div>

            <div   class="row" style="margin:-5px 0 0 -23px; width: 100%">
                <div style=" width: 110%" id="pie" class="col-xs-12 visible-xs">&nbsp;<br/>&nbsp;<br/></div>
                <div style=" width: 105%" id="pie" class="col-xs-12 hidden-xs">&nbsp;<br/>&nbsp;<br/></div>
            </div>
        </div>
    
    </cc:implementation>
</html>