<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="navCiudadano"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
            <div id="cabecera" class="grid-99" >
                <span  id="tel" class="grid-15">
                    <div  class="fa" id="elTel">&nbsp;&nbsp; 8000-258963&nbsp;&nbsp;</div>
                    <i style="transform: translate(0px);"  onmouseover="mostrar()"  onmouseout="ocultar()" id="tel" class="fa fa-phone fa-2x"></i>
                </span>
                <span class="grid-20">&nbsp;&nbsp;
                    <h:commandLink value="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}"/>
                    &nbsp;</span>
                <span class="grid-25 cel escritorio">&nbsp;
                    <h:commandLink value="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}"/>&nbsp;</span>
                <span class="grid-20 cel escritorio">&nbsp;
                    <h:commandLink value="Mis Datos" action="misDatos"/></span>
                <span class="grid-15">&nbsp;
                    <h:commandLink value="Salir" action="#{loginBean.logOut()}"/>&nbsp;</span>
                <span class="mobile-grid-5">
                    <h:commandLink action="ciudadano">
                        <i class="fa #{vu.home} fa-2x  "></i>
                    </h:commandLink>
                </span>
                <div class="clear"/>

            </div>
        </h:form>
    </cc:implementation>
</html>