<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="navSolicitudAdmin"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="formNav" styleClass="jsfcrud_list_form">
            <div class="subnav">
                <span class="grid-5">&nbsp;</span>
                 <span class="grid-10">&nbsp;
                    <h:commandLink value="Buscar" action="#{solicitudBean.buscarSolicitud()}"/>&nbsp;
                </span>
                <span class="grid-20">
                    <h:commandLink rendered="#{loginBean.users.rol == 'ADMIN'}" value="Solic_Dependencia " action="#{solicitudBean.verSolicitudesDependencia()}"/>                            
                    <h:commandLink rendered="#{loginBean.users.rol == 'SUPER'}" value="Solic_Dependencia " action="#{solicitudBean.verSolicitudesDependencia()}"/>
                </span>
                <span class="grid-20"><h:commandLink value="Solic_Asignadas" action="#{solicitudBean.verSolicitudesFuncionarioEnAdmin()}"></h:commandLink></span>                        
                <span class="grid-20"><h:commandLink value="Mis_Solic." action="#{solicitudBean.verMisSolicitudesEnDependencia()}"></h:commandLink></span>
                <span class="grid-15"><h:commandLink value="Crear_Solic." action="#{solicitudBean.visualizarNuevaSolicitud()}"></h:commandLink></span>

                <div class="clear"/>
            </div>
        </h:form>
    </cc:implementation>
</html>
