<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Admin RespSol</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <!-- 
            elDiv 5 : respuesta nueva de solicitud por parte del funcionario 
            elDiv 8 : visualiza la respuestad efuncionario
        -->
        <div id="content" class="grid-container">
            <ezcomp:navAdmin/>

            <div class="cuerpo">
                <ezcomp:navSolicitudEmp/>
                <ezcomp:headContent/>
                <div class=" grid-10">&nbsp;</div>
                <div class="marco grid-70">

                    <div class="panel">
                        <!-- el div =5 respuesta Nueva de solicitud por parte del funcionario -->
                        <h:form id="form5" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==5}">
                            <h1>Reponder Solicitud</h1>
                            <h:panelGrid columns="3" >
                                <h:outputLabel value="Solicitud:" for="idSolicitud" />
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText id="idSolicitudRespuesta" value="#{solicitudBean.respuesta.idSolicitud.toString()}" title="IdSolicitud" />                                       

                                <h:outputLabel value="Ciudadano " for="idCiudadano" />
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText id="idCiudadano" value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="IdSolicitud" />                                       

                                <h:outputLabel value="Id:" for="idRespuesta" />
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText  id="idRespuesta" value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta" />
                                <h:outputLabel value="Fecha de Solicitud:" for="fecha" />
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText id="fecha" value="#{solicitudBean.getFecha(solicitudBean.respuesta.fecha)}" title="Fecha" >
                                    <f:convertDateTime parent="dd/MM/yyyy HH:mm:ss"/>
                                </h:outputText>                     
                                <h:outputLabel value="Respuesta:" for="respuesta" />
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:inputTextarea rows="4" cols="30" id="respuesta" value="#{solicitudBean.respuesta.respuesta}" title="Respuesta" />
                                <h:outputLabel value="Sugerencia:" for="sugerencia" />
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:inputTextarea rows="4" cols="30" id="sugerencia" value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia" />
                                <h:outputLabel value="Tiempo Respuesta:" for="tiempo de Respuesta" />
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText id="tiempoRespuesta" value="#{solicitudBean.respuesta.tiempoRespuesta}" title="TiempoRespuesta" />
                                <h:outputLabel value="Funcionario:" for="idUsuario" />
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText id="idUsuario" value="#{solicitudBean.respuesta.idUsuario.nombreCompleto}" title="IdUsuario" />
                            </h:panelGrid>
                            <h:commandLink action="#{solicitudBean.commitRespuestaFuncionario()}" value="Responder Solicitud" class="button" >
                            </h:commandLink>
                            &nbsp; &nbsp; &nbsp;
                            <h:commandLink class="button" value="Cancelar"  action="#{solicitudBean.cancelarAnexoArchivoEdicion()}"></h:commandLink>
                        </h:form>
                        <!-- el div =8 respuesta Nueva de solicitud por parte del funcionario -->
                        <h:form id="form8" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==8}">
                            <h:panelGrid columns="3" >
                                <h:outputText value="Id:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta"/>
                                <h:outputText value="Fecha:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.fechaString}" title="Fecha"/>
                                <h:outputText value="Respuesta:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.respuesta}" title="Respuesta"/>
                                <h:outputText value="Sugerencia:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia"/>
                                <h:outputText value="TiempoRespuesta:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.getTiempo(solicitudBean.respuesta.tiempoRespuesta)}" title="TiempoRespuesta"/>
                                <h:outputText value="IdSolicitud:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idSolicitud}" title="IdSolicitud"/>
                                <h:outputText value="IdUsuario:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idUsuario.toString()}" title="IdUsuario"/>
                            </h:panelGrid>

                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" 
                                         value="#{solicitudBean.listaArchivoDeRespuesta}" var="item"
                                         rendered="#{solicitudBean.listaArchivoDeRespuesta.size()>0}"
                                         >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Anexos"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                                </h:column>                                
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa fa-download "></i>
                                    </f:facet>
                                    &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                                </h:column>
                            </h:dataTable>
                            <h:commandLink action="#{solicitudBean.verSolicitudesFuncionarioEnAdmin()}" value="Terminar" class="button" rendered="#{solicitudBean.elDiv==8}"></h:commandLink>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h:commandLink action="#{solicitudBean.habilitarEdicion()}" value="Editar Respuesta" class="button" rendered="#{solicitudBean.elDiv==8}"></h:commandLink>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h:commandLink action="#{solicitudBean.agregarArchivoRespuesta()}" value="Anexar-Archivo a Respuesta" class="button" rendered="#{solicitudBean.elDiv==8}">
                            </h:commandLink>
                        </h:form>
                        <h:form id="form" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==0}">
                            Agregar archivo
                            <!-- Sigue  binding="{subirArchivosBean.adjuntosDataTable}" -->
                            <div style="padding: 20px" id="marcoDiv">
                                <h:panelGrid columns="1"  bgcolor="#ebf1f6" >
                                    <h:outputText value="Haga click en agregar para anexar un  Archivo"/>
                                    <h:panelGroup id="grp">                                        
                                        <h:dataTable id="adjuntos" value="#{subirArchivosBean.entradaActual.adjuntos}"  var="a" >
                                            <h:column>
                                                <i class="fa fa-paperclip fa-2x"></i>
                                            </h:column>
                                            <h:column>
                                                &nbsp; &nbsp;
                                            </h:column>
                                            <h:column>
                                                <h:outputText  value="#{a.nombreAdjunto}" />
                                            </h:column>

                                        </h:dataTable>
                                        <h:button  class="button2" title="Agregar Archivo" image="../../images/fa-upload-1.png"   onclick='window.open("#{facesContext.externalContext.requestContextPath}/servlet/upload/form", "archivo Excel", "width=500,height=200")'/>
                                        &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  

                                    </h:panelGroup>

                                    <h:commandButton class="button" value="Anexar Archivo" action="#{solicitudBean.commitAnexarArchivo('responderSolicitud')}" />

                                    <h:commandButton style="visibility:hidden" value="Recargar..." id="recargar" class="button">
                                        <f:ajax render="grp" execute="@form" onevent="showDateIndicator"/>
                                    </h:commandButton><br/>
                                    <h:commandLink class="button" value="Cancelar"  action="#{solicitudBean.cancelarAnexoArchivoEdicion()}"></h:commandLink>
                                </h:panelGrid>

                            </div>

                        </h:form>

                    </div>
                    <div class="clear"/>
                </div>
                <div class="clear"/>
            </div>
            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
            <div class="clear"/>
        </div>
        <ezcomp:ajaxScript/>
    </h:body>
</html>

