/* mobile style*/
@media only screen and (max-width:480px){
    .inicioBack{
        background-color: #AFBD90;
        background-image:none; /* url("../images/inicio-1280.jpg");*/

    }
    .cel{
        display: inline;
    }

    .tableta{
        display: none;
    }

    .escritorio{
        display: none;
    }
}

/* tablet style*/
@media only screen and (min-width:481px) and  (max-width:780px){    
    .tableta{
        display: inline;
    }
    .escritorio{
        display: none;
    }
    .inicioBack{ 
        background-color: #67851C;
        background-image:url("../images/inicio-1280.jpg");   
    }
}
/* desktop style*/
@media only screen and (min-width:781px){
    .inicioBack{   
        background-color: #67851C;
        background-image:url("../images/inicio-1280.jpg");   
    }
    /*    .cel{
            display: none;
        } 
        .tableta{
            display: none;
        }
    
        .escritorio{
            display: inherit;
        }*/
}


