<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Admin</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <!-- ve las solicitudes asignadas a la dependencia-->
        <!-- asignacion de  solicitud a funcionario-->
        <!-- ver Datos de solicitud a (Respuesta y Anexos)-->
        <!-- el div =3 visualiza lista de solicitudes de dependencia-->
        <!-- el div =7 visualiza la solicitud seleccionada-->
        <!-- el div =2 visualiza la asignacion de solicitud seleccionada-->
        <div id="content" class="grid-container">
            <ezcomp:navAdmin/>
            <div class="cuerpo">
                <ezcomp:navSolicitudEmp/>
                <ezcomp:headContent/>
                <div class=" grid-10">&nbsp;</div>

                <div class="marco grid-8">

                    <div class="panel">
                        <!-- el div =3 visualiza respuesta actual de funcionario-->
                        <h:form id="form3" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 3}">                               
                            <h:panelGrid columns="2" >
                                <h:dataTable rendered="#{solicitudBean.solicitudesDependencia.size()>0}"  rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                             border="0" cellpadding="2" cellspacing="0" 
                                             style="border:solid 1px"
                                             value="#{solicitudBean.solicitudesDependencia}" var="item">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idSolicitud}"/>
                                    </h:column>                                
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Concepto"/>
                                        </f:facet>
                                        <h:outputText value="#{item.concepto}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Creado"/>
                                        </f:facet>
                                        <h:outputText value="#{solicitudBean.getFecha(item.creado)}">
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </h:column>                                
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Vence"/>
                                        </f:facet>
                                        <h:outputText value="#{solicitudBean.getFecha(item.vence)}">
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Tema"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idEjeTematico.tema}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Usuario"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idUsuario.nombreCompleto}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Estado"/>
                                        </f:facet>
                                        <h:outputText value="#{solicitudBean.verEstadoDeSolicitud(item)}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Tipo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Requerimiento"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idTipoRequerimiento.tipo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Asignado"/>
                                        </f:facet>
                                        <h:outputText value="#{solicitudBean.verEmpleadoAsignado(item)}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <i class='fa fa-eye'></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                        </f:facet>                                
                                        <h:commandLink action="#{solicitudBean.visualizarSolicitudEnDependencia(item)}"> 
                                            &nbsp; &nbsp;<h:graphicImage height="13" width="20" library="images" name="eyes.png"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGrid>
                        </h:form>

                        <!---elDiv = 7 Visualiza la solicitud seleccionada para ser asgnada .toString()-->
                        <h:form rendered="#{solicitudBean.elDiv==7}" styleClass="jsfcrud_list_form">
                            <h:panelGrid columns="2">
                                <h:outputText value="Id:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                                <h:outputText value="Asunto:"/>
                                <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                                <h:outputText value="Detalle:"/>
                                <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                                <h:outputText value="Creado:"/>
                                <h:outputText value="#{solicitudBean.getFechaCreado(solicitudBean.solicitud)}" title="Creado">
                                    <f:convertDateTime pattern="dd/MM/yyy HH:MM:SS"/>
                                </h:outputText>
                                <h:outputText value="Vence:"/>
                                <h:outputText value="#{solicitudBean.getFechaVence(solicitudBean.solicitud)}" title="Vence">
                                    <f:convertDateTime pattern="dd/MM/yyy HH:MM:SS"/>
                                </h:outputText>
                                <h:outputText value="Tema:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.tema}" title="IdEjeTematico"/>
                                <h:outputText value="Ciudadano:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="IdUsuario"/>
                                <h:outputText value="Estado:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.estado}" title="Estado Requerimiento"/>
                                <h:outputText value="Tipo:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.tipo}" title="Tipo Solicutd"/>
                                <h:outputText value="Requerimiento&nbsp;&nbsp;&nbsp;&nbsp;:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.tipo}" title="Tipo Requerimiento"/>
                            </h:panelGrid>
                            <h:commandLink class="button" value="Asignar" action="#{solicitudBean.asignarSolicitud()}">                                
                            </h:commandLink>
                        </h:form>
                        <!---elDiv = 2 Visualiza la asignacion de  solicitud seleccionada para ser asgnada -->
                        <h:form  styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==2}">

                            Solicitud : #{solicitudBean.solicitud.toString()}<br/>

                            <h:panelGrid columns="2">
                                <h:outputText value="IdAsignado:"/>
                                <h:outputText value="#{solicitudBean.asignado.idAsignado}" title="IdAsignado"/>
                                <h:outputText value="FechaAsignado:"/>
                                <h:outputText value="#{solicitudBean.asignado.fechaAsignado}" title="FechaAsignado">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                                <h:outputText value="Habilitado:"/>
                                <h:outputText value="#{solicitudBean.asignado.habilitado}" title="Habilitado"/>
                                <h:outputText value="Estado:"/>
                                <h:outputText value="#{solicitudBean.asignado.estado}" title="Estado"/>
                                <h:outputText value="IdSolicitud:"/>
                                <h:outputText value="#{solicitudBean.asignado.idSolicitud}" title="IdSolicitud"/>
                                <h:outputText value="Empleado:"/>
                                <h:selectOneMenu value="#{solicitudBean.asignado.idEmpleado}" title="IdEmpleado">
                                    <f:selectItems value="#{empleadoController.itemsAvailableSelectOne}"/>
                                    <f:ajax render="empl" execute="@form" onevent="showDateIndicator"/>
                                </h:selectOneMenu>
                                <h:outputText value="Empleado:"/>
                                <h:outputText id="empl" value="#{solicitudBean.asignado.idEmpleado.toString()}"/>
                            </h:panelGrid>
                            <h:commandLink class="button" value="Asignar Empĺeado" action="#{solicitudBean.actualizarAsignado()}">                               
                            </h:commandLink>
                        </h:form>
                        <ezcomp:ajaxGif/>
                    </div>

                </div>
                <div class="grid-5">&nbsp;</div>

                <div class="grid-100">&nbsp;</div>
                <div class="clear"/>
            </div>

            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>
        <ezcomp:ajaxScript/>
    </h:body>
</html>

