
/* 
    Created on : 29/07/2015, 10:38:30 AM
    Author     : jesus
*/
h1{
    color: #998953;
}
textarea {
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 2px #ccc;
}
select {
    border-radius:  0px;
    border: 1px solid #ccc;
    background: url('../../images/ajaxloading.gif') no-repeat scroll 319px 5px #D1E6D5;
    /* background: transparent url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png') no-repeat right center;*/
}

.bordeGris {
    border: 1px solid #ccc;
}
input {
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 2px #ccc;
}

.sombraInset {
    box-shadow: inset 2px 2px 2px #ccc;
}
#modalGif{
    background-color: rgba(255,255,255, 1);                
    position: fixed;
    left: 0px;
    top: 0px;
    padding-top: 25%;
    padding-left:  40%;
    z-index: 10000;
    width: 100%;
    height: 100%;               
    display: none;
}
#cabecera{
    /*background-color: darkcyan;*/
}
/*.subnav{
    background-color: #B5B147;
}*/
/*.cuerpo{
    background-color: #BCCF95;CECFCA;
    color: #4e6a71;
    padding: 0px 0px 10px 0px;
}*/
.panel{
    color: #000;
}

a {
    color: #E9EDF0;
    text-decoration-line: none;
}
a:link {
    color: #E9EDF0;
}

/* visited link */
a:visited {
    color: #E9EDF0;
}

/* mouse over link */
a:hover {
    color: #000;
}