@font-face {
	font-family: 'existence';
	src: url('../fonts/existence/Existence-Light.otf');
	src: local('existence'), 
            url('../fonts/existence/Existence-Light.otf') format('otf'),
            url('../fonts/existence/Existence-Light.woff') format('woff');
/*            url('../fonts/JINKY/JINKY.ttf') format('truetype');*/
}
.existence {
	font-family: 'existence' !important;        
}


