@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/Roboto-Thin.ttf');
	src: local('roboto'), 
            /*url('../fonts/roboto/GeosansLight.ttf') format('ttf'), **/
            url('../fonts/roboto/Roboto-Thin.woff') format('woff');
        font-weight: lighter;
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_54572">Text with this font applied</p> */
.roboto {
	font-family: 'roboto' !important;
        font-size: 25px;
}



