@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/Roboto-Thin.ttf');
	src: local('roboto'), 
            /*url('../fonts/roboto/GeosansLight.ttf') format('ttf'), **/
            url('../fonts/roboto/Roboto-Thin.woff') format('woff');
        font-weight: normal;
}
.clear{
    clear: both;
}

root{ 
    display: block;
}



body {
    font-family:'roboto', Arial, Helvetica, sans-serif;
    color: #ccc;
    background-color: #fefeff;
    font-size: medium;
    font-weight: bolder;
}

#content {
    font-family: 'roboto', Arial, Helvetica, sans-serif;;/*Open Sans Condensed;*/
    color: #5B585C;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #eff5fa;
    /*border: solid 1px #ccc;*/
    box-shadow: 2px 2px 5px #9C9C9C;
    font-weight:bold;
}

a {
    color: #ccc;
    text-decoration: none;
}
a:link {
    color: #ccc;
}

/* visited link */
a:visited {
    color: #ccc;
}

/* mouse over link */
a:hover {
    color: #003602;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #C6D6B2; /*#b2d5d6;*/
    border-bottom-color:#C6D6B2; /*#b2d5d6;*/
    border-left-color: #AFBD90;/* #90b4bd;*/
    border-right-color:#AFBD90;/* #90b4bd;*/
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #BCCF95;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #C6D6B2; /*#b2d5d6;*/
    border-bottom-color: #C6D6B2; /*#b2d5d6;*/
    border-left-color: #C6D6B2; /*#b2d5d6;*/
    border-right-color: #C6D6B2; /*#b2d5d6;*/
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #D6DBA7;
    color: #3F4036;
}


tr.jsfcrud_even_row {
    background-color: #E0EBBC;
    color: #3F4036;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
/******************/

input{
    text-align: center;
    padding: 10px 0px 10px 0px;
    border: 0px;
    border-radius: 0px 0px;
    -webkit-border-radius: 0px 0px;  /* Safari  */
    -moz-border-radius: 0px 0px;
}

.marco{   
    padding: 15px;
    width: auto;
    background-color: #EFF2E9;
    border: solid 1px #ccc;
    box-shadow: 2px 1px 2px #8F9984;
    border-radius: 3px 3px 3px 3px;
}

.marcoOscuro{   
    padding: 15px;
    width: auto;
    background-color: #67851C;
    border: solid 1px #737373;
    box-shadow: 2px 1px 2px #8F9984;
    border-radius: 3px 3px 3px 3px;
}
.headContent{
    /*background-color: */
}

.borde{
    border: 1px solid #AE24E0;
}
.verde{
    padding: 8px;
    color: #fff;
    background-color: #018706;
    border: 0px;
}
.ocreClaro{
    font-family: Lato;
    font-size: 12px;
    padding: 8px;
    color: #3F4036;
    background-color: #C9D48A;
    border: 0px;
}

.nred{
    color: red;
}
.nverde{
    color: green;
}
.nazul{
    color: blue;
}

.button{
    padding: 10px 26px 10px 26px;
    color: #fff;
    background-color: #018706;
    border: 0px;
    border-radius: 0px 0px;
    -webkit-border-radius: 0px 0px;  /* Safari  */
    -moz-border-radius: 0px 0px;
}
.button:hover{
    box-shadow: 2px 2px 2px #003602;
}

.button2 {
    font-size: 18px;
    padding: 10px 26px 10px 26px;
    color: #fff;
    background-color: #fff;
    border:  1px solid #9c9c9c;
    border-radius: 0px 0px;
    -webkit-border-radius: 0px 0px;  /* Safari  */
    -moz-border-radius: 0px 0px;
}
.button2 :hover{
    box-shadow: 2px 2px 2px #003602;
}

div{
    padding:4px 4px 4px 8px;
    /* border: 1px solid #ccc;*/
}

#cabecera{    
    background-color: #018706;
    font-size: 20px;
    padding: 5px 0px 0px 0px; 
    color: #ffffff;
}
#inicio{
/*    background-color: #67851C;*/
/*    background-image:url("../images/inicio-1280.jpg");*/
    font-size: 25px;
    color: #ffffff;
    height: auto;
}
#cuerpo{
    background-color: #E1E6E2;
    color: #4e6a71;
/*    padding: 10px 30px 10px 30px;*/
}
.cuerpo{
    background-color: #CECFCA;
    color: #4e6a71;
    padding: 0px 0px 10px 0px;
}

.cuerpo2{
    background-color:#CECFCA;
    color: #4e6a71;
    padding: 10px 30px 10px 30px;
}
.subnav{
    background-color: #B5B147;
}
#pie{
    background-color: #018706;
}
#titulo{
    font-size: 35px;
    padding-left: 55px;
}
#logo{
    text-align: center;    
}
#form{
    /*text-align: center;*/
    color: #737373;
    font: Lato;
}
#recordar{
    padding-left: 20px;
    font-size: 20px;

}
#bienvenido{
    padding: 4px;
    color: #018706;
    font-size: 20px;
    background-color: rgba(255,255,255,0.5);
}

#elTel{
    display: none;
    background-color: #BCCF95;
    color: #3F4036;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transform: translate(-200px);
    -o-transform: translate(-200px);
    -moz-transform: translate(-200px);
    -ms-transform: translate(-200px);
}
#tel{
    -webkit-transform: translate(-60px);
    -o-transform: translate(-60px);
    -moz-transform: translate(-60px);
    -ms-transform: translate(-60px);
}
