<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Super - Cargos</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navSuper/>

            <div class="cuerpo">
                <h:form styleClass="jsfcrud_list_form">
                    <div class="subnav">
                        <span class="grid-10">&nbsp;</span>
                        <span class="grid-30"><h:commandLink value="Instituci&oacute;n " action="#{gestionInstitucionBean.irInstitucion()}"></h:commandLink></span>
                        <span class="grid-30"><h:commandLink value="Dependencias " action="#{gestionDependenciaBean.irDependencia()}"></h:commandLink></span>
                        <span class="grid-20"><h:commandLink value="Cargos " action="#{gestionCargoBean.verCargos()}"></h:commandLink></span>
                        <div class="clear"/> 
                    </div>
                </h:form>
                <ezcomp:headContent/>
                <div class=" grid-10">&nbsp;</div>
                <div class="marco grid-70">
                    <h:form  id="tbl" styleClass="jsfcrud_list_form">
                        <div class="panel">
                            <!--Mostrar todas los Cargos-->
                            <h:panelGrid columns="4" rendered="#{gestionCargoBean.elDiv == 1}">
                                <h:outputText value="Dependencia"/>
                                <h:selectOneMenu id="idDepe" value="#{gestionCargoBean.dependencia}" title="IdDependencia" >
                                    <f:selectItems value="#{dependenciaController.itemsAvailableSelectOne}"/>
                                    <f:ajax onevent="showDateIndicator" render="tbl" execute="@form"/>
                                </h:selectOneMenu>
                                <h:outputText value="&nbsp;"/>
                                <h:commandLink action="#{gestionCargoBean.verListaCargosDeDependencia()}" value="Ver Cargos de Dependencia" class="button"/>
                                <h:outputText value="#{gestionCargoBean.dependencia.toString()}"/>
                            </h:panelGrid>
                            <ezcomp:ajaxGif/>
                            <h:panelGrid columns="2" rendered="#{gestionCargoBean.elDiv == 1}">
                               

                                <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                             rendered="#{gestionCargoBean.listaCargosDeDependencia.size() > 0}"
                                             border="0" cellpadding="2" cellspacing="0" 
                                             style="border:solid 1px" value="#{gestionCargoBean.listaCargosDeDependencia}" var="item">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idCargo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Cargo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.nombre}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <i class="fa fa-check-circle"></i>
                                        </f:facet>
                                        <h:outputLabel rendered="#{item.activo}" >
                                            &nbsp; <i class="fa fa-check"></i>&nbsp;
                                        </h:outputLabel>
                                        <h:outputLabel rendered="#{item.activo == false}" >
                                            &nbsp; <i class="fa fa-close"></i>&nbsp;
                                        </h:outputLabel>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <i class='fa fa-eye'></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                        </f:facet>                                
                                        <h:commandLink action="#{gestionCargoBean.visualizarCargo(item)}">
                                            &nbsp;&nbsp;<h:graphicImage width="15"  height="10" library="images" name="eyes.png"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                                <h:commandLink action="#{gestionCargoBean.cargarVistaNuevo()}" value="crearCargo" class="button>"/>
                            </h:panelGrid>
                            <h:panelGrid columns="2" rendered="#{gestionCargoBean.elDiv == 1}">
                                <h:commandButton class="button" value="Agregar Cargo" action="#{gestionCargoBean.cargarVistaNuevo()}"/>
                          
                            </h:panelGrid>

                            <!--el Div 2 Ver Cargo -->
                            <h:panelGrid columns="2" rendered="#{gestionCargoBean.elDiv == 2}">
                                <h1><h:outputText value="Vista"/></h1>
                                <h:outputText/>
                                <h:outputText value="IdCargo:"/>
                                <h:outputText value="#{gestionCargoBean.cargo.idCargo}" title="IdCargo"/>
                                <h:outputText value="Nombre:"/>
                                <h:outputText value="#{gestionCargoBean.cargo.nombre}" title="Nombre"/>
                                <h:outputText value="Activo:"/>
                                <h:outputText value="#{gestionCargoBean.cargo.activo}" title="Activo"/>
                            </h:panelGrid>
                            <h:panelGrid columns="2" rendered="#{gestionCargoBean.elDiv == 2}">
                                <h:commandButton class="button" value="Editar" action="#{gestionCargoBean.cargarVistaEditar()}"/>
                            </h:panelGrid>

                            <!-- el div 3 Crear y Editar Cargo -->
                            <h:panelGrid columns="2" rendered="#{gestionCargoBean.elDiv == 3}">
                                <h1><h:outputText value="Editar - Nuevo"/></h1>
                                <h:outputText/>
                                <h:outputLabel value="Id:" for="idCargo" />
                                <h:outputText id="idCargo" value="#{gestionCargoBean.cargo.idCargo}"  />
                                <h:outputLabel value="Nombre:" for="nombre" />
                                <h:inputText id="nombre" value="#{gestionCargoBean.cargo.nombre}" title="Nombre" />
                                <h:outputLabel value="Activo:" for="activo" />
                                <h:selectBooleanCheckbox id="activo" value="#{gestionCargoBean.cargo.activo}" title="Activo" >
                                
                                </h:selectBooleanCheckbox>
                                <h:outputLabel value="IdDependencia:" for="idDependencia" />
                                <h:selectOneMenu id="idDependencia" value="#{gestionCargoBean.cargo.idDependencia}" title="IdDependencia" >
                                   
                                    <f:selectItems value="#{dependenciaController.itemsAvailableSelectMany}"/>
                                </h:selectOneMenu>
                            </h:panelGrid>
                            <h:panelGrid columns="2" rendered="#{gestionCargoBean.elDiv == 3}">
                                <h:commandButton class="button" value="Guardar" action="#{gestionCargoBean.crearActualizarCargo()}"/>
                            </h:panelGrid>
                        </div>
                        <div class="clear"/>
                    </h:form>
                </div>
                <div class="clear"/>
            </div>

            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>
                <ezcomp:ajaxScript/>
    </h:body>

</html>

