<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Super - Usuarios</title>
        <ezcomp:estilos/> 
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <!-- gestiona  los ejes tematicos-->
        <div id="content" class="grid-container">
            <ezcomp:navSuper/>
            <div class="cuerpo">
                <h:form  styleClass="jsfcrud_list_form">
                    <div class="subnav"> 
                        <span class="grid-20">&nbsp;</span>
                        <span class="grid-20"><h:commandLink value="Crear Empleado " action="#{gestionUsuarioBean.visualizarCrearNuevoUsuario()}"></h:commandLink></span>
                        <span class="grid-20"><h:commandLink value="Editar Usuario " action="#{gestionUsuarioBean.visualizarEditarNuevoUsuario()}"></h:commandLink></span>
                        <span class="grid-30"><h:commandLink value="Editar Empleado " action="#{gestionUsuarioBean.visualizarEditarEmpleado()}"></h:commandLink></span>
                        <div class="clear"/>
                    </div>
                </h:form>
                <ezcomp:headContent/>
                <div class=" grid-10">&nbsp;</div>
                <div class="marco grid-70">

                    <div class="panel">
                        <!-- eldiv = 0 lista de servicios n table-->
                        <h:form id="form" styleClass="jsfcrud_list_form">
                            #{gestionUsuarioBean.elDiv}
                            <h:messages errorStyle="color: red" infoStyle="color: green" />
                            <h:panelGrid rendered="#{gestionUsuarioBean.elDiv==0}" >
                                <h1 id="titulo"> Bienvenido al Panel de Usuario</h1>
                                <span>Seleccione crear o editar seg&uacute;n el caso</span>
                            </h:panelGrid>
                            <h:panelGroup id="crear">
                                <!-- elDiv = 0-->
                                <h:panelGrid id="forlu0" columns="3" rendered="#{gestionUsuarioBean.elDiv==10}" >
                                    <h:outputLabel value="Paso 1 Datos Basicos de crear Empleado"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputText value="Buscar Documento de Identidad en el sistema"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:inputText id="doc1"  value="#{gestionUsuarioBean.docId}" />
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:commandLink action="#{gestionUsuarioBean.consulteUsuarioDocId()}" value="Buscar" class="button"/>
                                </h:panelGrid>
                                <!-- elDiv = 11 Paso 1 Datos Basicos de crear Empleado-->
                                <h:panelGrid id="forlu" columns="2" rendered="#{gestionUsuarioBean.elDiv==11}" >
                                    <h:outputLabel value="Paso 1 Datos Basicos de crear Empleado"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>                                    
                                    <h:outputText value="Formulario Nuevo Usuario"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputLabel for="id1" value="Id:" />
                                    <h:inputText disabled="true" id="id1" value="#{gestionUsuarioBean.currentUsuario.idUsuario}"/>

                                    <h:outputLabel for="nombre1" value="Primer Nombre:" />
                                    <h:inputText id="nombre1" value="#{gestionUsuarioBean.currentUsuario.nombre}"/>

                                    <h:outputLabel for="nombre2" value="Segundo Nombre:" />
                                    <h:inputText id="nombre2" value="#{gestionUsuarioBean.currentUsuario.otroNombre}"/>

                                    <h:outputLabel for="apellido1" value="Primer Apellido:" />

                                    <h:inputText id="apeliido1" value="#{gestionUsuarioBean.currentUsuario.apellido}"/>
                                    <h:outputLabel for="apeliido2" value="Segundo Apellido:" />
                                    <h:inputText id="apeliido2" value="#{gestionUsuarioBean.currentUsuario.otroApellido}"/>

                                    <h:outputLabel for="tdocumento" value="Tipo documento:" />
                                    <h:selectOneMenu id="tdocumento" value="#{gestionUsuarioBean.currentUsuario.tipoDoc}">
                                        <f:selectItems value="#{gestionUsuarioBean.tipoDocumento}"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="documento" value="No. Documento:" />
                                    <h:inputText disabled="true" id="documento" value="#{gestionUsuarioBean.currentUsuario.docId}"/>

                                    <h:outputLabel for="Rol" value="Grupo:" />
                                    <h:selectOneMenu  id="grupo" value="#{gestionUsuarioBean.currentUsuario.grupo}">
                                        <f:selectItems value="#{usuarioController.itemsGrupoUsuarioSuper}"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="correo" value="E-Mail:" />
                                    <h:inputText id="correo" value="#{gestionUsuarioBean.currentUsers.mail}"/>


                                    <h:outputLabel for="telefono" value="Tel&eacute;fono:" />
                                    <h:inputText id="telcasa" value="#{gestionUsuarioBean.selectedCurrentDireccion.telCasa}"/>

                                    <h:outputLabel for="web" value="Pagina Web:" />
                                    <h:inputText id="web" value="#{gestionUsuarioBean.selectedCurrentDireccion.web}"/>


                                    <h:outputLabel for="pais" value="Pa&iacute;s:" />
                                    <h:selectOneMenu id="pais" value="#{ciudadController.pais}">
                                        <f:selectItems value="#{paisController.itemsAvailableSelectOne}"/>
                                        <f:ajax render="dep paisR" execute="@form" onevent="showDateIndicator"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="dep" value="Departamento" />
                                    <h:selectOneMenu id="dep" value="#{ciudadController.departamento}">
                                        <f:selectItems value="#{ciudadController.itemsDepartamentoDePais}"/>
                                        <f:ajax render="ciu depR forlu" execute="@form" onevent="showDateIndicator"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="ciu" value="Municipio:" />
                                    <h:selectOneMenu id="ciu" value="#{ciudadController.ciudad}">
                                        <f:selectItems value="#{ciudadController.itemsCiudadDeDepartamento}"/>
                                        <f:ajax render="lug ciudR forlu" execute="@form" onevent="showDateIndicator"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel for="lug" value="Lugar:" />
                                    <h:selectOneMenu id="lug" value="#{gestionUsuarioBean.lugar}">
                                        <f:selectItems value="#{ciudadController.itemsLugarDeCiudad}"/>
                                        <f:ajax render="forlu" execute="@form" onevent="showDateIndicator"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="tipl1" value="Tipo Lugar:" />
                                    <h:outputText id="tipl1" value="#{gestionUsuarioBean.lugar.idTipoLugar.nombre}"/>

                                    <h:outputLabel for="direccion" value="Direccion:" />
                                    <h:inputText id="direccion" value="#{gestionUsuarioBean.selectedCurrentDireccion.direccion}"/>


                                    <h:outputText style="visibility: hidden" id="paisR" value="#{ciudadController.pais.nombre}" />
                                    <h:outputText style="visibility: hidden" id="depR" value="#{ciudadController.departamento.nombre}" />
                                    <h:outputText style="visibility: hidden" id="ciudR" value="#{ciudadController.ciudad.nombre}" />
                                </h:panelGrid>                                
                                <h:panelGrid rendered="#{gestionUsuarioBean.elDiv==11}">
                                    <h:commandLink action="#{gestionUsuarioBean.commitUsuarioFuncioNarioAdmin()}" value="Agregar Nuevo Usuario" class="button">
                                    </h:commandLink>
                                </h:panelGrid>
                                <ezcomp:ajaxGif/>


                                <!-- elDiv = 12 Paso 2 Datos de Empĺeado ver Empleado-->

                                <h:panelGrid columns="2" rendered="#{gestionUsuarioBean.elDiv==12}" >                                    
                                    <h:outputLabel value="Paso 2 Datos de Empĺeado ver Empleado"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputText value="IdUsuario:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.idUsuario}" title="IdUsuario"/>

                                    <h:outputText value="NombreCompleto:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.nombreCompleto}" title="NombreCompleto"/>
                                    <h:outputText value="DocId:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.docId}" title="DocId"/>
                                    <h:outputText value="TipoDoc:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.tipoDoc}" title="TipoDoc"/>

                                    <h:outputText value="Grupo:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.grupo}" title="Grupo"/>
                                    <h:outputText value="E-mail:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsers.mail}" title="IdUsers"/>
                                    <h:outputText value="N° Accesos:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsers.numAccesos}" title="IdUsers"/>

                                    <h:outputText value="IdEmpleado:"/>
                                    <h:outputText value="#{gestionUsuarioBean.empleado.idCargo.nombre}" title="IdEmpleado"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:commandLink action="#{gestionUsuarioBean.habilitarCrearEmpleado()}" value="Agregar Cargo" rendered="#{gestionUsuarioBean.verBotonAgregarCargo()==false}" class="button"/>

                                    <h:commandLink action="#{gestionUsuarioBean.habilitarEditarEmpleado()}" value="Editar Cargo" rendered="#{gestionUsuarioBean.verBotonAgregarCargo()}" class="button"/>
                                </h:panelGrid>
                                <!-- eldiv = 13 formulario de crear empleado -->
                                <ezcomp:ajaxGif/>
                                <h:panelGrid id="pnlEmp" columns="2" rendered="#{gestionUsuarioBean.elDiv==13}" > 
                                    <h:outputLabel value="Paso 3 Ingresar datos de Empĺeado"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/> 
                                    <h:outputLabel value="IdUsuario:" for="idUsuario" />
                                    <h:outputText id="idUsuario" value="#{gestionUsuarioBean.empleado.idUsuario.nombreCompleto}" title="IdUsuario" />
                                    <h:outputLabel value="Id:" for="idEmpleado" />
                                    <h:outputText id="idEmpleado" value="#{gestionUsuarioBean.empleado.idEmpleado}" title="IdEmpleado" />
                                    <h:outputLabel value="Fecha de Registro:" for="fechaRegistro" />
                                    <h:outputText id="fechaRegistro" value="#{gestionUsuarioBean.empleado.fechaString}" title="FechaRegistro" />
                                    <h:outputLabel value="Eps:" for="eps" />
                                    <h:selectOneMenu id="eps" value="#{gestionUsuarioBean.empleado.eps}" title="Eps" >
                                        <f:selectItems value="#{empleadoController.epsLista}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Cesantias:" for="cesantias" />
                                    <h:selectOneMenu id="cesantias" value="#{gestionUsuarioBean.empleado.cesantias}" title="Cesantias" >
                                        <f:selectItems value="#{empleadoController.cesantiaLista}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Pension:" for="pension" />
                                    <h:selectOneMenu id="pension" value="#{gestionUsuarioBean.empleado.pension}" title="Pension" >
                                        <f:selectItems value="#{empleadoController.pensionLista}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Activo:" for="activo" />
                                    <h:selectBooleanCheckbox id="activo" value="#{gestionUsuarioBean.empleado.activo}" title="Activo" />
                                    <h:outputLabel value="IdEstadoLaboral:" for="idEstadoLaboral" />
                                    <h:selectOneMenu id="idEstadoLaboral" value="#{gestionUsuarioBean.empleado.idEstadoLaboral}" title="IdEstadoLaboral" >
                                        <f:selectItems value="#{estadoLaboralController.itemsAvailableSelectOne}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Dependencia:" for="Dependencia" />
                                    <h:selectOneMenu id="idDependencia" value="#{cargoController.dependencia}" title="Dependencia" >
                                        <f:selectItems value="#{dependenciaController.itemsAvailableSelectOne}"/>
                                        <f:ajax execute="@form" onevent="showDateIndicator" render="pnlEmp"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="IdCargo:" for="idCargo" />
                                    <h:selectOneMenu id="idCargo" value="#{gestionUsuarioBean.empleado.idCargo}" title="IdCargo" >
                                        <f:selectItems value="#{cargoController.itemsAvailableSelectOneDeDependencia}"/>
                                        <f:ajax execute="@form" onevent="showDateIndicator" render="pnlEmp"/>
                                    </h:selectOneMenu>
                                    <h:outputText value="&nbsp;"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:commandLink action="#{gestionUsuarioBean.crearEditarEmpleado()}" value="Agregar-Editar Cargo" class="button"/>
                                    <h:outputText value="&nbsp;"/>
                                </h:panelGrid>
                            </h:panelGroup>
                            <!-- Editar datos de usuario-->
                            <h:panelGroup id="editarUsuario" >
                                <h:panelGrid columns="3" rendered="#{gestionUsuarioBean.elDiv==20}">
                                    <h:outputLabel value=" Paso 0  buscar doc id en el sistema par editar usuario"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputText value="Buscar Documento de Identidad en el sistema"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:inputText id="doc2"  value="#{gestionUsuarioBean.docId}" />
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:commandLink action="#{gestionUsuarioBean.consulteUsuarioDocId()}" value="Buscar" class="button"/>
                                </h:panelGrid>

                                <h:panelGrid columns="2" rendered="#{gestionUsuarioBean.elDiv==21}">
                                    <h:outputLabel value="Paso 2 Datos de Empĺeado ver Empleado"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputText value="Usuario:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.idUsuario}" title="IdUsuario"/>

                                    <h:outputText value="Nombre Completo:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.nombreCompleto}" title="NombreCompleto"/>
                                    <h:outputText value="Doc Identidad:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.docId}" title="DocId"/>
                                    <h:outputText value="Tipo Documento:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.tipoDoc}" title="TipoDoc"/>

                                    <h:outputText value="Grupo:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.grupo}" title="Grupo"/>
                                    <h:outputText value="E-mail:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsers.mail}" title="IdUsers"/>
                                    <h:outputText value="N° Accesos:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsers.numAccesos}" title="IdUsers"/>

                                    <h:outputText value="Empleado:"/>
                                    <h:outputText value="#{gestionUsuarioBean.empleado.idCargo.nombre}" title="IdEmpleado"/>
                                    <h:outputText value="Dirección:"/>
                                    <h:outputText value="#{gestionUsuarioBean.selectedCurrentDireccion.direccion}" title="IdEmpleado"/>

                                    <h:outputText value="&nbsp;"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:commandLink action="#{gestionUsuarioBean.habilitarCrearEmpleado()}" value="Agregar Cargo" rendered="#{gestionUsuarioBean.verBotonAgregarCargo()==false}" class="button"/>

                                    <h:commandLink action="#{gestionUsuarioBean.habilitarEditarUsuario()}" value="Editar Datos" rendered="#{gestionUsuarioBean.verBotonAgregarCargo()}" class="button"/>
                                </h:panelGrid>
                                <h:panelGrid columns="2" rendered="#{gestionUsuarioBean.elDiv==22}">
                                    Paso 2 Editar Datos de Empĺeado de  Empleado
                                </h:panelGrid>
                                <h:panelGrid id="usin22" columns="2" rendered="#{gestionUsuarioBean.elDiv==22}" >

                                    <h:outputText value="Formulario Edición de datos de Usuario"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputLabel for="id2" value="Id:" />
                                    <h:inputText disabled="true" id="id22" value="#{gestionUsuarioBean.currentUsuario.idUsuario}"/>

                                    <h:outputLabel for="nombre1" value="Primer Nombre:" />
                                    <h:inputText id="nombre22" value="#{gestionUsuarioBean.currentUsuario.nombre}"/>

                                    <h:outputLabel for="nombre2" value="Segundo Nombre:" />
                                    <h:inputText id="otNombre22" value="#{gestionUsuarioBean.currentUsuario.otroNombre}"/>

                                    <h:outputLabel for="apellido1" value="Primer Apellido:" />
                                    <h:inputText id="apeliido22" value="#{gestionUsuarioBean.currentUsuario.apellido}"/>
                                    <h:outputLabel for="apeliido2" value="Segundo Apellido:" />
                                    <h:inputText id="otApeliido22" value="#{gestionUsuarioBean.currentUsuario.otroApellido}"/>

                                    <h:outputLabel for="tdocumento" value="Tipo documento:" />
                                    <h:selectOneMenu id="tdocumento22" value="#{gestionUsuarioBean.currentUsuario.tipoDoc}">
                                        <f:selectItems value="#{gestionUsuarioBean.tipoDocumento}"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="documento" value="No. Documento:" />
                                    <h:inputText disabled="true" id="documento22" value="#{gestionUsuarioBean.currentUsuario.docId}"/>

                                    <h:outputLabel for="Rol" value="Grupo:" />
                                    <h:selectOneMenu  id="grupo22" value="#{gestionUsuarioBean.currentUsuario.grupo}">
                                        <f:selectItems value="#{usuarioController.itemsGrupoUsuario}"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="correo" value="E-Mail:" />
                                    <h:inputText id="correo22" value="#{gestionUsuarioBean.currentUsers.mail}"/>


                                    <h:outputLabel for="telefono" value="Tel&eacute;fono:" />
                                    <h:inputText id="telcasa22" value="#{gestionUsuarioBean.selectedCurrentDireccion.telCasa}"/>

                                    <h:outputLabel for="web" value="Pagina Web:" />
                                    <h:inputText id="web22" value="#{gestionUsuarioBean.selectedCurrentDireccion.web}"/>

                                    <h:outputLabel for="pais1" value="Pa&iacute;s:" />
                                    <h:selectOneMenu id="pais1" value="#{ciudadController.pais}">
                                        <f:selectItems value="#{paisController.itemsAvailableSelectOne}"/>
                                        <f:ajax render="dep1 paisR1 usin22" execute="@form" onevent="showDateIndicator"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="dep1" value="Departamento" />

                                    <h:selectOneMenu id="dep1" value="#{ciudadController.departamento}">
                                        <f:selectItems value="#{ciudadController.itemsDepartamentoDePais}"/>
                                        <f:ajax render="ciu1 depR1 usin22" execute="@form" onevent="showDateIndicator"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="ciu1" value="Municipio:" />

                                    <h:selectOneMenu id="ciu1" value="#{ciudadController.ciudad}">
                                        <f:selectItems value="#{ciudadController.itemsCiudadDeDepartamento}"/>
                                        <f:ajax render="lug1 ciudR1 usin22" execute="@form" onevent="showDateIndicator"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel for="lug1" value="Lugar:" />

                                    <h:selectOneMenu id="lug1" value="#{gestionUsuarioBean.lugar}" required="true" requiredMessage="El lugar es obligatorio">
                                        <f:selectItems value="#{ciudadController.itemsLugarDeCiudad}"/>
                                        <f:ajax render="usin22 tipl11" execute="@form" onevent="showDateIndicator"/>
                                    </h:selectOneMenu>

                                    <h:outputLabel for="tipl11 " value="Tipo Lugar:" />                                           
                                    <h:outputText id="tipl11" value="#{gestionUsuarioBean.lugar.idTipoLugar.nombre}"/>


                                    <h:outputLabel for="direccion1" value="Direccion:" />
                                    <h:inputText id="direccion1" value="#{gestionUsuarioBean.selectedCurrentDireccion.direccion}"/>


                                    <h:outputText style="visibility: hidden" id="paisR1" value="#{ciudadController.pais.nombre}" />
                                    <h:outputText style="visibility: hidden" id="depR1" value="#{ciudadController.departamento.nombre}" />
                                    <h:outputText style="visibility: hidden" id="ciudR1" value="#{ciudadController.ciudad.nombre}" />
                                </h:panelGrid>                                
                                <h:panelGrid rendered="#{gestionUsuarioBean.elDiv==22}">
                                    <h:commandLink action="#{gestionUsuarioBean.editarDatosEmpleado()}" value="Actualizar Datos" class="button"/>
                                </h:panelGrid>
                                <ezcomp:ajaxGif/>
                            </h:panelGroup>
                            <!-- Editar datos de Empleado-->
                            <h:panelGroup id="editarEmpleado" >
                                <h:panelGrid columns="3" rendered="#{gestionUsuarioBean.elDiv==30}">
                                    <h:outputLabel value=" Paso 0  buscar doc id en el sistema par editar usuario"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputText value="Buscar Documento de Identidad en el sistema"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:inputText id="doc3"  value="#{gestionUsuarioBean.docId}" />
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:commandLink action="#{gestionUsuarioBean.consulteEmpleadoPorDocId()}" value="Buscar" class="button"/>
                                </h:panelGrid>

                                <h:panelGrid columns="2" rendered="#{gestionUsuarioBean.elDiv==31}">
                                    <h:outputLabel value="Paso 2 Edicion de Empĺeado ver Empleado"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputText value="IdUsuario:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.idUsuario}" title="IdUsuario"/>

                                    <h:outputText value="NombreCompleto:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.nombreCompleto}" title="NombreCompleto"/>
                                    <h:outputText value="DocId:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.docId}" title="DocId"/>
                                    <h:outputText value="TipoDoc:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.tipoDoc}" title="TipoDoc"/>

                                    <h:outputText value="Grupo:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsuario.grupo}" title="Grupo"/>
                                    <h:outputText value="E-mail:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsers.mail}" title="IdUsers"/>
                                    <h:outputText value="N° Accesos:"/>
                                    <h:outputText value="#{gestionUsuarioBean.currentUsers.numAccesos}" title="IdUsers"/>

                                    <h:outputText value="IdEmpleado:"/>
                                    <h:outputText value="#{gestionUsuarioBean.empleado.idCargo.nombre}" title="IdEmpleado"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:commandLink action="#{gestionUsuarioBean.habilitarCrearEmpleado()}" value="Agregar Cargo" rendered="#{gestionUsuarioBean.verBotonAgregarCargo()==false}" class="button"/>
                                    <h:commandLink action="#{gestionUsuarioBean.habilitarEditarEmpleado()}" value="Editar Cargo" rendered="#{gestionUsuarioBean.verBotonAgregarCargo()}" class="button"/>
                                </h:panelGrid>
                                <h:panelGrid columns="2" rendered="#{gestionUsuarioBean.elDiv==32}"> 
                                    <h:outputLabel value="Paso 3 EDITAR datos de Empĺeado"/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;"/> 
                                    <h:outputLabel value="Usuario:" for="idUsuario" />
                                    <h:outputText id="idUsuarioE" value="#{gestionUsuarioBean.empleado.idUsuario.nombreCompleto}" title="IdUsuario" />
                                    <h:outputLabel value="Id:" for="idEmpleado" />
                                    <h:outputText id="idEmpleadoE" value="#{gestionUsuarioBean.empleado.idEmpleado}" title="IdEmpleado" />
                                    <h:outputLabel value="Fecha de Registro:" for="fechaRegistro" />
                                    <h:outputText id="fechaRegistroE" value="#{gestionUsuarioBean.empleado.fechaString}" title="FechaRegistro" />
                                    <h:outputLabel value="Eps:" for="eps" />
                                    <h:selectOneMenu id="epsE" value="#{gestionUsuarioBean.empleado.eps}" title="Eps" >
                                        <f:selectItems value="#{empleadoController.epsLista}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Cesantias:" for="cesantias" />
                                    <h:selectOneMenu id="cesantiasE" value="#{gestionUsuarioBean.empleado.cesantias}" title="Cesantias" >
                                        <f:selectItems value="#{empleadoController.cesantiaLista}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Pensi&oacute;n:" for="pension" />
                                    <h:selectOneMenu id="pensionE" value="#{gestionUsuarioBean.empleado.pension}" title="Pension" >
                                        <f:selectItems value="#{empleadoController.pensionLista}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Estado:" for="activo" />
                                    <h:selectBooleanCheckbox id="activoE" value="#{gestionUsuarioBean.empleado.activo}" title="Activo" />
                                    <h:outputLabel value="Estado Laboral:" for="idEstadoLaboral" />
                                    <h:selectOneMenu id="idEstadoLaboralE" value="#{gestionUsuarioBean.empleado.idEstadoLaboral}" title="IdEstadoLaboral" >
                                        <f:selectItems value="#{estadoLaboralController.itemsAvailableSelectOne}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Dependencia:" for="Dependencia" />
                                    <h:selectOneMenu id="idDependenciaE" value="#{cargoController.dependencia}" title="Dependencia" >
                                        <f:selectItems value="#{dependenciaController.itemsAvailableSelectOne}"/>
                                        <f:ajax execute="@form" onevent="showDateIndicator" render="idCargoE"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Cargo:" for="idCargo" />
                                    <h:selectOneMenu id="idCargoE" value="#{gestionUsuarioBean.empleado.idCargo}" title="IdCargo" >
                                        <f:selectItems value="#{cargoController.itemsAvailableSelectOneDeDependencia}"/>
                                        <f:ajax execute="@form" onevent="showDateIndicator" render="pnlEmp"/>
                                    </h:selectOneMenu>
                                    <h:outputText value="&nbsp;"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:commandLink action="#{gestionUsuarioBean.crearEditarEmpleado()}" value="Agregar-Editar Cargo" class="button"/>
                                    <h:outputText value="&nbsp;"/>
                                </h:panelGrid>

                            </h:panelGroup>
                        </h:form>
                    </div>
                </div>
                <div class="clear"/>
            </div>

            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>

        <ezcomp:ajaxScript/>
    </h:body>

</html>

