<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Super - Dependencias</title>
        <ezcomp:estilos/>  
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navSuper/>

            <div class="cuerpo">
                <h:form styleClass="jsfcrud_list_form">
                    <div class="subnav">
                        <span class="grid-10">&nbsp;</span>
                        <span class="grid-30"><h:commandLink value="Instituci&oacute;n " action="#{gestionInstitucionBean.irInstitucion()}"></h:commandLink></span>
                        <span class="grid-30"><h:commandLink value="Dependencias " action="#{gestionDependenciaBean.irDependencia()}"></h:commandLink></span>
                        <span class="grid-20"><h:commandLink value="Cargos " action="#{gestionCargoBean.verCargos()}"></h:commandLink></span>
                        <div class="clear"/> 
                    </div>
                </h:form>
                <ezcomp:headContent/>

                <div class=" grid-10">&nbsp;</div>
                <div class="marco grid-70">
                    <h:form styleClass="jsfcrud_list_form">
                        <div class="panel">
                            <!--Mostrar todas las Dependencias-->
                            <h:panelGrid columns="2" rendered="#{gestionDependenciaBean.elDiv == 1}">
                                <h1><h:outputText value="Dependencias"/></h1>
                                <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                             border="0" cellpadding="2" cellspacing="0" 
                                             style="border:solid 1px" value="#{gestionDependenciaBean.seleccionLista}" var="item">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idDependencia}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Dependencia"/>
                                        </f:facet>
                                        <h:outputText value="#{item.nombre}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Mision"/>
                                        </f:facet>
                                        <h:outputText value="#{item.mision}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <i class='fa fa-eye'></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                        </f:facet>                                
                                        <h:commandLink action="#{gestionDependenciaBean.visualizarDependencia(item)}">
                                            <h:graphicImage library="images" name="eyes.png" />
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGrid>
                            <h:panelGrid columns="" rendered="#{gestionDependenciaBean.elDiv == 1}">
                                <h:commandButton class="button" value="Agregar Dependencia" action="#{gestionDependenciaBean.cargarVistaNuevo()}"/>
                            </h:panelGrid>

                            <h:panelGrid columns="2" rendered="#{gestionDependenciaBean.elDiv == 2}">
                                <h1><h:outputText value="Vista"/></h1>
                                <h:outputText/>
                                <h:outputText value="IdDependencia:"/>
                                <h:outputText value="#{gestionDependenciaBean.seleccion.idDependencia}" title="IdDependencia"/>
                                <h:outputText value="Nombre:"/>
                                <h:outputText value="#{gestionDependenciaBean.seleccion.nombre}" title="Nombre"/>
                                <h:outputText value="Mision:"/>
                                <h:outputText value="#{gestionDependenciaBean.seleccion.mision}" title="Mision"/>
                            </h:panelGrid>
                            <h:panelGrid columns="2" rendered="#{gestionDependenciaBean.elDiv == 2}">
                                <h:commandButton class="button" value="Editar" action="#{gestionDependenciaBean.cargarVistaEditar()}"/>
                            </h:panelGrid>

                            <!-- Modificar Depenencia -->

                            <h:panelGrid columns="2" rendered="#{gestionDependenciaBean.elDiv == 3}">
                                <h1><h:outputText value="Editar - Nuevo"/></h1>
                                <h:outputLabel/>
                                <h:outputLabel value="IdDependencia:" for="idDependencia" />
                                <h:inputText id="idDependenciaeditar" disabled="true" value="#{gestionDependenciaBean.seleccion.idDependencia}" title="IdDependencia" required="true" requiredMessage="The IdDependencia field is required."/>
                                <h:outputLabel value="Nombre:" for="nombre" />
                                <h:inputText id="nombreeditar" value="#{gestionDependenciaBean.seleccion.nombre}" title="Nombre" />
                                <h:outputLabel value="Mision:" for="mision" />
                                <h:inputTextarea rows="4" cols="30" id="misioneditar" value="#{gestionDependenciaBean.seleccion.mision}" title="Mision" />
                            </h:panelGrid>
                            <h:panelGrid columns="3" rendered="#{gestionDependenciaBean.elDiv == 3}">
                                <h:commandButton class="button" value="Guardar" action="#{gestionDependenciaBean.crearActualizarDependencia()}"/>
                                <h:outputLabel value="&nbsp;"/>
                                <h:commandButton class="button" value="Cancelar" action="#{gestionDependenciaBean.irDependencia()}"/>
                            </h:panelGrid>
                        </div>
                        <div class="clear"/>
                    </h:form>
                </div>
                <div class="clear"/>
            </div>


            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
            <div class="clear"/>
        </div>
    </h:body>

</html>

