<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp">
    <h:head>
        <title>#{vu.vur}</title>        
        <ezcomp:estilos/>
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navSuper/>

            <div class="cuerpo2">
                <div id="titulo" class="grid-100" style="color: #fff" >#{vu.vur}</div>

                <div class="grid-20   ">
                    <h:graphicImage  height="100" width="120" name="${vu.logo}" library="images"/>
                </div>
                <div class="grid-5  ">
                    &nbsp;
                </div>
                <div class="grid-30 verde ">
                    Hola: #{loginBean.users.idUsuario.nombreCompleto}<br/>
                    BIENVENIDO <br/>
                </div>
                <div class="grid-35  ">   &nbsp;  <br/><br/><br/><br/><br/> </div>
                <div class="grid-15   " >   &nbsp;   </div>
                <div class="grid-55  ">             
                    <div class="verde"><span>Novedades</span><span style="float: right;font-size: 12px;"> Hola: hace #{loginBean.ultimoIngreso()} no se conecta</span>
                        <br/>                       
                    </div>
                    <ezcomp:countSolicitudEmp/>
                </div>
                <div class="clear"/>
            </div>
            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>

    </h:body>
</html>

