<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Buscar Solicitud #{vu.vci} Funcionario</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navFuncionario/>
            <div class="grid-99 cuerpo"> 
                <ezcomp:navSolicitudFunc/>
                <ezcomp:headContent/>
                <div class="grid-5">&nbsp;</div>
                <div class="marco grid-80">
                    <h:form>
                        <h2>Ver-Buscar Solicitud </h2>
                        <h:panelGrid columns="5">
                            <h:outputLabel value="Radicado"/>
                            <h:outputLabel value="&nbsp;&nbsp;"/>
                            <h:outputLabel value="Doc id"/>
                            <h:outputLabel value="&nbsp;&nbsp;"/>
                            <h:outputLabel value="&nbsp;&nbsp;"/>
                            <h:inputText value="#{solicitudBean.idRadicado}"/>
                            <h:outputLabel value="&nbsp;&nbsp;"/>
                            <h:inputText value="#{solicitudBean.docid}"/>
                            <h:outputLabel value="&nbsp;&nbsp;"/>
                            <h:commandLink action="#{solicitudBean.buscarSolicitudDesdeFuncionario()}" value="Buscar" class="button"/>
                            <h:outputLabel value="&nbsp;&nbsp;"/>

                        </h:panelGrid>
                        <div class="clear"/>
                    </h:form>
                    <ezcomp:ajaxGif/>

                    <h:form   styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==1}">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        <h:panelGrid columns="2">
                            <h:outputText value="Radicado:"/>
                            <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                            <h:outputText value="Asunto:"/>
                            <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                            <h:outputText value="Descripcion:"/>
                            <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                            <h:outputText value="Vence:"/>
                            <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="Vence"/>
                            <h:outputText value="Tema:"/>
                            <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.tema}" title="IdEjeTematico"/>
                            <h:outputText value="Ciudadano:"/>
                            <h:outputText value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="IdUsuario"/>
                            <h:outputText value="Estado:"/>
                            <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.estado}" title="IdEstadoRequerimiento"/>
                            <h:outputText value="Tipo Solicutd:"/>
                            <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.tipo}" title="IdTipoSolicutd"/>
                            <h:outputText value="Tipo Requerimiento:"/>
                            <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.tipo}" title="IdTipoRequerimiento"/>
                        </h:panelGrid>

                        <h4>Lista de Archivos anexos en la Solicitud</h4>
                        <h:dataTable  rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                      border="0" cellpadding="2" cellspacing="0" 
                                      style="border:solid 1px" 
                                      value="#{solicitudBean.listaArchivoDeSolicitud}" var="item"
                                      rendered="#{solicitudBean.listaArchivoDeSolicitud.size() > 0}">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Anexos"/>
                                </f:facet>
                                &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Tipo"/>
                                </f:facet>
                                &nbsp;&nbsp;<h:outputText value="#{item.tipoArchivo}"/>&nbsp;&nbsp;
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <i class="fa fa-download "></i>
                                </f:facet>
                                &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                            </h:column>
                        </h:dataTable>
                        <h:outputText rendered="#{solicitudBean.aunNoTieneRespuesta()}" value="Aun no hay respuesta para su solicitud"/>
                        <!--h:commandLink value="ver Respuesta" rendered="{solicitudBean.respuesta.idRespuesta > 0}"/-->
                        <hr/>
                        <h4>Respuesta al Radicado</h4>
                        <h:panelGrid columns="2" rendered="#{solicitudBean.respuesta.idRespuesta > 0}">
                            <h:outputText value="IdRespuesta:"/>
                            <h:outputText value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta"/>
                            <h:outputText value="FechaString:"/>
                            <h:outputText value="#{solicitudBean.respuesta.fechaString}" title="FechaString"/>
                            <h:outputText value="Respuesta:"/>
                            <h:outputText value="#{solicitudBean.respuesta.respuesta}" title="Respuesta"/>
                            <h:outputText value="Sugerencia:"/>
                            <h:outputText value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia"/>
                            <h:outputText value="IdSolicitud:"/>
                            <h:outputText value="#{solicitudBean.respuesta.idSolicitud}" title="IdSolicitud"/>
                            <h:outputText value="Entregado:"/>
                            <h:outputText value="#{solicitudBean.respuesta.entregado}" title="Entregado"/>
                            <h:outputText value="Archivado:"/>
                            <h:outputText value="#{solicitudBean.respuesta.archivado}" title="Archivado"/>
                            <h:outputText value="TiempoRespuesta:"/>
                            <h:outputText value="#{solicitudBean.respuesta.tiempoRespuesta}" title="TiempoRespuesta"/>
                            <h:outputText value="IdUsuario:"/>
                            <h:outputText value="#{solicitudBean.respuesta.idUsuario.nombreCompleto}" title="IdUsuario"/>
                        </h:panelGrid>


                        <h5><h:outputText value="Lista de archivo en la respuesta"/></h5>
                        <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                      border="0" cellpadding="2" cellspacing="0" 
                                      style="border:solid 1px" 
                                       value="#{solicitudBean.listaArchivoDeRespuesta}" var="item"
                                     rendered="#{solicitudBean.respuesta.idRespuesta > 0}"
                                     >
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                <h:outputText value="#{item.idArchivo}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Adjunto"/>
                                </f:facet>
                                <h:outputText value="#{item.adjunto}"/>
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="TipoArchivo"/>
                                </f:facet>
                                <h:outputText value="#{item.tipoArchivo}"/>
                            </h:column>
                             <h:column>
                                <f:facet name="header">
                                    <i class="fa fa-download "></i>
                                </f:facet>
                                &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                            </h:column>
                           
                        </h:dataTable>



                    </h:form>
                    <!--resultado de busqueda-->
                    <h:panelGroup rendered="#{solicitudBean.elDiv==0}" class="grid-100">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        <h:form styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 0}"> 

                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" value="#{solicitudBean.solicitudesBusqueda}" var="item">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idSolicitud}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Asunto"/>
                                    </f:facet>
                                    <h:outputText value="#{item.concepto}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value="#{' '}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Creado"/>
                                    </f:facet>

                                    &nbsp;<h:outputText value="#{item.creadoFechaString}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value="#{' '}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vence"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.venceFechaString}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Eje"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idEjeTematico.tema}"/>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Estado"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Solicitud"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tipo"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idTipoRequerimiento.tipo}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa fa-paperclip fa-2x"></i>
                                    </f:facet>
                                    &nbsp;&nbsp;&nbsp;<h:outputText value="#{solicitudBean.verCantidadArchivosAdjuntos(item)}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa-eye fa"></i>
                                    </f:facet>
                                    <h:commandLink action="#{solicitudBean.verSolicitudEnBuscar(item)}">
                                        &nbsp;&nbsp; <i style="color: #222" class="fa-eye fa"></i>&nbsp;&nbsp; 
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>
                        </h:form>
                    </h:panelGroup>
                </div>
                <div class="clear"/>
            </div>
            <div class="clear"/>

            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>
        Hello en Buscar Solicitud V ú R Funcionario
    </h:body>
</html>

