<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Admin - Usuarios</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <!-- gestiona los requerimientos
            elDiv 1 : ( CrearSolicitud) formulario para ingreso de solicitud con ingreso de archivo
            elDiv 2 :  lista de las solicitudes asignadas al funcionario
            elDiv 3-X : visualiza lista de solicitudes de dependencia en requerimientosDependenia.xhtml
            elDiv 4 : visualizacionde solicitud actual con archivos anexos y boton crear respuesta de funcionario
            elDiv 6 : (MisSolicitudes)visualiza solicitud creadas por el funcioanrio
            elDiv 7 : (SolicitudesDependencia) visualiza solicitud para ser asignada 
           
        -->
        <div id="content" class="grid-container">
            <ezcomp:navFuncionario/>

            <div class="cuerpo">
                <ezcomp:navSolicitudFunc/>
                <ezcomp:headContent/>
                    <div class=" grid-10">&nbsp;</div>
                <div class="marco grid-70">

                    <div class="panel">
                        <!-- el div = 1 formulario para ingreso de solicitud-->
                        <h:form id="form" rendered="#{solicitudBean.elDiv == 1}">
                            <h1><h:outputText value="Formulario Nueva Solicitud" rendered="#{solicitudBean.elDiv == 1}"/></h1>

                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                            <h:panelGrid  columns="2" rendered="#{solicitudBean.elDiv == 1}">
                                <h:outputLabel style="visibility:hidden" value="Id Requerimiento:" for="idSolicitud" />
                                <h:inputText style="visibility:hidden" disabled="true" id="idSolicitud" value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud" required="false" requiredMessage="The IdSolicitud field is required."/>
                                <h:outputLabel value="Asunto:" for="concepto" />
                                <h:inputText size="58"  id="concepto" value="#{solicitudBean.solicitud.concepto}" title="Asunto" required="false" requiredMessage="El campo Asunto es requerido"/>
                                <h:outputLabel value="Descripcion:" for="descripcion" />
                                <h:inputTextarea    rows="4" cols="40" id="descripcion" value="#{solicitudBean.solicitud.descripcion}" title="Descripcion" required="false" requiredMessage="El campo Descripcion es requerido"/>

                                <h:outputLabel value="Dependencia: " for="idDependencia" />
                                <h:selectOneMenu id="idDependencia" value="#{solicitudBean.dependencia}" title="Dependencia" >
                                    <f:selectItems value="#{dependenciaController.itemsAvailableSelectOne}"/>
                                    <f:ajax render="idEjeTematico" execute="@form" onevent="showDateIndicator" />
                                </h:selectOneMenu>
                                <h:outputLabel value="Tema: " for="idEjeTematico" />
                                <h:selectOneMenu id="idEjeTematico" value="#{solicitudBean.solicitud.idEjeTematico}" title="IdEjeTematico" >
                                    <f:selectItems value="#{solicitudBean.itemsEjeTematicoDedependencia}"/>
                                    <f:ajax render="idEje1" execute="@form" onevent="showDateIndicator" />
                                </h:selectOneMenu>

                                <h:outputLabel value="Tipo Solicitud:" for="idTipoSolicitud" />
                                <h:selectOneMenu id="idTipoSolicitud" value="#{solicitudBean.solicitud.idTipoSolicutd}" title="IdTipoSolicitud" >
                                    <f:selectItems value="#{tipoSolicitudController.itemsAvailableSelectOne}"/>
                                    <f:ajax render="idTipoSo1" execute="@form" onevent="showDateIndicator" />
                                </h:selectOneMenu>
                                <h:outputLabel value="Tipo " for="idTipoRequerimiento" />
                                <h:selectOneMenu id="idTipoRequerimiento" value="#{solicitudBean.solicitud.idTipoRequerimiento}" title="idTipoRequerimiento" >
                                    <f:selectItems value="#{tipoRequerimientoController.itemsAvailableSelectOne}"/>
                                     <f:ajax render="idTipoRe1" execute="@form" onevent="showDateIndicator" />
                                </h:selectOneMenu>
                                <h:outputLabel value="Estado" for="idEstadoRequerimiento" />
                                <h:selectOneMenu id="idEstadoRequerimiento" value="#{solicitudBean.solicitud.idEstadoRequerimiento}" title="idEstadoRequerimiento" >
                                    <f:selectItems value="#{estadoRequerimientoController.itemsAvailableSelectOne}"/>
                                     <f:ajax render="idEstadoRe1" execute="@form" onevent="showDateIndicator" />
                                </h:selectOneMenu>

                                <h:outputLabel value="Ciudadano: " for="nombreCompleto" />
                                <h:outputText id="nombreCompleto" value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="nombreCompleto" />
                            
                                <h:outputText style="visibility: hidden" id="idEje1" value="#{solicitudBean.solicitud.idEjeTematico}"  />
                                <h:outputText style="visibility: hidden" id="idTipoSo1" value="#{solicitudBean.solicitud.idTipoSolicutd}"  />
                                <h:outputText style="visibility: hidden" id="idTipoRe1" value="#{solicitudBean.solicitud.idTipoRequerimiento}" />
                                <h:outputText style="visibility: hidden" id="idEstadoRe1" value="#{solicitudBean.solicitud.idEstadoRequerimiento}"  />

                            </h:panelGrid>
                            <ezcomp:ajaxGif/>
                            <!-- Sigue  binding="{subirArchivosBean.adjuntosDataTable}" -->
                            <div style="padding: 20px" id="marcoDiv">
                                <h:panelGrid columns="1"  bgcolor="#ebf1f6" rendered="#{solicitudBean.elDiv ==1 }">
                                    <h:outputText value="Haga click en agregar para anexar un  Archivo"/>
                                    <h:panelGroup id="grp">                                        
                                        <h:dataTable id="adjuntos" value="#{subirArchivosBean.entradaActual.adjuntos}" var="a" >
                                            <h:column>
                                                <i class="fa fa-paperclip fa-2x"></i>
                                            </h:column>
                                            <h:column>
                                                &nbsp; &nbsp;
                                            </h:column>
                                            <h:column>
                                                <h:outputText  value="#{a.nombreAdjunto}" />
                                            </h:column>

                                        </h:dataTable>
                                        <h:button  class="button2" title="Agregar Archivo" image="../../images/fa-upload-1.png"   onclick='window.open("#{facesContext.externalContext.requestContextPath}/servlet/upload/form", "archivo Excel", "width=500,height=200")'/>
                                        &nbsp;  &nbsp; &nbsp; &nbsp;
                                        <br/><br/>
                                    </h:panelGroup>

                                    <h:commandButton class="button" value="Enviar Requerimiento" action="#{solicitudBean.actualizarCrearSolicitud('gestionRequerimientos')}" rendered="#{solicitudBean.elDiv ==1 }"/>

                                    <h:commandButton style="visibility:hidden" value="Recargar..." id="recargar" class="button">
                                        <f:ajax render="grp" execute="@form" onevent="showDateIndicator"/>
                                    </h:commandButton>
                                    <h:commandLink class="button" value="Limpiar Formulario" action="#{solicitudBean.visualizarNuevaSolicitud()}"></h:commandLink>
                                </h:panelGrid>

                            </div>
                        </h:form>
                        <!--fin gestion de solicitud con archivos-->
                        <!--el div = 2 lista de  Solicitudes de Funcionario-->
                        <h:form id="form2" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 2}">
                            <h:panelGrid columns="2" rendered="#{solicitudBean.elDiv == 2}">
                                
                                    <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                                 border="0" cellpadding="2" cellspacing="0" 
                                                 style="border:solid 1px" value="#{solicitudBean.solicitudesFuncionario}" var="item"
                                                 rendered="#{solicitudBean.elDiv==2}">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Id"/>
                                            </f:facet>                                            
                                                &nbsp;&nbsp;&nbsp; <h:outputText value="#{item.idSolicitud}"/>&nbsp;                                            

                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Asunto"/>
                                            </f:facet>                                
                                            &nbsp;&nbsp;&nbsp;<h:outputText value="#{item.concepto}"/> &nbsp;                                                           
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="&nbsp;"/>
                                            </f:facet>
                                            <h:outputText value="#{' '}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Creado"/>
                                            </f:facet>

                                            <h:outputText value="#{item.creadoFechaString}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="&nbsp;"/>
                                            </f:facet>
                                            <h:outputText value="#{' '}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Vence"/>
                                            </f:facet>
                                            <h:outputText value="#{item.venceFechaString}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Eje"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idEjeTematico.tema}"/>
                                        </h:column>

                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Estado"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Solicitud"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Tipo"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idTipoRequerimiento.tipo}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <i class='fa fa-eye'></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                            </f:facet>                                
                                            <h:commandLink action="#{solicitudBean.visualizarSolicitudFuncionario(item)}">
                                                &nbsp; &nbsp;<h:graphicImage height="13" width="20" library="images" name="eyes.png"/>
                                            </h:commandLink>

                                        </h:column>
                                    </h:dataTable>                              
                              
                            </h:panelGrid>
                        </h:form>
                        <!--el div = 4  solicitud actual y boton crear respuesta de funcionario -->
                        <h:form id="form4" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 4}">
                            En solicitud para ir a  respuesta
                            <h:panelGrid id="sol" columns="3" rendered="#{solicitudBean.elDiv == 4}">
                                <h:outputText value="Ciudadano :"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idUsuario.toString()}" title="IdUsuario"/>

                                <h:outputText value="Requerimiento:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                                <h:outputText value="Asunto:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                                <h:outputText value="Descripcion:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                                <h:outputText value="Creado:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.creadoFechaString}" title="Creado"/>
                                <h:outputText value="Vence:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="Vence"/>
                                <h:outputText value="Eje Tematico:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.toString()}" title="IdEjeTematico"/>
                                <h:outputText value="Estado Requerimiento:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.toString()}" title="IdEstadoRequerimiento"/>
                                <h:outputText value="Tipo Solicitud:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.toString()}" title="IdTipoSolicutd"/>
                                <h:outputText value="Tipo Requerimiento:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.toString()}" title="IdTipoRequerimiento"/>
                            </h:panelGrid>
                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" 
                                         value="#{solicitudBean.listaArchivoDeSolicitud}" var="item"
                                         rendered="#{solicitudBean.listaArchivoDeSolicitud.size()>0}"
                                         >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Anexos"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tipo"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.tipoArchivo}"/>&nbsp;&nbsp;
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa fa-download "></i>
                                    </f:facet>
                                    &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                                </h:column>
                            </h:dataTable>
                           
                            <h:commandLink action="#{solicitudBean.crearRespuestaFuncionario()}" value="ver-Responder Solicitud" class="button" rendered="#{solicitudBean.botonVerResponderSolicitud() == false}">
                            </h:commandLink> &nbsp;&nbsp;&nbsp;&nbsp;
                            <h:commandLink action="#{solicitudBean.verRespuestaDeSolicitud()}" value="verRespuestaDeSolicitud" class="button" rendered="#{solicitudBean.botonVerRespuestaSolicitud()}">
                            </h:commandLink><br/><br/>
                            <h:outputText value="haz click en  el boton si tiene respuesta" rendered="#{solicitudBean.botonVerRespuestaSolicitud()==false}"/>
                        </h:form>

                         <!--div  = 6 visualiza solicitud creadas por el ciudadano  -->
                        <h:form id="form6" styleClass="jsfcrud_list_form">
                            <h:panelGrid columns="2" rendered="#{solicitudBean.elDiv==6}"> 
                                <h:dataTable  rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                              border="0" cellpadding="2" cellspacing="0" 
                                              style="border:solid 1px" value="#{solicitudBean.solicitudesCiudadano}" var="item"
                                              >
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:commandLink>
                                            &nbsp;&nbsp;&nbsp; <h:outputText value="#{item.idSolicitud}"/>&nbsp;
                                        </h:commandLink> 

                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Asunto"/>
                                        </f:facet>                                
                                        &nbsp;&nbsp;&nbsp;<h:outputText value="#{item.concepto}"/> &nbsp;                                                           
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:outputText value="#{' '}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Creado"/>
                                        </f:facet>

                                        <h:outputText value="#{solicitudBean.getFechaCreado(item)}">
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:outputText value="#{' '}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Vence"/>
                                        </f:facet>
                                        <h:outputText value="#{item.venceFechaString}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Eje"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idEjeTematico.tema}"/>
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Estado"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Solicitud"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Tipo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idTipoRequerimiento.tipo}"/>
                                    </h:column>
                                    <h:column class="oscuro" >
                                        <f:facet name="header">
                                            <i class='fa fa-eye'></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                        </f:facet>                                
                                        <h:commandLink action="#{solicitudBean.visualizarSolicitudFuncionario(item)}">
                                            &nbsp; &nbsp;<h:graphicImage height="13" width="20" library="images" name="eyes.png"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>

                            </h:panelGrid>
                        </h:form>
                        <!--div  = 7 visualiza solicitud para ser asignadad -->
                        <h:form id="form7" styleClass="jsfcrud_list_form">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                            <h:panelGrid columns="2" rendered="#{solicitudBean.elDiv==7}">
                                <h:outputText value="Id:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                                <h:outputText value="Asunto:"/>
                                <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                                <h:outputText value="Detalle:"/>
                                <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                                <h:outputText value="Creado:"/>
                                <h:outputText value="#{solicitudBean.solicitud.creadoFechaString}" title="Creado"/>
                                <h:outputText value="Vence:"/>
                                <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="Vence"/>                                    
                                <h:outputText value="Tema:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.tema}" title="IdEjeTematico"/>
                                <h:outputText value="Ciudadano:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="IdUsuario"/>
                                <h:outputText value="Estado:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.estado}" title="Estado Requerimiento"/>
                                <h:outputText value="Tipo:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.tipo}" title="Tipo Solicutd"/>
                                <h:outputText value="Requerimiento&nbsp;&nbsp;&nbsp;&nbsp;:"/>
                                <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.tipo}" title="Tipo Requerimiento"/>
                                <h:outputText value="N° Anexos :"/>
                                <h:outputText value="#{solicitudBean.verCantidadArchivosAdjuntos(solicitudBean.solicitud)}" title="Tipo Requerimiento"/>

                            </h:panelGrid>
                            <div >
                                <h:commandLink class="button" value="Asignar" action="#{solicitudBean.asignarSolicitud()}" rendered="#{solicitudBean.elDiv==7}">
                                </h:commandLink>
                            </div>
                        </h:form>
                    
                          <!-- el div =8 respuesta  de solicitud por parte del funcionario -->
                        <h:form id="form8" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv==8}">
                            <h:panelGrid columns="3" >
                                <h:outputText value="IdRespuesta:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta"/>
                                <h:outputText value="Fecha:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.getFecha(solicitudBean.respuesta.fecha)}" title="Fecha"/>
                                <h:outputText value="Respuesta:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.respuesta}" title="Respuesta"/>
                                <h:outputText value="Sugerencia:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia"/>
                                <h:outputText value="TiempoRespuesta:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.getTiempo(solicitudBean.respuesta.tiempoRespuesta)}" title="TiempoRespuesta"/>
                                <h:outputText value="IdSolicitud:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idSolicitud}" title="IdSolicitud"/>
                                <h:outputText value="IdUsuario:"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                <h:outputText value="#{solicitudBean.respuesta.idUsuario.toString()}" title="IdUsuario"/>
                            </h:panelGrid>
                            
                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" 
                                         value="#{solicitudBean.listaArchivoDeRespuesta}" var="item"
                                         rendered="#{solicitudBean.listaArchivoDeRespuesta.size()>0}"
                                         >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Anexos"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                                </h:column>                                
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa fa-download "></i>
                                    </f:facet>
                                    &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                                </h:column>
                            </h:dataTable> 
                           
                        </h:form>
                      
                        </div>
                    <div class="clear"/>
                </div>
                <div class="  grid-10">&nbsp;</div>
                <div class="clear"/>
            </div>


            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>
        <ezcomp:ajaxScript/>
    </h:body>

</html>

