<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>        
        <title>verSolicitudes #{vu.vci} Funcionario</title>
        <ezcomp:estilos/>
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navFuncionario/>
            <div id="cuerpo">
                <ezcomp:headContent/>    
                <div class=" grid-20">&nbsp;</div>

                <div class="marco grid-80">
                    <div class="panel">
                        <h:form styleClass="jsfcrud_list_form">
                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" value="#{solicitudBean.solicitudesFuncionario}" var="item"
                                         rendered="#{solicitudBean.elDiv==0}">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>                                   
                                    &nbsp;&nbsp;&nbsp; <h:outputText value="#{item.idSolicitud}"/>&nbsp;                                    

                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Concepto"/>
                                    </f:facet>                                
                                    &nbsp;&nbsp;&nbsp;<h:outputText value="#{item.concepto}"/> &nbsp;                                                           
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value="#{' '}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Creado"/>
                                    </f:facet>

                                    <h:outputText value="#{item.creadoFechaString}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value="#{' '}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vence"/>
                                    </f:facet>
                                    <h:outputText value="#{item.venceFechaString}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Eje"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idEjeTematico.tema}"/>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Estado"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Solicitud"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tipo"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idTipoRequerimiento.tipo}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <i class='fa fa-eye'></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                    </f:facet>                                
                                    <h:commandLink action="#{solicitudBean.visualizarSolicitudFuncionario(item)}">

                                        <h:graphicImage width="18" height="12" library="images" name="eyes.png"/>
                                    </h:commandLink>

                                </h:column>
                            </h:dataTable>

                        </h:form>
                        <!--el div = 4  solicitud actual y boton crear respuesta de funcionario -->
                        <h:form id="form4" styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 4}">
                            <h:panelGrid id="sol" columns="3" rendered="#{solicitudBean.elDiv == 4}">
                                <h:outputText value="IdUsuario:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idUsuario.toString()}" title="IdUsuario"/>

                                <h:outputText value="Id:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                                <h:outputText value="Concepto:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                                <h:outputText value="Descripcion:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                                <h:outputText value="Creado:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.creadoFechaString}" title="Creado"/>
                                <h:outputText value="Vence:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="Vence"/>
                                <h:outputText value="Eje Tematico:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.toString()}" title="IdEjeTematico"/>
                                <h:outputText value="Estado Requerimiento:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.toString()}" title="IdEstadoRequerimiento"/>
                                <h:outputText value="Tipo Solicutd:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.toString()}" title="IdTipoSolicutd"/>
                                <h:outputText value="Tipo Requerimiento:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.toString()}" title="IdTipoRequerimiento"/>
                            </h:panelGrid>
                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" 
                                         value="#{solicitudBean.listaArchivoDeSolicitud}" var="item"
                                         rendered="#{solicitudBean.listaArchivoDeSolicitud.size()>0}"
                                         >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Anexos"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tipo"/>
                                    </f:facet>
                                    &nbsp;&nbsp;<h:outputText value="#{item.tipoArchivo}"/>&nbsp;&nbsp;
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa fa-download "></i>
                                    </f:facet>
                                    &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                                </h:column>
                            </h:dataTable>
                            <h:commandLink action="#{solicitudBean.crearRespuestaFuncionario()}" value="ver-Responder Solicitud" class="button" rendered="#{solicitudBean.elDiv==4}">
                            </h:commandLink>
                        </h:form>


                        <!--
                                                    <h:panelGrid columns="3" rendered="{solicitudBean.elDiv == 2}">
                                                        <h:outputLabel value="Solicitud:" for="idSolicitud" />
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText id="idSolicitud" value="#{solicitudBean.respuesta.idSolicitud.toString()}" title="IdSolicitud" />                                       
                        
                                                        <h:outputLabel value="Id:" for="idRespuesta" />
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:inputText disabled="true" id="idRespuesta" value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta" required="true" requiredMessage="The IdRespuesta field is required."/>
                                                        <h:outputLabel value="Fecha:" for="fecha" />
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText id="fecha" value="#{solicitudBean.getFecha(solicitudBean.respuesta.fecha)}" title="Fecha" />
                                                        <h:outputLabel value="Respuesta:" for="respuesta" />
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:inputTextarea rows="4" cols="30" id="respuesta" value="#{solicitudBean.respuesta.respuesta}" title="Respuesta" />
                                                        <h:outputLabel value="Sugerencia:" for="sugerencia" />
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:inputTextarea rows="4" cols="30" id="sugerencia" value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia" />
                                                        <h:outputLabel value="Tiempo Respuesta:" for="tiempoRespuesta" />
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText id="tiempoRespuesta" value="{solicitudBean.getTiempo(solicitudBean.respuesta.tiempoRespuesta)}" title="TiempoRespuesta" />
                        
                                                        <h:outputLabel value="Cargo:" for="idCargo" />
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:selectOneMenu id="idCargo" value="{solicitudBean.respuesta.idCargo}" title="IdCargo" >
                                                            <f:selectItems value="{fixme}"/>
                                                        </h:selectOneMenu>
                                                        <h:outputLabel value="Funcionario:" for="idUsuario" />
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText id="idUsuario" value="#{solicitudBean.respuesta.idUsuario.nombreCompleto}" title="IdUsuario" />
                        
                                                    </h:panelGrid>
                                                    <h:commandLink action="{solicitudBean.commitRespuestaFuncionario()}" value="Responder Solicitud" class="button" rendered="#{solicitudBean.elDiv==2}">
                        
                                                    </h:commandLink>
                        
                                                    <h:panelGrid columns="3" rendered="#{solicitudBean.elDiv==3}">
                                                        <h:outputText value="IdRespuesta:"/>
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta"/>
                                                        <h:outputText value="Fecha:"/>
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText value="#{solicitudBean.getFecha(solicitudBean.respuesta.fecha)}" title="Fecha"/>
                                                        <h:outputText value="Respuesta:"/>
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText value="#{solicitudBean.respuesta.respuesta}" title="Respuesta"/>
                                                        <h:outputText value="Sugerencia:"/>
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia"/>
                                                        <h:outputText value="TiempoRespuesta:"/>
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText value="#{solicitudBean.getTiempo(solicitudBean.respuesta.tiempoRespuesta)}" title="TiempoRespuesta"/>
                                                        <h:outputText value="IdSolicitud:"/>
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText value="#{solicitudBean.respuesta.idSolicitud}" title="IdSolicitud"/>
                                                        <h:outputText value="IdCargo:"/>
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText value="{solicitudBean.respuesta.idCargo}" title="IdCargo"/>
                                                        <h:outputText value="IdUsuario:"/>
                                                        <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"  />
                                                        <h:outputText value="#{solicitudBean.respuesta.idUsuario.toString()}" title="IdUsuario"/>
                                                    </h:panelGrid>
                                                    <h:commandLink action="{solicitudBean.habilitarEdicion()}" value="Editar Respuesta" class="button" rendered="#{solicitudBean.elDiv==3}">
                        
                                                    </h:commandLink>
                        -->

                    </div>
                    <div class="clear"/>

                </div>

            </div>
            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
            <div class="clear"/>
        </div>
    </h:body>
</html>

