<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Inicio</title> 
        <h:outputStylesheet library="css" name="reset.css"  />        
        <h:outputStylesheet  library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="font-awesome.min.css"  />
        <h:outputStylesheet library="css" name="font-roboto.css"  />
        <h:outputStylesheet library="css" name="media.css"  />
        <!--h:outputStylesheet  library="css" name="text.css"  /-->
        <h:outputStylesheet library="css" name="#{vu.css1}"  />
        <h:outputScript library="js" name="bootstraps.js"/>
        <h:outputScript library="js" name="script.js"/> 
    </h:head>
    <h:body>
        <h:form>
            <div id="cabecera" class="container" > 
                <div class="row" >
                    <span  class="col-xs-2">
                        <div  class="fa" id="elTel">&nbsp;&nbsp; 8000-258963&nbsp;&nbsp;</div>
                        <div><i onmouseover="mostrar()"  onmouseout="ocultar()"  class="fa fa-phone fa-2x">                           </i>
                        </div>
                    </span>
                    <span class="col-xs-2 hidden-xs">&nbsp;&nbsp;
                        <h:commandLink value="Inicio" action="inicio"/>
                        &nbsp;</span>
                    <span class="col-xs-1 hidden-xs">
                        <h:commandLink value="FAQ" action="PreguntasFrecuentes"/>&nbsp;</span>
                    <span class="col-xs-2 hidden-xs">
                        <h:commandLink value="Informaci&oacute;n" action="Informacion"/>&nbsp;</span>
                    <span class="col-xs-1 hidden-xs">
                        <h:commandLink value="Ayuda" action="Ayuda"/>&nbsp;</span>
                    <span class="col-xs-3 visible-xs">&nbsp;</span>

                    <span class="col-xs-2" style="z-index: 100">
                        <h:commandLink value="Registrese" action="#{gestionUsuarioBean.irFormularioCrearUsuario()}"/>                               
                    </span >
                    <span class="col-xs-2 visible-xs">&nbsp;</span>
                    <span style="text-align: right" class="col-xs-2 "><i class="fa #{vu.home} fa-2x "></i></span>
                </div>
            </div>
        </h:form>
        <div  class="container" style="margin-top: -10px">
            <div class="row" >                
                <div id="inicio" class="inicioBack">
                    <div id="titulo" class="col-xs-7 hidden-xs">#{vu.vur}</div>
                    <div style="font-size: 20px" id="titulo" class="col-xs-7 visible-xs">#{vu.vur}</div>
                    <div class="col-xs-2 hidden-xs">
                        <h:form>
                            <span>
                                <h:commandLink value="Registrese" action="#{gestionUsuarioBean.irFormularioCrearUsuario()}">
                                    &nbsp;&nbsp;<i class='fa fa-hand-o-right '></i>
                                </h:commandLink>
                            </span>
                        </h:form>
                    </div>

                    <div id="logo" title="Logo" class="col-xs-4 hidden-xs">
                        <h:graphicImage library="images" name="#{vu.logo}"  height="100" width="120"/>
                    </div>
                    <div style="margin-left: 50px" id="form" class="col-xs-4">
                        <h:panelGroup rendered="#{loginBean.enSession() == false}">
                            <form name="loginForm" method="post" action="j_security_check">
                                <h:panelGrid columns="2">  
                                    <h:outputText value="&nbsp;"/>
                                    <input size="27" placeholder="Nombre de Usuario" type="text" name="j_username" required="true" requiredMessage="El campo Nombre de Usuario es requerido"/>
                                    <h:outputText value="&nbsp;"/>
                                    <input size="27" placeholder="Password"  type="password" name="j_password" required="true" requiredMessage="El campo Password es requerido"/>

                                    <h:outputText value="&nbsp;"/>
                                    <h:panelGroup>
                                        <input class="button" type="submit" name="submit" value="Entrar" />&nbsp;&nbsp;&nbsp;
                                        <h:button  class="button hidden-xs" outcome="inicio" value="Cancelar" />
                                    </h:panelGroup>
                                </h:panelGrid>
                                <a  id="recordar" href="#" >Recordar Contrase&ntilde;a </a>
                            </form>
                        </h:panelGroup>
                    </div>
                    <div id="ds" class="col-xs-4">
                        <h:form>
                            <h:panelGroup rendered="#{loginBean.enSession() == true}">
                                <a class="button" href="#{loginBean.url}">Continuar&nbsp;<i class="fa fa-angle-double-right "></i></a><br/><br/>
                                <h:panelGrid columns="2" >
                                    <span id="bienvenido"> Bienvenido  #{loginBean.users.idUsuario.nombreCompleto}</span><br/>
                                    <!--path : {loginBean.path}-->
                                </h:panelGrid>
                                <br/>
                                <h:commandButton  class="button" value="Salida Segura" action="#{loginBean.logOut()}"/>
                                <script type="text/javascript">
                                    function redireccionar() {
                                        window.location = "#{loginBean.url}";
                                    }
                                    setTimeout('redireccionar()', 50);
                                </script>
                            </h:panelGroup>
                        </h:form>
                    </div>
                    <div id="ds" class="col-xs-12">
                        &nbsp;<br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                    </div>
                    <div class="clear"/>
                </div>


            </div>
            <div  id="cuerpo" style="padding-top: 25px; text-align: center; margin: -4px 0 0 -8px; width: 102%" class="row" >

                <div class="col-xs-2 visible-md  visible-lg" style="text-align: center">                    
                    <h:graphicImage name="#{vu.logo1}" width="100" height="30" library="images"/>
                </div>
                <div class=" col-xs-2 visible-md  visible-lg" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo2}" width="100" height="30" library="images"/>
                </div>
                <div class=" col-xs-2 visible-md  visible-lg" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo3}" width="100" height="30" library="images"/>
                </div>
                <div class=" col-xs-2 visible-md  visible-lg" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo4}" width="100" height="30" library="images"/>
                </div>
                <div class=" col-xs-2 visible-md  visible-lg" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo5}" width="60" height="60" library="images"/>
                </div>
                <div class=" col-xs-2 visible-md  visible-lg" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo6}" width="60" height="60" library="images"/>
                </div>

                <div class="clear"/>

            </div>
            <div class="row" style="margin: -5px 0px 0 -15px; width: 103%">
                <div id="pie" class="col-xs-12" >&nbsp;</div>  
            </div>

            <div class="clear"/>
        </div>

        <h:outputScript library="js" name="bootstraps.js"/>
        <h:outputScript library="js" name="script.js"/> 
    </h:body>
</html>

