<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"

      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp">
    <h:head>
        <!--xmlns:h="http://xmlns.jcp.org/jsf/html"-->
        <title>#{vu.vur}</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="media.css"  />
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navInicio/>
            <div id="inicio" class="grid-100 ">
                <div id="titulo" class="grid-65">#{vu.vur}</div>
                <h:form>
                    <div class="grid-25 escritorio cel">
                        <span>
                            <h:commandLink value="Registrese" action="#{gestionUsuarioBean.irFormularioCrearUsuario()}">
                                &nbsp;&nbsp;<i class='fa fa-hand-o-right '></i>
                            </h:commandLink>
                        </span>
                    </div>
                </h:form>

                <div id="logo" title="Logo" class="grid-30  escritorio">
                    <h:graphicImage library="images" name="#{vu.logo}"  height="100" width="120"/>
                </div>
                <div style="margin-left: 50px" id="form" class="grid-30">
                    <h:panelGroup rendered="#{loginBean.enSession() == false}">
                        <form name="loginForm" method="post" action="j_security_check">
                            <h:panelGrid columns="2">  
                                <h:outputText value="&nbsp;"/>
                                <input placeholder="Nombre de Usuario" type="text" name="j_username" required="true" requiredMessage="El campo Nombre de Usuario es requerido"/>
                                <h:outputText value="&nbsp;"/>
                                <input  placeholder="Password"  type="password" name="j_password" required="true" requiredMessage="El campo Password es requerido"/>

                                <h:outputText value="&nbsp;"/>
                                <h:panelGroup>
                                    <input class="button" type="submit" name="submit" value="Entrar" />&nbsp;&nbsp;&nbsp;
                                    <h:button class="button" outcome="inicio" value="Cancelar" />
                                </h:panelGroup>
                            </h:panelGrid>
                            <a  id="recordar" href="#" >Recordar Contrase&ntilde;a </a>
                        </form>
                    </h:panelGroup>
                </div>
                <div id="ds" class="grid-30">
                    <h:form>
                        <h:panelGroup rendered="#{loginBean.enSession() == true}">
                            <a class="button" href="#{loginBean.url}">Continuar&nbsp;<i class="fa fa-angle-double-right "></i></a><br/><br/>
                            <h:panelGrid columns="2" >
                                <span id="bienvenido"> Bienvenido  #{loginBean.users.idUsuario.nombreCompleto}</span><br/>
                                <!--path : {loginBean.path}-->
                            </h:panelGrid>
                            <br/>
                            <h:commandButton  class="button" value="Salida Segura" action="#{loginBean.logOut()}"/>

                        </h:panelGroup>
                    </h:form>
                </div>
                <div id="ds" class="grid-100">
                    &nbsp;<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                </div>
                <div class="clear"/>
            </div>
                <div id="cuerpo" style="padding-top: 25px" class="escritorio" >

                <div class="prefix-5 grid-10" style="text-align: center">                    
                    <h:graphicImage name="#{vu.logo1}" width="100" height="30" library="images"/>
                </div>
                <div class="prefix-5 grid-10" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo2}" width="100" height="30" library="images"/>
                </div>
                <div class="prefix-5 grid-10" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo3}" width="100" height="30" library="images"/>
                </div>
                <div class="prefix-5 grid-10" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo4}" width="100" height="30" library="images"/>
                </div>
                <div class="prefix-5 grid-10" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo5}" width="60" height="60" library="images"/>
                </div>
                <div class="prefix-5 grid-10" style="text-align: center"> 
                    <h:graphicImage name="#{vu.logo6}" width="60" height="60" library="images"/>
                </div>

                <div class="clear"/>

            </div>
            <div id="pie" class="grid-100">&nbsp;</div>           
        </div>


    </h:body>
</html>

