<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
     >
    <h:head>
        <title>No Autorizado</title>
    </h:head>
    <h:body styleClass="miBody" style="background-color: fff;">
        <div align="center">
            <div id="contenidotx" style="width: 355px">
                <h:form><h:commandButton image="/resources/images/prohibido.png" value="prohibido" action="inicio"/></h:form><br/>
                <p align="center" style="color: #D20005; font-size:20px">
                    Usted no tiene AUTORIZACIÓN para ingresar  como este rol de usuario<br/>
                    Regrese a inicio y haga click en su usuario correspondiente..
                </p>
            </div>
            <div class="clear"/>
        </div>
    </h:body>
</html>

