<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp">
    <h:head>
        <title>Lista Requerimientos</title>          
        <ezcomp:estilos/>
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navCiudadano/>

            <div id="cuerpo" class="grid-99">
                <ezcomp:headContent/>
                <div class="marco">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    <h:form styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 0}"> 

                        <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                     border="0" cellpadding="2" cellspacing="0" 
                                     style="border:solid 1px" value="#{solicitudBean.solicitudesCiudadano}" var="item">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="id"/>
                                </f:facet>
                                <h:outputText value="#{item.idSolicitud}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Asunto"/>
                                </f:facet>
                                <h:outputText value="#{item.concepto}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="&nbsp;"/>
                                </f:facet>
                                <h:outputText value="#{' '}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Creado"/>
                                </f:facet>

                                &nbsp;<h:outputText value="#{item.creadoFechaString}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="&nbsp;"/>
                                </f:facet>
                                <h:outputText value="#{' '}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Vence"/>
                                </f:facet>
                                &nbsp;<h:outputText value="#{item.venceFechaString}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Eje"/>
                                </f:facet>
                                &nbsp;<h:outputText value="#{item.idEjeTematico.tema}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Estado"/>
                                </f:facet>
                                &nbsp;<h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Solicitud"/>
                                </f:facet>
                                &nbsp;<h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Tipo"/>
                                </f:facet>
                                &nbsp;<h:outputText value="#{item.idTipoRequerimiento.tipo}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <i class="fa fa-paperclip fa-2x"></i>
                                </f:facet>
                                &nbsp;&nbsp;&nbsp;<h:outputText value="#{solicitudBean.verCantidadArchivosAdjuntos(item)}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <i class="fa-eye fa"></i>
                                </f:facet>
                                <h:commandLink action="#{solicitudBean.verSolicitud(item)}">
                                    <h:graphicImage width="20" height="13" library="images" name="eyes.png"/>
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                    <h:panelGroup rendered="#{solicitudBean.elDiv ==1}" >  
                        <h:form styleClass="jsfcrud_list_form" >
                            <div class="grid-45">
                                <h:panelGrid columns="2" >
                                    <h:outputText value="Id:"/>
                                    <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                                    <h:outputText value="Concepto :"/>
                                    <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                                    <h:outputText value="Descripcion :"/>
                                    <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                                    <h:outputText value="Creado:"/>
                                    <h:outputText value="#{solicitudBean.solicitud.creadoFechaString} " title="Creado">
                                        <f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
                                    </h:outputText>
                                    <h:outputText value="Vence:"/>
                                    <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="Vence">
                                        <f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
                                    </h:outputText>
                                    <h:outputText value="Tema:"/>
                                    <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.tema}" title="IdEjeTematico"/>
                                    <h:outputText value="Ciudadano:"/>
                                    <h:outputText value="#{solicitudBean.solicitud.idUsuario.toString()}" title="IdUsuario"/>
                                    <h:outputText value="Estado:"/>
                                    <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.estado}" title="IdEstadoRequerimiento"/>
                                    <h:outputText value="Tipo Solicitud:"/>
                                    <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.tipo}" title="IdTipoSolicutd"/>
                                    <h:outputText value="Tipo Requerimiento:&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                    <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.tipo}" title="IdTipoRequerimiento"/>
                                    <h:outputText value="IdAsignado:"/>
                                    <h:outputText value="#{solicitudBean.solicitud.idAsignado}" title="IdAsignado"/>
                                </h:panelGrid>                            

                                <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                             border="0" cellpadding="2" cellspacing="0" 
                                             style="border:solid 1px" 
                                             value="#{solicitudBean.listaArchivoDeSolicitud}" var="item">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Anexos"/>
                                        </f:facet>
                                        &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Tipo"/>
                                        </f:facet>
                                        &nbsp;&nbsp;<h:outputText value="#{item.tipoArchivo}"/>&nbsp;&nbsp;
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <i class="fa fa-download "></i>
                                        </f:facet>
                                        &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                                    </h:column>
                                </h:dataTable>
                                <h:outputText rendered="#{solicitudBean.aunNoTieneRespuesta()}" value="Aun no hay respuesta para su solicitud"/>
                                <h:commandLink  rendered="#{solicitudBean.aunNoTieneRespuesta()== false}"  value="verRespuesta" action="#{solicitudBean.verRespuestaDeSolicitud()}" class="button"/>
                            </div>
                        </h:form>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{solicitudBean.elDiv ==8}">
                        <h:form styleClass="jsfcrud_list_form" >
                            <div class="grid-45">
                                <h1><h:outputText value="Respuesta "/></h1>
                                <h:panelGrid columns="2">
                                    <h:outputText value="id:"/>
                                    <h:outputText value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta"/>
                                    <h:outputText value="Fecha:"/>
                                    <h:outputText value="#{solicitudBean.respuesta.fechaString}" title="Fecha"/>
                                    <h:outputText value="Respuesta:"/>
                                    <h:outputText value="#{solicitudBean.respuesta.respuesta}" title="Respuesta"/>
                                    <h:outputText value="Sugerencia:"/>
                                    <h:outputText value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia"/>
                                    <h:outputText value="TiempoRespuesta:"/>
                                    <h:outputText value="#{solicitudBean.getTiempo(solicitudBean.respuesta.tiempoRespuesta)}" title="TiempoRespuesta"/>
                                    <h:outputText value="Requerimiento:"/>
                                    <h:outputText value="#{solicitudBean.respuesta.idSolicitud}" title="IdSolicitud"/>
                                    <h:outputText value="Funcionario:"/>
                                    <h:outputText value="#{solicitudBean.respuesta.idUsuario.nombreCompleto}" title="IdCargo"/>
                                </h:panelGrid>

                                <h:dataTable value="#{solicitudBean.listaArchivoDeRespuesta}" var="item">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="IdArchivo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idArchivo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Adjunto"/>
                                        </f:facet>
                                        <h:outputText value="#{item.adjunto}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="TipoArchivo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.tipoArchivo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <i class="fa fa-download"></i>
                                        </f:facet>
                                        <h:commandLink >                                           
                                            &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp; 
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </div>
                        </h:form>
                    </h:panelGroup>
                    <div class="clear"/>
                </div>
                <div class="clear"/>
            </div>
            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
            <div class="clear"/>
        </div> 
    </h:body>
</html>

