<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Admin - Servicios</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <!-- gestiona  los ejes tematicos-->
        <div id="content" class="grid-container">
            <ezcomp:navAdmin/>  
            <div class="cuerpo">
                <h:form  styleClass="jsfcrud_list_form">
                    <div class="subnav"> 
                        <span class="grid-30">&nbsp;</span>
                        <span class="grid-30"><h:commandLink value="Servicio " action="#{serviciosBean.visualizarListaServiciosDependencia()}"></h:commandLink></span>
                        <span class="grid-30"><h:commandLink value="Eje Tem&aacute;tico " action="#{serviciosBean.verListaEjeTematico()}"></h:commandLink></span>
                        <div class="clear"/>
                    </div>
                </h:form>
                <ezcomp:headContent/>
                <div class=" grid-10">&nbsp;</div>
                <div class="marco grid-70">

                    <div class="panel">
                        <!-- eldiv = 0 lista de servicios n table-->
                        <h:form id="form0" styleClass="jsfcrud_list_form" rendered="#{serviciosBean.elDiv == 0}">
                            <h1>#{serviciosBean.dependenciaFuncionario}</h1>                             
                            <h3><h:outputText value="Servicios que ofrece la dependencia"/></h3>
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                            <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px"
                                         value="#{serviciosBean.verListaServiciosDependenciaFuncionario(serviciosBean.dependenciaFuncionario)}" var="item">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idServicio}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nombre"/>
                                    </f:facet>
                                    <h:outputText value="#{item.nombre}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tiempo Respuesta"/>
                                    </f:facet>
                                    <h:outputText value="#{item.tiempoRespuesta}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Obligatorio"/>
                                    </f:facet>
                                    <h:outputText value="#{item.obligatorio}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Categoria"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idCategoria.nombre}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        &nbsp;&nbsp;<i class="fa fa-eye"></i>
                                    </f:facet>
                                    <h:commandLink  action="#{serviciosBean.visualizarServicio(item)}" >  
                                        &nbsp;&nbsp;&nbsp;<h:graphicImage width="18" height="12" library="images" name="eyes.png"/>
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>
                            <h:panelGrid columns="2" >
                                <h:commandButton class="button" value="Agregar Servicio" action="#{serviciosBean.iniciarServicio()}"/>
                            </h:panelGrid>
                        </h:form>

                        <!-- eldiv = 1 muestra el servicio  seleccionado-->
                        <h:form id="form1" styleClass="jsfcrud_list_form" rendered="#{serviciosBean.elDiv == 1}">  

                            <h3><h:outputText value="Servicios Seleccionado"/></h3>
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                            <h:panelGrid columns="2" >
                                <h:outputLabel value="Id:" for="idServicio" />
                                <h:outputText  id="idServicio" value="#{serviciosBean.servicio.idServicio}" title="IdServicio" />
                                <h:outputLabel value="Servicio:" for="nombre" />
                                <h:outputText id="nombreServicio" value="#{serviciosBean.servicio.nombre}" title="Nombre" />
                                <h:outputLabel value="Tiempo Respuesta:" for="tiempoRespuesta" />
                                <h:outputText  id="tiempoRespuestaServicio" value="#{serviciosBean.servicio.tiempoRespuesta}" title="TiempoRespuesta" />
                                <h:outputLabel value="Obligatorio:" for="obligatorio" />
                                <h:outputText id="obligatorio" value="#{serviciosBean.servicio.obligatorio}" title="Obligatorio" >

                                </h:outputText>
                                <h:outputLabel value="IdCategoria:" for="idCategoria" />
                                <h:outputText id="idCategoriaServicio" value="#{serviciosBean.servicio.idCategoria}" title="IdCategoria" >

                                </h:outputText>
                                <h:outputLabel value="IdDependencia:" for="idDependencia" />
                                <h:outputText id="idDependencia" value="#{serviciosBean.servicio.idDependencia.toString()}" title="IdDependencia" >

                                </h:outputText>
                            </h:panelGrid>

                            <h:panelGrid columns="2">
                                <h:commandButton class="button" value="Editar Servicio" action="#{serviciosBean.verEditarServicio()}"/>
                            </h:panelGrid>

                        </h:form>
                        <!-- eldiv = 2 formulario create update de servicio-->        
                        <h:form id="form2" styleClass="jsfcrud_list_form" rendered="#{serviciosBean.elDiv == 2}"> 

                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                            <h1><h:outputText value="Formulario Servicios"/></h1>
                            <h:panelGrid columns="2" >
                                <h:outputLabel value="Id:" for="idServicio" />
                                <h:inputText disabled="true" id="idServicio" value="#{serviciosBean.servicio.idServicio}" title="IdServicio" required="false" requiredMessage="The IdServicio field is required."/>
                                <h:outputLabel value="Servicio:" for="nombre" />
                                <h:inputText id="nombreServicio" value="#{serviciosBean.servicio.nombre}" title="Nombre" />
                                <h:outputLabel value="Tiempo Respuesta:" for="tiempoRespuesta" />
                                <h:inputText size="4" id="tiempoRespuestaServicio" value="#{serviciosBean.servicio.tiempoRespuesta}" title="TiempoRespuesta" />
                                <h:outputLabel value="Obligatorio:" for="obligatorio" />
                                <h:selectOneMenu id="obligatorio" value="#{serviciosBean.servicio.obligatorio}" title="Obligatorio" >
                                    <f:selectItems value="#{serviciosBean.obligatoriosSiNo}"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="IdCategoria:" for="idCategoria" />
                                <h:selectOneMenu id="idCategoriaServicio" value="#{serviciosBean.servicio.idCategoria}" title="IdCategoria" >
                                    <f:selectItems value="#{categoriaController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="IdDependencia:" for="idDependencia" />
                                <h:outputText id="idDependencia" value="#{serviciosBean.servicio.idDependencia.toString()}" title="IdDependencia" >

                                </h:outputText>
                            </h:panelGrid>


                            <h:commandButton class="button" value="Guardar Datos" action="#{serviciosBean.actualizarCrearServicio()}"/>


                        </h:form>

                        <!-- eldiv = 3 lista eje tematico--> 
                        <h:form id="form3" styleClass="jsfcrud_list_form" rendered="#{serviciosBean.elDiv == 3}">
                            <h3>Lista de  Temas para Servicios de la Dependencia</h3>
                            <h:panelGrid columns="5">
                                <h:selectOneMenu id="idServicioEjeTematico" value="#{serviciosBean.servicio}" title="IdServicio" >                       
                                    <f:selectItems value="#{serviciosBean.verItemsServiciosDedependencia(serviciosBean.dependenciaFuncionario)}"/>
                                    <f:ajax render="srv1 lstTema" execute="@form" onevent="showDateIndicator"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="&nbsp;"/>
                                <h:outputText id="srv1" value="#{serviciosBean.servicio.toString()}"/>
                                <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                <h:commandLink action="#{serviciosBean.verListaEjeTematico()}" value="ver Temas" class="button">
                                    <f:ajax  disabled="true" render="lstTema" execute="@form" onevent="showDateIndicator"/>
                                </h:commandLink>
                            </h:panelGrid>
                            <ezcomp:ajaxGif/>                            

                            <h:dataTable id="lstTema" value="#{serviciosBean.listaTemasDeServicio}" var="item">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idEjeTematico}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tema"/>
                                    </f:facet>
                                    <h:outputText value="#{item.tema}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Descripcion"/>
                                    </f:facet>
                                    <h:outputText value="#{item.descripcion}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tiempo Respuesta"/>
                                    </f:facet>
                                    <h:outputText value="#{item.tiempoRespuesta}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa fa-eye"></i>
                                    </f:facet>
                                    <h:commandLink action="#{serviciosBean.verEjeTematicoSeleccionado(item)}">
                                        &nbsp;&nbsp;&nbsp;<h:graphicImage width="17" height="10" library="images" name="eyes.png"/>
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>


                            <h:commandLink value="Agregar Nuevo Tema" action="#{serviciosBean.nuevoEjeTematico()}" class="button"/>
                        </h:form>
                        <!-- eldiv = 4 ver eje tematico--> 
                        <h:form id="form4" styleClass="jsfcrud_list_form" rendered="#{serviciosBean.elDiv == 4}">
                            <h3>ver  Tema seleccionado</h3>
                            <h:panelGrid columns="2">
                                <h:outputText value="IdEjeTematico:"/>
                                <h:outputText value="#{serviciosBean.ejeTematico.idEjeTematico}" title="IdEjeTematico"/>
                                <h:outputText value="Tema:"/>
                                <h:outputText value="#{serviciosBean.ejeTematico.tema}" title="Tema"/>
                                <h:outputText value="Descripcion:"/>
                                <h:outputText value="#{serviciosBean.ejeTematico.descripcion}" title="Descripcion"/>
                                <h:outputText value="TiempoRespuesta:"/>
                                <h:outputText value="#{serviciosBean.ejeTematico.tiempoRespuesta}" title="TiempoRespuesta"/>
                                <h:outputText value="IdServicio:"/>
                                <h:outputText value="#{serviciosBean.ejeTematico.idServicio}" title="IdServicio"/>
                            </h:panelGrid>
                            <h:commandLink value="Editar Tema" action="#{serviciosBean.irEditarEjeTematico()}" class="button"/>
                        </h:form>

                        <!-- eldiv = 5  crear editart eje tematico-->        
                        <h:form id="form5" styleClass="jsfcrud_list_form" rendered="#{serviciosBean.elDiv == 5}">

                            <h1><h:outputText value="Formulario  Tema"/></h1> 
                            <h:panelGrid columns="2" >
                                <h:outputLabel value="id:" for="idEjeTematico" />
                                <h:inputText disabled="true" id="idEjeTematico" value="#{serviciosBean.ejeTematico.idEjeTematico}" title="IdEjeTematico" required="false" requiredMessage="The IdEjeTematico field is required."/>
                                <h:outputLabel value="Tema:" for="tema" />
                                <h:inputText id="tema" value="#{serviciosBean.ejeTematico.tema}" title="Tema" />
                                <h:outputLabel value="Descripcion:" for="descripcion" />
                                <h:inputTextarea rows="4" cols="30" id="descripcionEjeTematico" value="#{serviciosBean.ejeTematico.descripcion}" title="Descripcion" />
                                <h:outputLabel  value="Tiempo Dias de Respuesta:" for="tiempoRespuesta" />
                                <h:inputText size="5" id="tiempoRespuestaEjeTematico" value="#{serviciosBean.ejeTematico.tiempoRespuesta}" title="TiempoRespuesta" />
                                <h:outputLabel value="Servicio:" for="idServicio" />
                                <h:selectOneMenu id="idServicioEjeTematico" value="#{serviciosBean.ejeTematico.idServicio}" title="IdServicio" >                       
                                    <f:selectItems value="#{serviciosBean.verItemsServiciosDedependencia(serviciosBean.dependenciaFuncionario)}"/>
                                    <f:ajax render="srvej" execute="@form" onevent="showDateIndicator"/>
                                </h:selectOneMenu>
                                <h:outputLabel  value="Servicio:" for="srvej" />
                                <h:outputText id="srvej" value="#{serviciosBean.ejeTematico.idServicio.toString()}"  />
                            </h:panelGrid> 
                            <h:commandButton class="button" value="Guardar Eje Tem&aacute;tico" action="#{serviciosBean.commitEjeTematico()}"/>
                            <ezcomp:ajaxGif/>
                        </h:form>

                    </div>

                </div>

                <div class="clear"/>
            </div>
            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>
        <ezcomp:ajaxScript/>
    </h:body>
</html>

