<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>#{vu.vci}</title> 
        <h:outputStylesheet library="css" name="reset.css"  />        
        <h:outputStylesheet  library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="font-awesome.min.css"  />
        <h:outputStylesheet library="css" name="font-roboto.css"  />
        <h:outputStylesheet library="css" name="media.css"  />
        <h:outputStylesheet library="css" name="#{vu.css1}"  />
        <h:outputScript library="js" name="bootstrap.min.js"/>
        <h:outputScript library="js" name="script.js"/> 
    </h:head>
    <h:body>
        <div id="content" class="container">

            <div id="cabecera" class="row" style="text-align: center">
                <h:form>
                    <span  class="col-xs-2 hidden-xs">
                        <div   id="elTel">8000-258963</div>
                        <div><i onmouseover="mostrar()"  onmouseout="ocultar()"  class="fa fa-phone "></i>
                        </div>
                    </span>

                    <span class="col-xs-2 hidden-xs">
                        <h:commandLink value="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">
                        <h:commandLink title="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}">
                            <i class="fa fa-file-o fa-1x"></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-2 hidden-xs">
                        <h:commandLink value="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">
                        <h:commandLink title="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}">
                            <i class="fa fa-file-text fa-1x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-2 hidden-xs">
                        <h:commandLink value="Mis Datos" action="misDatos"/>
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Mis Datos" action="misDatos">
                            <i class="fa fa-user fa-1x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Salir" action="#{loginBean.logOut()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Salir"  action="#{loginBean.logOut()}">
                            <i class="fa fa-times-circle-o fa-1x"></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-1" style="text-align: right">
                        &nbsp;
                    </span>
                    <span class="col-xs-1 hidden-xs" style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} fa-2x  "></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-1 visible-xs" style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} "></i>
                        </h:commandLink>
                    </span>
                </h:form>
            </div>

            <div class="row cuerpo2" >
                <div id="titulo" class="col-xs-12 hidden-xs" style="color: #fff" >#{vu.vur}</div>
                 <div  id="titulo" class="col-xs-12 visible-xs" style="color: #fff; font-size: 19px" >#{vu.vur}</div>
                <div class="col-xs-2 hidden-xs ">
                    <h:graphicImage  height="100" width="120" name="#{vu.logo}" library="images"/>
                </div>
                <div class="col-xs-1 ">
                    &nbsp;
                </div>
                <div class="col-xs-7 verde ">
                    Hola: #{loginBean.users.idUsuario.nombreCompleto}<br/>
                    BIENVENIDO <br/>
                </div>
                <div class="col-xs-2 ">   &nbsp;  <br/><br/><br/><br/><br/> </div>
                <div class="col-xs-2 " >   &nbsp;   </div>
                <div class="col-xs-9 hidden-xs ">             
                    <div class="verde"><span>Novedades</span><span style="float: right;font-size: 12px;"> Hola: hace #{loginBean.ultimoIngreso()} no se conecta</span>
                        <br/>
                    </div>
                    <div class="ocreClaro"></div>
                </div>
            </div>
            <div class="row" style="margin:-5px 0 0 -23px; width: 100%">
                <div style=" width: 110%" id="pie" class="col-xs-12 visible-xs">&nbsp;<br/>&nbsp;<br/></div>
                <div style=" width: 105%" id="pie" class="col-xs-12 hidden-xs">&nbsp;<br/>&nbsp;<br/></div>
          
            </div>
        </div>
    </h:body>
</html>

