<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Lista Requerimientos</title>
        <h:outputStylesheet library="css" name="reset.css"  />        
        <h:outputStylesheet  library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="font-awesome.min.css"  />
        <h:outputStylesheet library="css" name="font-roboto.css"  />
        <h:outputStylesheet library="css" name="media.css"  />
        <!--h:outputStylesheet  library="css" name="text.css"  /-->
        <h:outputStylesheet library="css" name="#{vu.css1}"  />
        <h:outputScript library="js" name="bootstrap.min.js"/>
        <h:outputScript library="js" name="script.js"/> 
    </h:head>
    <h:body>
        <div id="content" class="container">            
            <div id="cabecera" class="row" >
                <h:form>
                    <span  class="col-xs-2 hidden-xs">
                        <div   id="elTel">&nbsp;&nbsp; 8000-258963&nbsp;&nbsp;</div>
                        <div><i onmouseover="mostrar()"  onmouseout="ocultar()"  class="fa fa-phone fa-2x"></i>
                        </div>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;&nbsp;
                        <h:commandLink value="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;&nbsp;
                        <h:commandLink title="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}">
                            <i class="fa fa-file-o fa-1x"></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}">
                            <i class="fa fa-file-text fa-1x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Mis Datos" action="misDatos"/>
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Mis Datos" action="misDatos">
                            <i class="fa fa-user fa-1x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Salir" action="#{loginBean.logOut()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Salir"  action="#{loginBean.logOut()}">
                            <i class="fa fa-times-circle-o fa-1x"></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-1" style="text-align: right">
                        &nbsp;
                    </span>
                    <span class="col-xs-1 hidden-xs" style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} fa-2x  "></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-1 visible-xs" style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} "></i>
                        </h:commandLink>
                    </span>
                </h:form>
            </div>

            <div id="cuerpo">
                <div class="headContent row">
                    <div id="titulo" class="col-xs-9 hidden-xs" style="color: #3F4036" >
                        ${vu.vur}<br/>
                    </div>
                    <div  id="titulo" class="col-xs-12 visible-xs" style="color: #3F4036; font-size: 18px" >
                        ${vu.vur}<br/>
                    </div>
                    <div style="float: right" class="col-xs-3 hidden-xs">
                        <h:graphicImage  height="100" width="120" name="${vu.logo}" library="images"/>
                    </div>  
                    <div style="margin-left: 55px" class="verde col-xs-8 col-lg-5 col-sm-5 col-md-5">
                        Hola: #{loginBean.users.idUsuario.nombreCompleto}<br/>
                        BIENVENIDO <br/>
                    </div>

                    <div class="col-xs-5 ">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class=" col-xs-1">
                        &nbsp;
                    </div>
                    <div class="marco col-xs-8">
                        <h4>Lista de Requerimientos</h4>
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        <h:form styleClass="jsfcrud_list_form" rendered="#{solicitudBean.elDiv == 0}"> 

                            <h:dataTable class="hidden-xs" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" value="#{solicitudBean.solicitudesCiudadano}" var="item">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="id"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idSolicitud}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Asunto"/>
                                    </f:facet>
                                    <h:outputText value="#{item.concepto}"/>
                                </h:column>
                                <h:column class="hidden-xs">
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value="#{' '}"/>
                                </h:column>
                                <h:column class="hidden-xs">
                                    <f:facet name="header">
                                        <h:outputText value="Creado"/>
                                    </f:facet>

                                    &nbsp;<h:outputText value="#{item.creadoFechaString}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value="#{' '}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vence"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.venceFechaString}"/>
                                </h:column>
                                <h:column class="hidden-xs">
                                    <f:facet name="header">
                                        <h:outputText value="Eje"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idEjeTematico.tema}"/>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Estado"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                                </h:column>
                                <h:column class="hidden-xs">
                                    <f:facet name="header">
                                        <h:outputText value="Solicitud"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                                </h:column >
                                <h:column class="hidden-xs">
                                    <f:facet name="header">
                                        <h:outputText value="Tipo"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idTipoRequerimiento.tipo}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa fa-paperclip fa-2x"></i>
                                    </f:facet>
                                    &nbsp;&nbsp;&nbsp;<h:outputText value="#{solicitudBean.verCantidadArchivosAdjuntos(item)}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa-eye fa"></i>
                                    </f:facet>
                                    <h:commandLink action="#{solicitudBean.verSolicitud(item)}">
                                        <h:graphicImage width="20" height="13" library="images" name="eyes.png"/>
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>
                        
                        
                            <h:dataTable class="visible-xs" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                         border="0" cellpadding="2" cellspacing="0" 
                                         style="border:solid 1px" value="#{solicitudBean.solicitudesCiudadano}" var="item">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="id"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idSolicitud}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Asunto"/>
                                    </f:facet>
                                    <h:outputText value="#{item.concepto}"/>
                                </h:column>
                                
                                
                               
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vence"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.venceFechaString}"/>
                                </h:column>
                                

                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Estado"/>
                                    </f:facet>
                                    &nbsp;<h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                                </h:column>
                               
                               
                                
                                <h:column>
                                    <f:facet name="header">
                                        <i class="fa-eye fa"></i>
                                    </f:facet>
                                    <h:commandLink action="#{solicitudBean.verSolicitud(item)}">
                                        <h:graphicImage width="20" height="13" library="images" name="eyes.png"/>
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>
                        
                        </h:form>
                        <h:panelGroup rendered="#{solicitudBean.elDiv ==1}" >  
                            <h:form styleClass="jsfcrud_list_form" >
                                <div>
                                    <h:panelGrid columns="2" >
                                        <h:outputText value="Id:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                                        <h:outputText value="Concepto :"/>
                                        <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                                        <h:outputText value="Descripcion :"/>
                                        <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                                        <h:outputText value="Creado:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.creadoFechaString} " title="Creado">
                                            <f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
                                        </h:outputText>
                                        <h:outputText value="Vence:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="Vence">
                                            <f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
                                        </h:outputText>
                                        <h:outputText value="Tema:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.tema}" title="IdEjeTematico"/>
                                        <h:outputText value="Ciudadano:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idUsuario.toString()}" title="IdUsuario"/>
                                        <h:outputText value="Estado:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.estado}" title="IdEstadoRequerimiento"/>
                                        <h:outputText value="Tipo Solicitud:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.tipo}" title="IdTipoSolicutd"/>
                                        <h:outputText value="Tipo Requerimiento:&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.tipo}" title="IdTipoRequerimiento"/>
                                        <h:outputText value="IdAsignado:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idAsignado}" title="IdAsignado"/>
                                    </h:panelGrid>  <br/>                          

                                    <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                                 border="0" cellpadding="2" cellspacing="0" 
                                                 style="border:solid 1px" 
                                                 value="#{solicitudBean.listaArchivoDeSolicitud}" var="item">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Id"/>
                                            </f:facet>
                                            &nbsp;&nbsp;<h:outputText value="#{item.idArchivo}"/>&nbsp;&nbsp;
                                        </h:column>

                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Anexos"/>
                                            </f:facet>
                                            &nbsp;&nbsp;<h:outputText value="#{item.adjunto}"/>&nbsp;&nbsp;
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Tipo"/>
                                            </f:facet>
                                            &nbsp;&nbsp;<h:outputText value="#{item.tipoArchivo}"/>&nbsp;&nbsp;
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <i class="fa fa-download "></i>
                                            </f:facet>
                                            &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp;                                    
                                        </h:column>
                                    </h:dataTable>
                                    <br/><h:outputText rendered="#{solicitudBean.aunNoTieneRespuesta()}" value="Aun no hay respuesta para su solicitud"/>
                                    <h:commandLink  rendered="#{solicitudBean.aunNoTieneRespuesta()== false}"  value="verRespuesta" action="#{solicitudBean.verRespuestaDeSolicitud()}" class="button"/>
                                </div>
                            </h:form>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{solicitudBean.elDiv ==8}">
                            <h:form styleClass="jsfcrud_list_form" >
                                <div >
                                    <h1><h:outputText value="Respuesta "/></h1>
                                    <h:panelGrid columns="2">
                                        <h:outputText value="id:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta"/>
                                        <h:outputText value="Fecha:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.fechaString}" title="Fecha"/>
                                        <h:outputText value="Respuesta:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.respuesta}" title="Respuesta"/>
                                        <h:outputText value="Sugerencia:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia"/>
                                        <h:outputText value="TiempoRespuesta:"/>
                                        <h:outputText value="#{solicitudBean.getTiempo(solicitudBean.respuesta.tiempoRespuesta)}" title="TiempoRespuesta"/>
                                        <h:outputText value="Requerimiento:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.idSolicitud}" title="IdSolicitud"/>
                                        <h:outputText value="Funcionario:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.idUsuario.nombreCompleto}" title="IdCargo"/>
                                    </h:panelGrid>

                                    <h:dataTable value="#{solicitudBean.listaArchivoDeRespuesta}" var="item">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="IdArchivo"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idArchivo}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Adjunto"/>
                                            </f:facet>
                                            <h:outputText value="#{item.adjunto}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="TipoArchivo"/>
                                            </f:facet>
                                            <h:outputText value="#{item.tipoArchivo}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <i class="fa fa-download"></i>
                                            </f:facet>
                                            <h:commandLink >                                           
                                                &nbsp;&nbsp;<a target="_blank" href="#{archivoController.linkDescargarArchivo(item)}"><i class="fa fa-cloud-download"></i></a>&nbsp;&nbsp; 
                                            </h:commandLink>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </h:form>
                        </h:panelGroup>

                    </div>
                    <div class=" col-xs-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row" style="margin:-5px 0 0 -23px; width: 100%">
                    <div style=" width: 110%" id="pie" class="col-xs-12 visible-xs">&nbsp;<br/>&nbsp;<br/></div>
                    <div style=" width: 105%" id="pie" class="col-xs-12 hidden-xs">&nbsp;<br/>&nbsp;<br/></div>

                </div>
            </div>
        </div>
    </h:body>
</html>

