<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Mis Datos #{vu.vci} Ciudadano</title>
        <h:outputStylesheet library="css" name="reset.css"  />        
        <h:outputStylesheet  library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="font-awesome.min.css"  />
        <h:outputStylesheet library="css" name="font-roboto.css"  />
        <h:outputStylesheet library="css" name="media.css"  />
        <h:outputStylesheet library="css" name="#{vu.css1}"  />
        <h:outputScript library="js" name="bootstrap.min.js"/>
        <h:outputScript library="js" name="script.js"/> 
    </h:head>
    <h:body>
        <div id="content" class="container">            
            <div id="cabecera" class="row" >
                <h:form>
                    <span  class="col-xs-2 hidden-xs">
                        <div   id="elTel">&nbsp;&nbsp; 8000-258963&nbsp;&nbsp;</div>
                        <div><i onmouseover="mostrar()"  onmouseout="ocultar()"  class="fa fa-phone fa-2x"></i>
                        </div>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;&nbsp;
                        <h:commandLink value="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;&nbsp;
                        <h:commandLink title="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}">
                            <i class="fa fa-file-o fa-1x"></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}">
                            <i class="fa fa-file-text fa-1x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Mis Datos" action="misDatos"/>
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Mis Datos" action="misDatos">
                            <i class="fa fa-user fa-1x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Salir" action="#{loginBean.logOut()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Salir"  action="#{loginBean.logOut()}">
                            <i class="fa fa-times-circle-o fa-1x"></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-1" style="text-align: right">
                        &nbsp;
                    </span>
                    <span class="col-xs-1 hidden-xs" style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} fa-2x  "></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-1 visible-xs" style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} "></i>
                        </h:commandLink>
                    </span>
                </h:form>
            </div>

            <div id="cuerpo">
                <div class="headContent row">
                    <div id="titulo" class="col-xs-9 hidden-xs" style="color: #3F4036" >
                        ${vu.vur}<br/>
                    </div>
                    <div  id="titulo" class="col-xs-12 visible-xs" style="color: #3F4036; font-size: 18px" >
                        ${vu.vur}<br/>
                    </div>
                    <div style="float: right" class="col-xs-3 hidden-xs">
                        <h:graphicImage  height="100" width="120" name="${vu.logo}" library="images"/>
                    </div>  
                    <div style="margin-left: 55px" class="verde col-xs-8 col-lg-5 col-sm-5 col-md-5">
                        Hola: #{loginBean.users.idUsuario.nombreCompleto}<br/>
                        BIENVENIDO <br/>
                    </div>

                    <div class="col-xs-5 ">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class=" col-xs-1">
                        &nbsp;
                    </div>
                    <div class="marco col-xs-7">
                        <div class="">
                            <h:panelGrid columns="3">
                                <h:outputText value="IdUsuario:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{loginBean.usuario.idUsuario}" title="IdUsuario"/>
                                <h:outputText value="Nombre:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{loginBean.usuario.nombre}" title="Nombre"/>
                                <h:outputText value="Segundo Nombre:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{loginBean.usuario.otroNombre}" title="OtroNombre"/>
                                <h:outputText value="Apellido:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{loginBean.usuario.apellido}" title="Apellido"/>
                                <h:outputText value="Segundo Apellido:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{loginBean.usuario.otroApellido}" title="OtroApellido"/>
                                <h:outputText value="N° Documento: "/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{loginBean.usuario.docId}" title="DocId"/>
                                <h:outputText value="Tipo Documento:"/>
                                <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                <h:outputText value="#{loginBean.usuario.tipoDoc}" title="TipoDoc"/>
                            </h:panelGrid>
                        </div>

                    </div><br/>
                    <div class=" col-xs-1">
                        &nbsp;
                    </div>
                    <div class="marcoOscuro  col-xs-3">
                        <h:form>
                            <h:panelGrid columns="1">
                                <h:commandLink value="Cambiar Contrase&ntilde;a">
                                    <i class="fa fa-key"></i>
                                </h:commandLink>
                                <h:commandLink value="Editar Mis Datos">
                                    <i class="fa fa-user"></i>
                                </h:commandLink>
                                <h:commandLink value="Editar Direcci&oacute;n">
                                    <i class="fa fa-home"></i>
                                </h:commandLink>
                            </h:panelGrid>
                        </h:form>
                    </div>
                    <div class=" col-xs-1">
                        &nbsp;
                    </div>

                </div><br/><br/>
                <div class="row" style="margin:-5px 0 0 -23px; width: 100%">
                    <div style=" width: 110%" id="pie" class="col-xs-12 visible-xs">&nbsp;<br/>&nbsp;<br/></div>
                    <div style=" width: 105%" id="pie" class="col-xs-12 hidden-xs">&nbsp;<br/>&nbsp;<br/></div>

                </div>
            </div>
        </div>
    </h:body>
</html>

