<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp">
    <h:head>
        <title>Nuevo Requerimiento</title>
        <h:outputStylesheet library="css" name="reset.css"  />        
        <h:outputStylesheet  library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="font-awesome.min.css"  />
        <h:outputStylesheet library="css" name="font-roboto.css"  />
        <h:outputStylesheet library="css" name="media.css"  />
        <!--h:outputStylesheet  library="css" name="text.css"  /-->
        <h:outputStylesheet library="css" name="#{vu.css1}"  />
        <h:outputScript library="js" name="bootstrap.min.js"/>
        <h:outputScript library="js" name="script.js"/> 
    </h:head>
    <h:body>
        <div id="content" class="container">            
            <div id="cabecera" class="row" >
                <h:form>
                    <span  class="col-xs-2 hidden-xs">
                        <div   id="elTel">&nbsp;&nbsp; 8000-258963&nbsp;&nbsp;</div>
                        <div><i onmouseover="mostrar()"  onmouseout="ocultar()"  class="fa fa-phone fa-2x"></i>
                        </div>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;&nbsp;
                        <h:commandLink value="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;&nbsp;
                        <h:commandLink title="Nueva Solicitud" action="#{solicitudBean.nuevaSolicitud()}">
                            <i class="fa fa-file-o fa-1x"></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Lista de Solicitudes" action="#{solicitudBean.verRequerimientosCiuidadano()}">
                            <i class="fa fa-file-text fa-1x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Mis Datos" action="misDatos"/>
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Mis Datos" action="misDatos">
                            <i class="fa fa-user fa-1x"></i>
                        </h:commandLink>
                    </span>

                    <span class="col-xs-2 hidden-xs">&nbsp;
                        <h:commandLink value="Salir" action="#{loginBean.logOut()}"/>&nbsp;
                    </span>
                    <span class="col-xs-2 visible-xs">&nbsp;
                        <h:commandLink title="Salir"  action="#{loginBean.logOut()}">
                            <i class="fa fa-times-circle-o fa-1x"></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-1" style="text-align: right">
                        &nbsp;
                    </span>
                    <span class="col-xs-1 hidden-xs" style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} fa-2x  "></i>
                        </h:commandLink>
                    </span>
                    <span class="col-xs-1 visible-xs" style="text-align: right">
                        <h:commandLink action="ciudadano">
                            <i class="fa #{vu.home} "></i>
                        </h:commandLink>
                    </span>
                </h:form>
            </div>

            <div id="cuerpo">
                <div class="headContent row">
                    <div id="titulo" class="col-xs-9 hidden-xs" style="color: #3F4036" >
                        ${vu.vur}<br/>
                    </div>
                    <div  id="titulo" class="col-xs-12 visible-xs" style="color: #3F4036; font-size: 18px" >
                        ${vu.vur}<br/>
                    </div>
                    <div style="float: right" class="col-xs-3 hidden-xs">
                        <h:graphicImage  height="100" width="120" name="${vu.logo}" library="images"/>
                    </div>  
                    <div style="margin-left: 55px" class="verde col-xs-8 col-lg-5 col-sm-5 col-md-5">
                        Hola: #{loginBean.users.idUsuario.nombreCompleto}<br/>
                        BIENVENIDO <br/>
                    </div>

                    <div class="col-xs-5 ">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class=" col-xs-1">
                        &nbsp;
                    </div>
                    <div class="marco col-xs-8">
                        <h3>Nuevo Requerimiento Ciudadano</h3>
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        <h:form id="form">
                            <h:panelGrid columns="2">
                                <h:outputLabel value="IdSolicitud:" for="idSolicitud" />
                                <h:inputText disabled="true" id="idSolicitud" value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud" required="true" requiredMessage="The IdSolicitud field is required."/>
                                <h:outputLabel value="Asunto:" for="concepto" />
                                <h:inputText size="65"  id="concepto" value="#{solicitudBean.solicitud.concepto}" title="Concepto" />
                                <h:outputLabel value="Descripcion:" for="descripcion" />
                                <h:inputTextarea    rows="4" cols="30" id="descripcion" value="#{solicitudBean.solicitud.descripcion}" title="Descripcion" />
                                <h:outputLabel value="Dependencia: " for="idDependencia" />
                                <h:selectOneMenu id="idDependencia" value="#{solicitudBean.dependencia}" title="Dependencia" >
                                    <f:selectItems value="#{dependenciaController.itemsAvailableSelectOne}"/>
                                    <f:ajax render="idEjeTematico" execute="@form" onevent="showDateIndicator" />
                                </h:selectOneMenu>
                                <h:outputLabel value="Tema: " for="idEjeTematico" />
                                <h:selectOneMenu id="idEjeTematico" value="#{solicitudBean.solicitud.idEjeTematico}" title="IdEjeTematico" >
                                    <f:selectItems value="#{solicitudBean.itemsEjeTematicoDedependencia}"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="Tipo Requerimiento:" for="idTipoRequerimiento" />
                                <h:selectOneMenu id="idTipoRequerimiento" value="#{solicitudBean.solicitud.idTipoRequerimiento}" title="IdTipoRequerimiento" >
                                    <f:selectItems value="#{tipoRequerimientoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </h:panelGrid>

                            <ezcomp:ajaxGif/>
                            <!-- Sigue  binding="{subirArchivosBean.adjuntosDataTable}" -->
                            <div style="padding: 20px" id="marcoDiv">  

                                <h:panelGrid columns="1"  bgcolor="#ebf1f6" >
                                    <h:outputText value="Haga click en agregar para anexar un  Archivo"/>
                                    <h:panelGroup id="grp">                                        
                                        <h:dataTable id="adjuntos" value="#{subirArchivosBean.entradaActual.adjuntos}"   var="a" >
                                            <h:column>
                                                <i class="fa fa-paperclip fa-2x"></i>
                                            </h:column>
                                            <h:column>
                                                &nbsp; &nbsp;
                                            </h:column>
                                            <h:column>
                                                <h:outputText  value="#{a.nombreAdjunto}" />
                                            </h:column>
                                        </h:dataTable>
                                        <h:button  class="button2" title="Agregar Archivo" image="../../images/fa-upload-1.png"   onclick='window.open("#{facesContext.externalContext.requestContextPath}/servlet/uploadCiu/form", "archivo Excel", "width=500,height=200")'/>
                                        &nbsp;  &nbsp; &nbsp; &nbsp;
                                        <br/><br/>
                                    </h:panelGroup>
                                    <h:commandButton class="button" value="Enviar Requerimiento" action="#{solicitudBean.actualizarCrearSolicitud('listaRequerimientos')}" />

                                    <h:commandButton style="visibility:hidden" value="Recargar..." id="recargar" class="button">
                                        <f:ajax render="grp" execute="@form" onevent="showDateIndicator"/>
                                    </h:commandButton>
                                    <h:commandLink class="button" value="Limpiar Formulario" action="#{solicitudBean.visualizarNuevaSolicitud()}"></h:commandLink>
                                </h:panelGrid>

                            </div>
                        </h:form>
                        <!--fin subir archivo-->
                    </div>
                    <div class=" col-xs-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row" style="margin:-5px 0 0 -23px; width: 100%">
                    <div style=" width: 110%" id="pie" class="col-xs-12 visible-xs">&nbsp;<br/>&nbsp;<br/></div>
                    <div style=" width: 105%" id="pie" class="col-xs-12 hidden-xs">&nbsp;<br/>&nbsp;<br/></div>

                </div>
            </div>
        </div>

    </h:body>
</html>

