<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"          
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp">
    <h:head>
        <title>Nuevo Requerimiento</title>
        <ezcomp:estilos/>
         <h:outputStylesheet library="css" name="media.css"  />
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navCiudadano/>
            <div id="cuerpo" class="grid-99">
                <ezcomp:headContent/>
                <div class="marco">
                    <h2>Nuevo Requerimiento Ciudadano</h2>
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    <h:form id="form">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="IdSolicitud:" for="idSolicitud" />
                            <h:inputText disabled="true" id="idSolicitud" value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud" required="true" requiredMessage="The IdSolicitud field is required."/>
                            <h:outputLabel value="Asunto:" for="concepto" />
                            <h:inputText size="65"  id="concepto" value="#{solicitudBean.solicitud.concepto}" title="Concepto" />
                            <h:outputLabel value="Descripcion:" for="descripcion" />
                            <h:inputTextarea    rows="4" cols="30" id="descripcion" value="#{solicitudBean.solicitud.descripcion}" title="Descripcion" />
                            <h:outputLabel value="Dependencia: " for="idDependencia" />
                            <h:selectOneMenu id="idDependencia" value="#{solicitudBean.dependencia}" title="Dependencia" >
                                <f:selectItems value="#{dependenciaController.itemsAvailableSelectOne}"/>
                                <f:ajax render="idEjeTematico" execute="@form" onevent="showDateIndicator" />
                            </h:selectOneMenu>
                            <h:outputLabel value="Tema: " for="idEjeTematico" />
                            <h:selectOneMenu id="idEjeTematico" value="#{solicitudBean.solicitud.idEjeTematico}" title="IdEjeTematico" >
                                <f:selectItems value="#{solicitudBean.itemsEjeTematicoDedependencia}"/>
                            </h:selectOneMenu>
                            <h:outputLabel value="Tipo Requerimiento:" for="idTipoRequerimiento" />
                            <h:selectOneMenu id="idTipoRequerimiento" value="#{solicitudBean.solicitud.idTipoRequerimiento}" title="IdTipoRequerimiento" >
                                <f:selectItems value="#{tipoRequerimientoController.itemsAvailableSelectOne}"/>
                            </h:selectOneMenu>
                        </h:panelGrid>

                        <ezcomp:ajaxGif/>
                      <!-- Sigue  binding="{subirArchivosBean.adjuntosDataTable}" -->
                            <div style="padding: 20px" id="marcoDiv">  

                                <h:panelGrid columns="1"  bgcolor="#ebf1f6" >
                                    <h:outputText value="Haga click en agregar para anexar un  Archivo"/>
                                    <h:panelGroup id="grp">                                        
                                        <h:dataTable id="adjuntos" value="#{subirArchivosBean.entradaActual.adjuntos}"   var="a" >
                                            <h:column>
                                                <i class="fa fa-paperclip fa-2x"></i>
                                            </h:column>
                                            <h:column>
                                                &nbsp; &nbsp;
                                            </h:column>
                                            <h:column>
                                                <h:outputText  value="#{a.nombreAdjunto}" />
                                            </h:column>
                                        </h:dataTable>
                                        <h:button  class="button2" title="Agregar Archivo" image="../../images/fa-upload-1.png"   onclick='window.open("#{facesContext.externalContext.requestContextPath}/servlet/uploadCiu/form", "archivo Excel", "width=500,height=200")'/>
                                        &nbsp;  &nbsp; &nbsp; &nbsp;
                                        <br/><br/>
                                    </h:panelGroup>
                                    <h:commandButton class="button" value="Enviar Requerimiento" action="#{solicitudBean.actualizarCrearSolicitud('listaRequerimientos')}" />

                                    <h:commandButton style="visibility:hidden" value="Recargar..." id="recargar" class="button">
                                        <f:ajax render="grp" execute="@form" onevent="showDateIndicator"/>
                                    </h:commandButton>
                                    <h:commandLink class="button" value="Limpiar Formulario" action="#{solicitudBean.visualizarNuevaSolicitud()}"></h:commandLink>
                                </h:panelGrid>

                            </div>
                    </h:form>
                    <!--fin subir archivo-->
                </div>
            </div>
            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>
        <ezcomp:ajaxScript/>

    </h:body>
</html>

