<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="misDatos"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <div class=" grid-10">&nbsp;</div>
        <div class="marco grid-50">
            <div class="panel">
                <h:panelGrid columns="3">
                    <h:outputText value="IdUsuario:"/>
                    <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                    <h:outputText value="#{loginBean.usuario.idUsuario}" title="IdUsuario"/>
                    <h:outputText value="Nombre:"/>
                    <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                    <h:outputText value="#{loginBean.usuario.nombre}" title="Nombre"/>
                    <h:outputText value="Segundo Nombre:"/>
                    <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                    <h:outputText value="#{loginBean.usuario.otroNombre}" title="OtroNombre"/>
                    <h:outputText value="Apellido:"/>
                    <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                    <h:outputText value="#{loginBean.usuario.apellido}" title="Apellido"/>
                    <h:outputText value="Segundo Apellido:"/>
                    <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                    <h:outputText value="#{loginBean.usuario.otroApellido}" title="OtroApellido"/>
                    <h:outputText value="N° Documento: "/>
                    <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                    <h:outputText value="#{loginBean.usuario.docId}" title="DocId"/>
                    <h:outputText value="Tipo Documento:"/>
                    <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                    <h:outputText value="#{loginBean.usuario.tipoDoc}" title="TipoDoc"/>
                </h:panelGrid>
            </div>

        </div>
        <div class="grid-5">&nbsp;</div>
        <div class="marcoOscuro grid-20">
            <h:panelGrid columns="1">
                <h:commandLink value="Cambiar Contrase&ntilde;a">
                    <i class="fa fa-key"></i>
                </h:commandLink>
                <h:commandLink value="Editar Mis Datos">
                    <i class="fa fa-user"></i>
                </h:commandLink>
                <h:commandLink value="Editar Direcci&oacute;n">
                    <i class="fa fa-home"></i>
                </h:commandLink>
            </h:panelGrid>
        </div>
    </cc:implementation>
</html>