<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="navFuncionario"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
            <div id="cabecera" class="grid-99" >
                <span  id="tel" class="grid-15">
                    <div  class="fa" id="elTel">&nbsp;&nbsp; 8000-258963&nbsp;&nbsp;</div>
                    <i style="transform: translate(0px);"  onmouseover="mostrar()"  onmouseout="ocultar()" id="tel" class="fa fa-phone fa-2x"></i>
                </span>
                <span class="grid-20">&nbsp;
                    <h:commandLink value="V ú R" action="#{solicitudBean.buscarSolicitud()}"/>&nbsp;
                </span>
                <span class="grid-20">&nbsp;&nbsp;
                    <h:commandLink value="Respondidos" action="#{solicitudBean.vistaRespondidos()}"/> 
                    &nbsp;</span>
                <!--span class="grid-15">&nbsp;
                    <h:commandLink value="Buscar" action="{solicitudBean.buscarSolicitud()}"/>&nbsp;
                </span--> 
                <span class="grid-20">&nbsp;
                    <h:commandLink value="Mis Datos" action="misDatos"/>
                </span>
                <span class="grid-15">&nbsp;
                    <h:commandLink value="Salir" action="#{loginBean.logOut()}"/>&nbsp;
                </span>
                <span style="float: right;padding-right: 10px">
                    <h:commandLink action="funcionario">
                        <i class="fa #{vu.home} fa-2x grid-5"></i>
                    </h:commandLink>
                </span>
                <div class="clear"/>
            </div>                
        </h:form>
        <script type="text/javascript">
            var w = window.innerWidth;
            w += 1;
            var x = 780;
            function getMobil() {                
                if (x > w) {                 
                 redireccionar();
                }
            }
            getMobil();
            function redireccionar() {
                window.location = "mb_responder.xhtml";
            }
        </script>

    </cc:implementation>
</html>