<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="navInicio"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
            <div id="cabecera" class="grid-100" >
                <span  class="grid-20 cel escritorio">
                    <div  class="fa" id="elTel">&nbsp;&nbsp; 8000-258963&nbsp;&nbsp;</div>
                    <i onmouseover="mostrar()"  onmouseout="ocultar()" id="tel" class="fa fa-phone fa-2x"></i>
                </span>
                <span class="grid-15 cel escritorio">&nbsp;&nbsp;
                    <h:commandLink value="Inicio" action="inicio"/>
                    &nbsp;</span>
                <span class="grid-15 cel escritorio">&nbsp;
                    <h:commandLink value="FAQ" action="PreguntasFrecuentes"/>&nbsp;</span>
                <span class="grid-15 cel escritorio">&nbsp;
                    <h:commandLink value="Informaci&oacute;n" action="Informacion"/>&nbsp;</span>
                <span class="grid-15 cel escritorio">&nbsp;
                    <h:commandLink value="Ayuda" action="Ayuda"/>&nbsp;</span>

                <span class="grid-15 cel escritorio">&nbsp;
                    <h:commandLink value="Registrese" action="#{gestionUsuarioBean.irFormularioCrearUsuario()}"/>                               
                </span >
                <span class="grid-5 "><i class="fa #{vu.home} fa-2x "></i></span>
                <div class="clear"/>
            </div>
        </h:form>
    </cc:implementation>
</html>