<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp">
    <h:head>
        <title>Nuevo Requerimiento #{vu.vci} Funcionario</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <div id="content" class="  grid-container">
            <ezcomp:navFuncionario/>
            <div class="cuerpo"> 
                <ezcomp:navSolicitudFunc/>
                <ezcomp:headContent/>
                <div class="grid-5">&nbsp;</div>
                <div class="marco grid-80">
                    <h2>Nuevo Requerimiento Funcionario</h2>
                    <ezcomp:ajaxGif/>
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    <h:form id="form" >
                        Ingrese el Documento de Identidad del Ciudadano<br/>
                        <h:inputText class="sombraInset"  value="#{solicitudBean.docid}" rendered="#{solicitudBean.elDiv == 0}"/>
                        &nbsp; &nbsp; &nbsp; &nbsp;<h:commandLink action="#{solicitudBean.buscarCiudadano()}" value="Verificar Ciudadano en el Sistema" class="button" rendered="#{solicitudBean.elDiv == 0}"/>
                        &nbsp;<br/>
                        <h:commandLink class="button" rendered="#{solicitudBean.elDiv==10}" value="Ingresar datos de Ciudadano"  action="#{solicitudBean.ingresarNuevoCiudadano()}"/>
                        <h:commandLink class="button" rendered="#{solicitudBean.elDiv == 11}" value="Ingrese la Solicitud"  action="#{solicitudBean.ingresarNuevaSolicitud()}"/>
                        <br/><br/><br/>
                        <span style="color: green">
                            <h:outputLabel rendered="#{solicitudBean.elDiv ==1}" value="Solicitud para: #{solicitudBean.ciudadano.nombreCompleto}"/> 
                        </span>                        
                        <h:panelGrid columns="2" rendered="#{solicitudBean.elDiv ==1 }">
                            <h:outputLabel value="Radicado:" for="idSolicitud" />
                            <h:inputText disabled="true" id="idSolicitud" value="#{solicitudBean.solicitud.idSolicitud}" title="Radicado" required="true" requiredMessage="The IdSolicitud field is required."/>
                            <h:outputLabel value="Asunto:" for="concepto" />
                            <h:inputText size="65"  id="concepto" value="#{solicitudBean.solicitud.concepto}" title="Concepto" />
                            <h:outputLabel value="Descripcion:" for="descripcion" />
                            <h:inputTextarea    rows="4" cols="30" id="descripcion" value="#{solicitudBean.solicitud.descripcion}" title="Descripcion" />
                             <h:outputText value="Creado:"/>
                             <h:outputText value="#{solicitudBean.solicitud.creadoFechaDate}"/>
                                
                            <h:outputText value="Vence:"/>
                            <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="Vence"/>
                                
                            <h:outputLabel value="Dependencia: " for="idDependencia" />
                            <h:selectOneMenu id="idDependencia" value="#{solicitudBean.dependencia}" title="Dependencia" >
                                <f:selectItems value="#{dependenciaController.itemsAvailableSelectOne}"/>
                                <f:ajax render="idEjeTematico" execute="@form" onevent="showDateIndicator" />
                            </h:selectOneMenu>
                            <h:outputLabel value="Tema: " for="idEjeTematico" />
                            <h:selectOneMenu id="idEjeTematico" value="#{solicitudBean.solicitud.idEjeTematico}" title="IdEjeTematico" >
                                <f:selectItems value="#{solicitudBean.itemsEjeTematicoDedependencia}"/>
                            </h:selectOneMenu>

                            <h:outputLabel value="Tipo Solicitud:" for="Tipo Solicitud" />
                            <h:selectOneMenu id="idTipoSolicitud" value="#{solicitudBean.solicitud.idTipoSolicutd}" title="IdTipoSolicitud" >
                                <f:selectItems value="#{tipoSolicitudController.itemsAvailableSelectOne}"/>
                            </h:selectOneMenu>
                            <h:outputLabel value="Tipo " for="idTipoRequerimiento" />
                            <h:selectOneMenu id="idTipoRequerimiento" value="#{solicitudBean.solicitud.idTipoRequerimiento}" title="idTipoRequerimiento" >
                                <f:selectItems value="#{tipoRequerimientoController.itemsAvailableSelectOne}"/>
                            </h:selectOneMenu>
                            <h:outputLabel value="Estado" for="idEstadoRequerimiento" />
                            <h:selectOneMenu id="idEstadoRequerimiento" value="#{solicitudBean.solicitud.idEstadoRequerimiento}" title="idEstadoRequerimiento" >
                                <f:selectItems value="#{estadoRequerimientoController.itemsEstadosDeRequerimiento}"/>
                            </h:selectOneMenu>

                            <h:outputLabel value="Ciudadano: " for="nombreCompleto" />
                            <h:outputText id="nombreCompleto" value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="nombreCompleto" >

                            </h:outputText>
                        </h:panelGrid>
                        <ezcomp:ajaxGif/>
                        <!-- Sigue subir archivo -->
                        <div style="padding: 20px" id="marcoDiv">
                            <h:panelGrid columns="1"  bgcolor="#ebf1f6" rendered="#{solicitudBean.elDiv ==1 }">
                                <h:outputText value="Haga click en agregar para anexar un  Archivo"/>
                                <h:panelGroup id="grp">                                        
                                    <h:dataTable id="adjuntos" value="#{subirArchivosBean.entradaActual.adjuntos}" var="a" >
                                        <h:column>
                                            <i class="fa fa-paperclip fa-2x"></i>
                                        </h:column>
                                        <h:column>
                                            &nbsp; &nbsp;
                                        </h:column>
                                        <h:column>
                                            <h:outputText  value="#{a.nombreAdjunto}" />
                                        </h:column>

                                    </h:dataTable>
                                    <h:button  class="button2" title="Agregar Archivo" image="../../images/fa-upload-1.png"   onclick='window.open("#{facesContext.externalContext.requestContextPath}/servlet/uploadFunc/form", "archivo Excel", "width=500,height=200")'/>
                                    &nbsp;  &nbsp; &nbsp; &nbsp;
                                    <br/><br/>
                                </h:panelGroup>

                                <h:commandButton class="button" value="Enviar Requerimiento" action="#{solicitudBean.actualizarCrearSolicitud('buscarSolicitud')}" rendered="#{solicitudBean.elDiv ==1 }"/>

                                <h:commandButton style="visibility:hidden" value="Recargar..." id="recargar" class="button">
                                    <f:ajax render="grp" execute="@form" onevent="showDateIndicator"/>
                                </h:commandButton>
                                <h:commandLink class="button" value="Limpiar Formulario" action="#{solicitudBean.visualizarNuevaSolicitud()}"></h:commandLink>
                            </h:panelGrid>

                        </div>

                    </h:form>
                    <h:form id="formCiu" rendered="#{solicitudBean.elDiv == 2}">
                        <!--formulario de ingreso de datos de ciudadano-->                   
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        <h:panelGrid id="forlu" columns="3">
                            <h:outputLabel for="id1" value="Id:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText disabled="true" id="id1" value="#{gestionUsuarioBean.currentUsuario.idUsuario}"/>

                            <h:outputLabel for="nombre1" value="Primer Nombre:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="nombre1" value="#{gestionUsuarioBean.currentUsuario.nombre}"/>

                            <h:outputLabel for="nombre2" value="Segundo Nombre:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="nombre2" value="#{gestionUsuarioBean.currentUsuario.otroNombre}"/>

                            <h:outputLabel for="apellido1" value="Primer Apellido:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="apeliido1" value="#{gestionUsuarioBean.currentUsuario.apellido}"/>

                            <h:outputLabel for="apeliido2" value="Segundo Apellido:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="apeliido2" value="#{gestionUsuarioBean.currentUsuario.otroApellido}"/>

                            <h:outputLabel for="tdocumento" value="Tipo documento:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="tdocumento" value="#{gestionUsuarioBean.currentUsuario.tipoDoc}">
                                <f:selectItems value="#{gestionUsuarioBean.tipoDocumento}"/>
                            </h:selectOneMenu>

                            <h:outputLabel for="documento" value="No. Documento:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText disabled="true" id="documento" value="#{gestionUsuarioBean.currentUsuario.docId}"/>

                            <h:outputLabel for="grupo" value="Grupo:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText disabled="true" id="grupo" value="#{gestionUsuarioBean.currentUsuario.grupo}"/>

                            <h:outputLabel for="correo" value="E-Mail:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="correo" value="#{gestionUsuarioBean.currentUsers.mail}"/>

                            <h:outputLabel for="rol" value="Rol:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText disabled="true" id="rol" value="#{gestionUsuarioBean.currentUsers.rol}"/>

                            <h:outputLabel for="telefono" value="Tel&eacute;fono:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="telcasa" value="#{gestionUsuarioBean.selectedCurrentDireccion.telCasa}"/>

                            <h:outputLabel for="web" value="Pagina Web:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="web" value="#{gestionUsuarioBean.selectedCurrentDireccion.web}"/>

                             <h:outputLabel for="pais" value="Pa&iacute;s:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="pais" value="#{ciudadController.pais}">
                                <f:selectItems value="#{paisController.itemsAvailableSelectOne}"/>
                                <f:ajax render="dep paisR" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>

                            <h:outputLabel for="dep" value="Departamento" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="dep" value="#{ciudadController.departamento}">
                                <f:selectItems value="#{ciudadController.itemsDepartamentoDePais}"/>
                                <f:ajax render="ciu depR forlu" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>

                            <h:outputLabel for="ciu" value="Municipio:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="ciu" value="#{ciudadController.ciudad}">
                                <f:selectItems value="#{ciudadController.itemsCiudadDeDepartamento}"/>
                                 <f:ajax render="lug ciudR forlu" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>
                            <h:outputLabel for="lug" value="Lugar:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="lug" value="#{gestionUsuarioBean.lugar}">
                                <f:selectItems value="#{ciudadController.itemsLugarDeCiudad}"/>
                                <f:ajax render="forlu" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>
                            
                            <h:outputLabel for="tipl1" value="Tipo Lugar:" />
                            <h:outputLabel value="#{'   '}" />        
                            <h:outputText id="tipl1" value="#{gestionUsuarioBean.lugar.idTipoLugar.nombre}"/>
                            
                            <h:outputLabel for="direccion" value="Direccion:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="direccion" value="#{gestionUsuarioBean.selectedCurrentDireccion.direccion}"/>

                             
                            <h:outputText style="visibility: hidden" id="paisR" value="#{ciudadController.pais.nombre}" />
                            <h:outputText style="visibility: hidden" id="depR" value="#{ciudadController.departamento.nombre}" />
                            <h:outputText style="visibility: hidden" id="ciudR" value="#{ciudadController.ciudad.nombre}" />
                         </h:panelGrid>
                        <h:commandButton class="button" action="#{solicitudBean.crearUsuarioCiudadano('nuevoRequerimiento')}" value="Agregar Nuevo Ciudadano" rendered="#{solicitudBean.elDiv==2}"/>                   
                    </h:form>
                </div>
                <div  class="clear"/>
            </div>
            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
        </div>
        <ezcomp:ajaxScript/>
    </h:body>
</html>

