<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Respuesta</title>
        <ezcomp:estilos/>
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navFuncionario/>
            <div id="cuerpo" >
                <ezcomp:headContent/>    
                <div class=" grid-5">&nbsp;</div>

                <div class="marco grid-80">
                    <div class="panel">
                        <ezcomp:ajaxGif/>
                        <h:form id="form" > 
                            <h:panelGroup rendered="#{solicitudBean.elDiv==0}">
                                <h:panelGrid columns="4" id="pnl">
                                    <h:outputLabel value="Estado: "/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                    <h:selectOneMenu id="Estado" value="#{solicitudBean.estado}"  >
                                        <f:selectItems value="#{estadoRequerimientoController.itemsAvailableSelectOne}"/>
                                        <f:ajax render="form" execute="@form" onevent="showDateIndicator" />
                                    </h:selectOneMenu>
                                    <h:outputText value="#{solicitudBean.estado.estado}"/>
                                    <h:outputLabel value="Mes: "/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                    <h:selectOneMenu id="Mes" value="#{solicitudBean.mes}" >
                                        <f:selectItems value="#{vurUtilBean.itemMeses}"/>
                                        <f:ajax render="form" execute="@form" onevent="showDateIndicator" />
                                    </h:selectOneMenu>
                                    <h:outputText value="#{solicitudBean.mes}"/>
                                    <h:outputLabel value="Fecha Referencia: "/>
                                    <h:outputLabel value="&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                    <h:selectOneMenu id="fa" value="#{solicitudBean.fechaReferencia}" >
                                        <f:selectItems value="#{vurUtilBean.itemFechaReferencia}"/>
                                        <f:ajax render="form" execute="@form" onevent="showDateIndicator" />
                                    </h:selectOneMenu>
                                    <h:outputText value="#{solicitudBean.fechaReferencia}"/>
                                </h:panelGrid>
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Total V ú R en estado #{solicitudBean.estado} del Mes de #{solicitudBean.mes}:  N°  "/>
                                    <h:outputText value="#{solicitudBean.countSolicitudesMesSegunEstado} "/>
                                </h:panelGrid>
                                <h:panelGrid columns="2" rendered="#{solicitudBean.allSolicitudesMesSegunEstado.size()>0}">

                                    <h:dataTable rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" 
                                                 border="0" cellpadding="2" cellspacing="0" 
                                                 style="border:solid 1px" value="#{solicitudBean.allSolicitudesMesSegunEstado}" var="item"
                                                 >
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Id"/>
                                            </f:facet>                                            
                                            &nbsp;&nbsp;&nbsp; <h:outputText value="#{item.idSolicitud}"/>&nbsp;                                            

                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Asunto"/>
                                            </f:facet>                                
                                            &nbsp;&nbsp;&nbsp;<h:outputText value="#{item.concepto}"/> &nbsp;                                                           
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="&nbsp;"/>
                                            </f:facet>
                                            <h:outputText value="#{' '}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Creado"/>
                                            </f:facet>

                                            <h:outputText value="#{item.creadoFechaString}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="&nbsp;"/>
                                            </f:facet>
                                            <h:outputText value="#{' '}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Vence"/>
                                            </f:facet>
                                            <h:outputText value="#{item.venceFechaString}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Tema"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idEjeTematico.tema}"/>
                                        </h:column>

                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Estado"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idEstadoRequerimiento.estado}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Solicitud"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idTipoSolicutd.tipo}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Tipo"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idTipoRequerimiento.tipo}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <i class='fa fa-eye'></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                            </f:facet>                                
                                            <h:commandLink rendered="#{solicitudBean.visualizarBotonRespondido(item)}" action="#{solicitudBean.verSolicitudRespondido(item)}">
                                                &nbsp; &nbsp;<h:graphicImage height="13" width="20" library="images" name="eyes.png"/>
                                            </h:commandLink>
                                        </h:column>
                                    </h:dataTable>
                                </h:panelGrid>
                            </h:panelGroup>
                        </h:form>
                        <h:form id="form1">
                            <!-- Para pasar la solicitud de resuelto a entregado -->
                            <h:panelGroup rendered="#{solicitudBean.elDiv==1}"> 
                                <h:panelGrid class="grid-40">
                                    <h:panelGrid columns="2" >
                                        <h:outputText value="IdRespuesta:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.idRespuesta}" title="IdRespuesta"/>
                                        <h:outputText value="Fecha:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.fechaString}" title="FechaString"/>
                                        <h:outputText value="EntregadoString:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.entregadoString}" title="EntregadoString"/>
                                        <h:outputText value="Respuesta:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.respuesta}" title="Respuesta"/>
                                        <h:outputText value="Sugerencia:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.sugerencia}" title="Sugerencia"/>
                                        <h:outputText value="IdSolicitud:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.idSolicitud}" title="IdSolicitud"/>
                                        <h:outputText value="Tiempo Respuesta:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.tiempoRespuesta}" title="TiempoRespuesta"/>
                                        <h:outputText value="Ciudadano: "/>
                                        <h:outputText value="#{solicitudBean.respuesta.idUsuario}" title="IdUsuario"/>
                                        <h:outputText value="Tipo Entrega:"/>
                                        <h:selectOneMenu value="#{solicitudBean.respuesta.idTipoEntrega}" title="IdTipoEntrega">
                                            <f:selectItems value="#{tipoEntregaController.itemsAvailableSelectOne}"/>
                                        </h:selectOneMenu>
                                        <h:outputText value="&nbsp;"/>
                                        <h:outputText value="#{solicitudBean.respuesta.idTipoEntrega.nombre}"/>
                                        <h:commandLink action="#{solicitudBean.actualizarRespuestaSolicitud()}" value="Actualizar" class="button"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <div class="grid-15">&nbsp;</div>
                                <h:panelGrid class="grid-40">

                                    <h:panelGrid columns="2" >
                                        <h:outputText value="IdRadicado:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                                        <h:outputText value="Asunto:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                                        <h:outputText value="Descripcion:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                                        <h:outputText value="Creado:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.creadoFechaString}" title="CreadoFechaString"/>
                                        <h:outputText value="Vence:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="VenceFechaString"/>
                                        <h:outputText value="Ultima Actualizacion:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.ultimaActualizacionFechaString}" title="UltimaActualizacion"/>
                                        <h:outputText value="tema"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.tema}" title="IdEjeTematico"/>
                                        <h:outputText value="Ciudadano:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="IdUsuario"/>
                                        <h:outputText value="Estado:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idEstadoRequerimiento.estado}" title="IdEstadoRequerimiento"/>
                                        <h:outputText value="Tipo:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.tipo}" title="IdTipoSolicutd"/>
                                        <h:outputText value="IdTipoRequerimiento:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.tipo}" title="IdTipoRequerimiento"/>
                                        <h:outputText value="&nbsp;"/>
                                        <h:outputText value="&nbsp;"/>

                                    </h:panelGrid> 
                                </h:panelGrid>
                            </h:panelGroup>

                        </h:form>
                        <h:form id="form2">
                            <!-- Para pasar la solicitud de  entregado a archivdo -->
                            <h:panelGroup rendered="#{solicitudBean.elDiv==2}">
                                <h:panelGrid>
                                    <h:panelGrid columns="2" class="grid-80">
                                        <h:outputText value="IdRadicado:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idSolicitud}" title="IdSolicitud"/>
                                        <h:outputText value="Asunto:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.concepto}" title="Concepto"/>
                                        <h:outputText value="Descripcion:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.descripcion}" title="Descripcion"/>
                                        <h:outputText value="Creado:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.creadoFechaString}" title="CreadoFechaString"/>
                                        <h:outputText value="Vence:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.venceFechaString}" title="VenceFechaString"/>
                                        <h:outputText value="Ultima Actualizacion:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.ultimaActualizacionFechaString}" title="UltimaActualizacion"/>

                                        <h:outputText value="Entregado :"/>
                                        <h:outputText value="#{solicitudBean.respuesta.entregadoString}" title="UltimaActualizacion"/>
                                        <h:outputText value="Archivado:"/>
                                        <h:outputText value="#{solicitudBean.respuesta.archivadoString}" title="UltimaActualizacion"/>

                                        <h:outputText value="tema"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idEjeTematico.tema}" title="IdEjeTematico"/>
                                        <h:outputText value="Ciudadano:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idUsuario.nombreCompleto}" title="IdUsuario"/>
                                        <h:outputText value="Estado:"/>
                                        <h:selectOneMenu value="#{solicitudBean.solicitud.idEstadoRequerimiento}" title="IdEstadoRequerimiento">
                                            <f:selectItems value="#{estadoRequerimientoController.itemsAvailableSelectOne}"/>
                                        </h:selectOneMenu>
                                        <h:outputText value="Tipo:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idTipoSolicutd.tipo}" title="IdTipoSolicutd"/>
                                        <h:outputText value="IdTipoRequerimiento:"/>
                                        <h:outputText value="#{solicitudBean.solicitud.idTipoRequerimiento.tipo}" title="IdTipoRequerimiento"/>
                                        <h:outputText value="&nbsp;"/>
                                        <h:outputText value="&nbsp;"/>
                                        <h:commandLink action="#{solicitudBean.archivarRespuestaSolicitud()}" value="Archivar" class="button"/>

                                    </h:panelGrid>
                                </h:panelGrid>
                            </h:panelGroup>
                        </h:form>
                    </div>
                </div>

                <div class="clear"/>
            </div>
            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
            <div class="clear"/>
        </div>
        <ezcomp:ajaxScript/>
    </h:body>
</html>

