<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{vu.vci} Super - Instituci&oacute;n</title>
        <ezcomp:estilos/>  
        <h:outputStylesheet library="css" name="estilo.css"  />
    </h:head>
    <h:body>
        <div id="content" class="grid-container">
            <ezcomp:navSuper/>
            <div class="cuerpo">
                <h:form styleClass="jsfcrud_list_form">
                    
                        <div class="subnav">
                            <span class="grid-10">&nbsp;</span>
                            <span class="grid-30"><h:commandLink value="Instituci&oacute;n " action="#{gestionInstitucionBean.irInstitucion()}"></h:commandLink></span>
                            <span class="grid-30"><h:commandLink value="Dependencias " action="#{gestionDependenciaBean.irDependencia()}"></h:commandLink></span>
                            <span class="grid-20"><h:commandLink value="Cargos " action="#{gestionCargoBean.verCargos()}"></h:commandLink></span>
                            <div class="clear"/> 
                        </div>
                </h:form>
                <ezcomp:headContent/>
                <!-- Crear Institución -->
                <div class=" grid-10">&nbsp;</div>
                <div class="marco grid-70">
                    <h:form styleClass="jsfcrud_list_form">
                        <div class="panel">
                            <h:panelGrid columns="2" rendered="#{gestionInstitucionBean.elDiv == 1}">
                                <h1><h:outputText value="Formulario Crear Instituci&oacute;n"/></h1>
                                <h:outputLabel/>
                                <h:outputLabel value="IdInstitucion:" for="idInstitucion" />
                                <h:inputText id="idInstitucioncrear" value="#{gestionInstitucionBean.institucion.idInstitucion}" title="IdInstitucion"/>
                                <h:outputLabel value="Nombre:" for="nombre" />
                                <h:inputText id="nombrecrear" value="#{gestionInstitucionBean.institucion.nombre}" title="Nombre" />
                                <h:outputLabel value="Tipo:" for="tipo" />
                                <h:inputText id="tipocrear" value="#{gestionInstitucionBean.institucion.tipo}" title="Tipo" />
                                <h:outputLabel value="Caracter:" for="caracter" />
                                <h:inputText id="caractercrear" value="#{gestionInstitucionBean.institucion.caracter}" title="Caracter" />
                                <h:outputLabel value="Direccion:" for="direccion" />
                                <h:inputText id="direccioncrear" value="#{gestionInstitucionBean.institucion.direccion}" title="Direccion" />
                                <h:outputLabel value="Telefono:" for="telefono" />
                                <h:inputText id="telefonocrear" value="#{gestionInstitucionBean.institucion.telefono}" title="Telefono" />
                                <h:outputLabel value="Fax:" for="fax" />
                                <h:inputText id="faxcrear" value="#{gestionInstitucionBean.institucion.fax}" title="Fax" />
                                <h:outputLabel value="Web:" for="web" />
                                <h:inputText id="webcrear" value="#{gestionInstitucionBean.institucion.web}" title="Web" />
                                <h:outputLabel value="LinkVur:" for="linkVur" />
                                <h:inputText id="linkVurcrear" value="#{gestionInstitucionBean.institucion.linkVur}" title="LinkVur" />
                            </h:panelGrid>
                            <h:commandLink class="button" value="crear" action="#{gestionInstitucionBean.crearActualizarInstitucion()}" rendered="#{gestionInstitucionBean.elDiv == 1}"/>

                            <!-- Ver Institución -->
                            <h:panelGrid columns="2" rendered="#{gestionInstitucionBean.elDiv == 2}">
                                <h:outputLabel value="IdInstitucion:" for="idInstitucion" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.idInstitucion}" title="IdInstitucion"/>
                                <h:outputLabel value="Nombre:" for="nombre" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.nombre}" title="Nombre" />
                                <h:outputLabel value="Tipo:" for="tipo" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.tipo}" title="Tipo" />
                                <h:outputLabel value="Caracter:" for="caracter" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.caracter}" title="Caracter" />
                                <h:outputLabel value="Direccion:" for="direccion" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.direccion}" title="Direccion" />
                                <h:outputLabel value="Telefono:" for="telefono" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.telefono}" title="Telefono" />
                                <h:outputLabel value="Fax:" for="fax" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.fax}" title="Fax" />
                                <h:outputLabel value="Web:" for="web" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.web}" title="Web" />
                                <h:outputLabel value="LinkVur:" for="linkVur" />
                                <h:outputText value="#{gestionInstitucionBean.institucion.linkVur}" title="LinkVur" />
                            </h:panelGrid>
                            <h:commandLink class="button" value="Editar" action="#{gestionInstitucionBean.cargarVistaEditar()}" rendered="#{gestionInstitucionBean.elDiv == 2}"/>

                            <!-- Modificar Institución -->
                            <h:panelGrid columns="2" rendered="#{gestionInstitucionBean.elDiv == 3}">
                                <h1><h:outputText value="Formulario Editar Instituci&oacute;n"/></h1>
                                <h:outputLabel/>
                                <h:outputLabel value="IdInstitucion:" for="idInstitucion" />
                                <h:inputText disabled="true" id="idInstitucioneditar" value="#{gestionInstitucionBean.institucion.idInstitucion}" title="IdInstitucion"/>
                                <h:outputLabel value="Nombre:" for="nombre" />
                                <h:inputText id="nombreeditar" value="#{gestionInstitucionBean.institucion.nombre}" title="Nombre" />
                                <h:outputLabel value="Tipo:" for="tipo" />
                                <h:selectOneMenu id="tipoeditar" value="#{gestionInstitucionBean.institucion.tipo}" title="Tipo" >
                                    <f:selectItems value="#{gestionInstitucionBean.itemsTipoInstitucion}"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="Caracter:" for="caracter" />
                                <h:selectOneMenu id="caractereditar" value="#{gestionInstitucionBean.institucion.caracter}" title="Caracter" >
                                    <f:selectItems value="#{gestionInstitucionBean.itemsCaracterInstitucion}"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="Direccion:" for="direccion" />
                                <h:inputText id="direccioneditar" value="#{gestionInstitucionBean.institucion.direccion}" title="Direccion" />
                                <h:outputLabel value="Telefono:" for="telefono" />
                                <h:inputText id="telefonoeditar" value="#{gestionInstitucionBean.institucion.telefono}" title="Telefono" />
                                <h:outputLabel value="Fax:" for="fax" />
                                <h:inputText id="faxeditar" value="#{gestionInstitucionBean.institucion.fax}" title="Fax" />
                                <h:outputLabel value="Web:" for="web" />
                                <h:inputText id="webeditar" value="#{gestionInstitucionBean.institucion.web}" title="Web" />
                                <h:outputLabel value="LinkVur:" for="linkVur" />
                                <h:inputText id="linkVureditar" value="#{gestionInstitucionBean.institucion.linkVur}" title="LinkVur" />
                            </h:panelGrid>
                            <h:commandLink class="button" value="actualizar" action="#{gestionInstitucionBean.crearActualizarInstitucion()}" rendered="#{gestionInstitucionBean.elDiv == 3}"/>
                        </div>
                    </h:form>
                    <div class="clear"/>
                </div>
                <div class="clear"/>


            </div>
            <div class="clear"/>

            <div id="pie" class="grid-99">&nbsp;<br/>&nbsp;<br/></div>
            <div class="clear"/>
        </div>
    </h:body>

</html>

