<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp">
    <h:head>
        <title>Registro de usuario</title>
        <ezcomp:estilos/>
        <h:outputStylesheet library="css" name="estilo.css"  />
        <h:outputStylesheet library="css" name="media.css"  />
    </h:head>
    <h:body>
        <div id="content" class="grid-container">

            <ezcomp:navInicio/>

            <div style="font-size: 14px;" id="cuerpo" class="grid-99">
                <div id="titulo" class="grid-99 cel escritorio">Registro de Usuario en el Sistema de #{vu.vur} </div>
                <div id="titulo" class="grid-99">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>

                    <h:form id="slt">
                        <h5 class="cel escritorio">Actua en representaci&oacute;n propia o de una empresa?</h5>
                        <h6 class="cel escritorio">Seleccione   Jur&iacute;dica si representa una Instituci&oacute;n?</h6>
                        <h:panelGrid class="cel escritorio"  columns="3">
                            <h:outputText value="&nbsp;&nbsp;&nbsp;"/>
                            <h:selectBooleanCheckbox value="#{gestionUsuarioBean.juridica}">                               
                                <h:outputText value="Persona Juridica"/>
                                <f:ajax render="tipoPer" execute="@form" onevent="showDateIndicator"/>
                            </h:selectBooleanCheckbox>
                        </h:panelGrid>
                        <ezcomp:ajaxGif/>
                        <span style="font-size: 22px;"><h:outputText value="Registro de Persona "/>
                            <h:outputText id="tipoPer" value="#{gestionUsuarioBean.verJuridicoNatural()} "/>
                        </span><br/>
                        <span class="cel escritorio" style="font-size: 14px;">Digite el Documento de Identidad de la persona </span>
                        <span class="cel escritorio" style="font-size: 14px;">o empleado que va a hacer el registro</span><br/>
                        <span style="font-size: 14px;">Esta persona podra hacer seguimiento a las solicitudes creadas por él</span>
                        <br/><br/>
                        <h:panelGrid columns="3"  rendered="#{gestionUsuarioBean.elDiv==0}">
                            <h:outputLabel for="doiden" value="Doc Identidad:" />
                            <h:inputText id="doiden" value="#{gestionUsuarioBean.docId}"/>
                            <h:outputLabel  value="&nbsp;&nbsp;&nbsp;" />
                            <h:outputLabel  value="&nbsp;&nbsp;&nbsp;" />
                            <h:commandLink value="Consultar" action="#{gestionUsuarioBean.verifiqueUsuarioCiudadanoDocId()}" class="button">
                            </h:commandLink>
                        </h:panelGrid>
                        <!-- Ingresa datos de Persona de usuario-->
                        <h:messages id="aler" errorStyle="color: red" infoStyle="color: green" layout="table"/>

                        <h:panelGrid id="forlu" columns="3" rendered="#{gestionUsuarioBean.elDiv==1}">
                            <h:outputLabel for="id1" value="Id:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText disabled="true" id="id1" value="#{gestionUsuarioBean.currentUsuario.idUsuario}"/>

                            <h:outputLabel for="nombre1" value="Primer Nombre:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="nombre1" value="#{gestionUsuarioBean.currentUsuario.nombre}"/>

                            <h:outputLabel for="nombre2" value="Segundo Nombre:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="nombre2" value="#{gestionUsuarioBean.currentUsuario.otroNombre}"/>

                            <h:outputLabel for="apellido1" value="Primer Apellido:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="apellido1" value="#{gestionUsuarioBean.currentUsuario.apellido}"/>

                            <h:outputLabel for="apeliido2" value="Segundo Apellido:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="apeliido2" value="#{gestionUsuarioBean.currentUsuario.otroApellido}"/>

                            <h:outputLabel for="tdocumento" value="Tipo documento:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="tdocumento" value="#{gestionUsuarioBean.currentUsuario.tipoDoc}">
                                <f:selectItems value="#{gestionUsuarioBean.tipoDocumento}"/>
                            </h:selectOneMenu>

                            <h:outputLabel for="documento" value="No. Documento:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText disabled="true" id="documento" value="#{gestionUsuarioBean.currentUsuario.docId}"/>

                            <h:outputLabel for="grupo" value="Grupo:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText disabled="true" id="grupo" value="#{gestionUsuarioBean.currentUsuario.grupo}"/>

                            <h:outputLabel for="correo" value="E-Mail:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="correo" value="#{gestionUsuarioBean.currentUsers.mail}"/>

                            <h:outputLabel for="rol" value="Rol:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText disabled="true" id="rol" value="#{gestionUsuarioBean.currentUsers.rol}"/>

                            <h:outputLabel for="telefono" value="Tel&eacute;fono:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="telefono" value="#{gestionUsuarioBean.selectedCurrentDireccion.telCasa}"/>

                            <h:outputLabel for="web" value="Pagina Web:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="web" value="#{gestionUsuarioBean.selectedCurrentDireccion.web}"/>

                            <h:outputLabel for="pais" value="Pa&iacute;s:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="pais" value="#{ciudadController.pais}">
                                <f:selectItems value="#{paisController.itemsAvailableSelectOne}"/>
                                <f:ajax render="dep paisR" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>

                            <h:outputLabel for="dep" value="Departamento" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="dep" value="#{ciudadController.departamento}">
                                <f:selectItems value="#{ciudadController.itemsDepartamentoDePais}"/>
                                <f:ajax render="ciu depR forlu" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>

                            <h:outputLabel for="ciu" value="Municipio:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="ciu" value="#{ciudadController.ciudad}">
                                <f:selectItems value="#{ciudadController.itemsCiudadDeDepartamento}"/>
                                <f:ajax render="lug ciudR forlu" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>
                            <h:outputLabel for="lug" value="Lugar:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:selectOneMenu id="lug" value="#{gestionUsuarioBean.lugar}">
                                <f:selectItems value="#{ciudadController.itemsLugarDeCiudad}"/>
                                <f:ajax render="forlu" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>

                            <h:outputLabel for="tipl1" value="Tipo Lugar:" />
                            <h:outputLabel value="#{'   '}" />        
                            <h:outputText id="tipl1" value="#{gestionUsuarioBean.lugar.idTipoLugar.nombre}"/>

                            <h:outputLabel for="direccion" value="Direccion:" />
                            <h:outputLabel value="#{'   '}" />
                            <h:inputText id="direccion" value="#{gestionUsuarioBean.selectedCurrentDireccion.direccion}"/>


                            <h:outputText style="visibility: hidden" id="paisR" value="#{ciudadController.pais.nombre}" />
                            <h:outputText style="visibility: hidden" id="depR" value="#{ciudadController.departamento.nombre}" />
                            <h:outputText style="visibility: hidden" id="ciudR" value="#{ciudadController.ciudad.nombre}" />
                        </h:panelGrid>
                        <h:panelGrid rendered="#{gestionUsuarioBean.elDiv==1}">
                            <h:commandButton class="button" action="#{gestionUsuarioBean.creacionCiudadano()}" value="Registrarme" rendered="#{gestionUsuarioBean.juridica == false}" />
                            <h:commandButton class="button" action="#{gestionUsuarioBean.creacionCiudadanoJuridico()}" rendered="#{gestionUsuarioBean.juridica}" value="Continuar" />
                        </h:panelGrid>
                        <h:panelGrid rendered="#{gestionUsuarioBean.elDiv==20}">
                            Usted ya esta en el sistema, vaya a inicio para el ingreso
                        </h:panelGrid>

                        <!-- Ingresa datos de Persona Juridica-->

                        <h1><h:outputText value="Verificar Instituci&oacute;n" rendered="#{gestionUsuarioBean.elDiv==2}"/></h1>
                        <h:panelGrid columns="4" rendered="#{gestionUsuarioBean.elDiv==2}">
                            <h:outputLabel for="nit" value="Nit:" />
                            <h:inputText id="nitdoid" value="#{gestionUsuarioBean.docId}"/>
                            <h:outputLabel  value="&nbsp;&nbsp;&nbsp;" />
                            <h:commandLink value="Consultar" action="#{gestionUsuarioBean.verificarNitJuridico()}" class="button">
                                <f:ajax render="slt" execute="@form" onevent="showDateIndicator"/>
                            </h:commandLink>
                        </h:panelGrid>
                        <h:panelGrid columns="2" rendered="#{gestionUsuarioBean.elDiv==3}">
                            <h:outputLabel value="Idempjuridico:" for="idempjuridico" />
                            <h:inputText id="idempjuridico" value="#{gestionUsuarioBean.empJuridico.idempjuridico}" title="Idempjuridico" required="true" requiredMessage="The Idempjuridico field is required."/>
                            <h:outputLabel value="Razonsocial:" for="razonsocial" />
                            <h:inputText id="razonsocial" value="#{gestionUsuarioBean.empJuridico.razonsocial}" title="Razonsocial" />
                            <h:outputLabel value="Nit:" for="nit" />
                            <h:inputText id="nit" value="#{gestionUsuarioBean.empJuridico.nit}" title="Nit" />
                            <h:outputLabel value="Direccion:" for="direccion" />
                            <h:inputText id="direccionn" value="#{gestionUsuarioBean.empJuridico.direccion}" title="Direccion" />
                            <h:outputLabel value="Tel:" for="tel" />
                            <h:inputText id="tel" value="#{gestionUsuarioBean.empJuridico.tel}" title="Tel" />
                            <h:outputLabel value="Mail:" for="mail" />
                            <h:inputText id="mail" value="#{gestionUsuarioBean.empJuridico.mail}" title="Mail" />
                            <h:outputLabel value="Web:" for="web" />
                            <h:inputText id="web1" value="#{gestionUsuarioBean.empJuridico.web}" title="Web" />
                            <h:commandLink action="#{gestionUsuarioBean.crearEmpJuridico()}"  value="Agregar Instituci&oacute;n" class="button">
                                <f:ajax render="slt" execute="@form" onevent="showDateIndicator"/>
                            </h:commandLink>
                        </h:panelGrid>
                        <h:panelGrid  rendered="#{gestionUsuarioBean.elDiv==4}">
                            <h3><h:outputLabel  value="Instituci&oacute;n" />
                                <h:outputText value="#{gestionUsuarioBean.empJuridico.razonsocial}"/></h3>
                        </h:panelGrid>
                        <h:panelGrid columns="2" rendered="#{gestionUsuarioBean.elDiv==4}">
                            <h:outputLabel value="Id" for="idempjuridico" />
                            <h:outputText id="idempjuridico1" value="#{gestionUsuarioBean.empJuridico.idempjuridico}" title="Idempjuridico" />
                            <h:outputLabel value="RazonSocial:" for="razonsocial" />
                            <h:outputText id="razonsocial1" value="#{gestionUsuarioBean.empJuridico.razonsocial}" title="Razonsocial" />
                            <h:outputLabel value="Nit:" for="nit" />
                            <h:outputText id="nit1" value="#{gestionUsuarioBean.empJuridico.nit}" title="Nit" />
                            <h:outputLabel value="Direccion:" for="direccion" />
                            <h:outputText id="direccionn1" value="#{gestionUsuarioBean.empJuridico.direccion}" title="Direccion" />
                            <h:outputLabel value="Telefono:" for="tel" />
                            <h:outputText id="tel1" value="#{gestionUsuarioBean.empJuridico.tel}" title="Tel" />
                            <h:outputLabel value="E-Mail:" for="mail" />
                            <h:outputText id="mail1" value="#{gestionUsuarioBean.empJuridico.mail}" title="Mail" />
                            <h:outputLabel value="Sitio Web:" for="web" />
                            <h:outputText id="webn1" value="#{gestionUsuarioBean.empJuridico.web}" title="Web" />
                            <h:outputLabel  value="&nbsp;" />
                            <h:outputLabel  value="&nbsp;" />
                        </h:panelGrid>

                        <!--h:commandLink action="{gestionUsuarioBean.habilitarOficinaCiudadanoJuridico()}" style="font-size: 14px;"  value="ver-Agregar Dependencias" class="button" rendered="{gestionUsuarioBean.elDiv==4}">
                            <f:ajax render="slt" execute="@form" onevent="showDateIndicator"/>
                        </h:commandLink-->
                        <h:commandLink action="inicio"  value="Terminar" class="button" rendered="#{gestionUsuarioBean.elDiv==4}" style="font-size: 14px;">
                            <f:ajax render="slt" execute="@form" onevent="showDateIndicator"/>
                        </h:commandLink>

                        <!--Seleccionador de  Agregar Oficina
                        <h:panelGrid id="oflis" rendered="{gestionUsuarioBean.elDiv==5}">                         
                            <h:selectOneMenu id="tipl" value="{gestionUsuarioBean.oficina}">
                                <f:selectItems value="{gestionUsuarioBean.itemsOficiasdeEmpJuridico}"/>
                                <f:ajax render="oflis" execute="@form" onevent="showDateIndicator"/>
                            </h:selectOneMenu>
                            <h:commandLink  value="Seleccionar Oficina" rendered="{gestionUsuarioBean.oficina  != null}" class="button">
                                <f:ajax render="slt" execute="@form" onevent="showDateIndicator"/>
                            </h:commandLink>
                            <h:commandLink value="Agregar Nueva Oficina" rendered="{gestionUsuarioBean.oficina  == null}" class="button">
                                <f:ajax render="slt" execute="@form" onevent="showDateIndicator"/>
                            </h:commandLink>
                        </h:panelGrid>-->
                        <!--Solo agrega UsuarioOficina por que Oficina Ya existe
                       <h:panelGrid id="oflis6" rendered="{gestionUsuarioBean.elDiv==6}">
                           <h:outputLabel value="Instituci&oacute;n" for="Insti" />
                           <h:outputText id="Insti" value="{gestionUsuarioBean.empJuridico.razonsocial}" title="Razonsocial" />
                           <h:outputLabel value="Dependencia" for="Depend" />
                           <h:outputText id="Depend" value="{gestionUsuarioBean.oficina.nombre}" title="Oficina" />
                           <h:outputLabel value="Id:" for="idUsuarioOficina" />
                           <h:outputText id="idUsuarioOficina" value="{gestionUsuarioBean.usuarioOficina.idUsuarioOficina}" title="IdUsuarioOficina" />
                           <h:outputLabel value="Fecha Registro:" for="fecharegistro" />
                           <h:outputText id="fecharegistro" value="{gestionUsuarioBean.usuarioOficina.fecharegistro}" title="Fecharegistro">
                               <f:convertDateTime pattern="dd/MM/yyyy"/>
                           </h:outputText> 
                           <h:outputLabel value="Cargo:" for="cargo" />
                           <h:inputText id="cargo" value="{gestionUsuarioBean.usuarioOficina.cargo}" title="Cargo" />

                           <h:commandLink action="{gestionUsuarioBean.agregarUsuarioOficina()}" value="Agregar Referencia Laboral" class="button">
                               <f:ajax render="slt" execute="@form" onevent="showDateIndicator"/>
                           </h:commandLink>
                       </h:panelGrid>-->
                        <!-- agrega UsuarioOficina y Oficina por q no existe
                       <h:panelGrid id="oflis7" rendered="{gestionUsuarioBean.elDiv==7}">
                           <h:outputLabel value="Institucion " for="instt" />
                           <h:outputText id="instt" value="{gestionUsuarioBean.empJuridico.razonsocial}" title="Razonsocial" />
                           <h:outputLabel value="IdOficina:" for="idOficina" />
                           <h:inputText id="idOficina" value="{gestionUsuarioBean.oficina.idOficina}" title="IdOficina" required="true" requiredMessage="The IdOficina field is required."/>
                           <h:outputLabel value="Nombre:" for="nombre" />
                           <h:inputText id="nombre" value="{gestionUsuarioBean.oficina.nombre}" title="Nombre" />
                           <h:outputLabel value="Direccion:" for="direccion" />
                           <h:inputText id="direccion" value="{gestionUsuarioBean.oficina.direccion}" title="Direccion" />
                           <h:outputLabel value="Tel:" for="tel" />
                           <h:inputText id="tel" value="{gestionUsuarioBean.oficina.tel}" title="Tel" />
                           <h:outputLabel value="Mail:" for="mail" />
                           <h:inputText id="mail" value="{gestionUsuarioBean.oficina.mail}" title="Mail" />
                           <h:outputLabel value="IdEmpJuridico:" for="idEmpJuridico" />
                           <h:outputText id="fecharegistro" value="{gestionUsuarioBean.usuarioOficina.fecharegistro}" title="Fecharegistro">
                               <f:convertDateTime pattern="dd/MM/yyyy"/>
                           </h:outputText> 
                           <h:outputLabel value="Cargo:" for="cargo" />
                           <h:inputText id="cargo" value="{gestionUsuarioBean.usuarioOficina.cargo}" title="Cargo" />

                           <h:commandLink action="{gestionUsuarioBean.agregarReferenciaLaboral()}" value="Agregar Referencia Laboral" class="button">
                               <f:ajax render="slt" execute="@form" onevent="showDateIndicator"/>
                           </h:commandLink>>
                      
                       </h:panelGrid>-->
                    </h:form>
                </div>
            </div>
            <div id="pie" class="grid-100">&nbsp;</div>
        </div>
        <ezcomp:ajaxScript/>
    </h:body>
</html>