<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ezcomp="http://java.sun.com/jsf/composite/ezcomp">
    <h:head>
        <title>Informacion V ú R</title>
        <ezcomp:estilos/>
    </h:head>
    <h:body>


        <div id="content" class="grid-container">

            <ezcomp:navInicio/>

            <div id="cuerpo" class="grid-99">Informacion V ú R </div>
            <div id="pie" class="grid-100">&nbsp;</div>
        </div>

        <div  class="grid-container">
            <div class=" grid-100  hide-on-desktop hide-on-tablet">
                todo lo de  mobil
            </div>
            <div class=" grid-50 hide-on-mobile hide-on-desktop">
                todo lo de pára tablet

            </div>
            <div class=" grid-25 hide-on-mobile">
                todo lo de pára escritorio
            </div>
            <div class=" grid-100 hide-on-desktop">
                todo lo de pára solo
            </div>
        </div>
    </h:body>
</html>



