<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>noExiste</title>
    </h:head>
   <h:body styleClass="miBody" style="background-color: fff;">
        <div align="center">
            <div id="contenidotx" style="width: 355px">
               <p align="center" style="color: chocolate; font-size:20px">
                Error 404 La Página no Existe en el Sistema
                
               </p>
                <h:form><h:commandButton image="/resources/images/error404.png" value="error404" action="inicio"/></h:form><br/>
            </div>
        </div>        
    </h:body>
</html>

